body.design_modo {
  
  #content.home {
    ///text-align: center;
    margin: 40px auto;
    padding: 0px;
    
    footer {
      background-color: $clouds;
      color: $concrete;
      padding: 20px;
    }
  
    #home-gallery {
      margin: 0px;
      padding: 0px;
      list-style: none;
      
      &.active {
        > li {
          opacity: 0.2;
          
          &.active {
            opacity: 1.0;
          }
        }
      }
    
      > li {
        position: relative;
        width: 246px;
        height: 246px;
        display: inline-block;
        vertical-align: top;
        margin: 0px;
        padding: 0px;
        margin-right: -5px;
        margin-top: -1px;
        text-align: center;
        //border-left: 1px solid #BDC3C7;
        border: 1px solid $silver;
        //@include transition(all, 0.5s);
        @include box-sizing(border-box);
      
        &.active {
        
          &:after {
            content: '';
            opacity: 0.2;
          }
          
          &:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8) {
            .contents {
              right: 0px;
              left: auto;
            }
          }
        
          .contents {
            display: block;
            left: 0px;
            position: absolute;
            z-index: 100;
            max-height: 600px;
            width: 720px;
            text-align: center;
            padding: 20px;
            background-color: #fff;
            //border: 2px solid $silver;
            border: 20px solid $turquoise;
            overflow: hidden;
            @include box-sizing(border-box);
            
            .details {
              display: block;
            }
          }
        }
      
        /*&:after {
          content: '';
          position: absolute;
          top: 80px;
          left: 0px;
          width: 100%;
          height: 120px;
          background-position: center;
          background-repeat: no-repeat;
        }*/
      
        h2 {
          color: #34495E;
        
          a {
            font-size: 24px;
          }
        }
        
        .contents {
          position: relative;
          overflow: hidden;
          
          .details {
            display: none;            
          }
        
          h3 {
            color: $wet-asphalt;
          }
        
          ul, ol {
            list-style: none;
            margin: 0px;
            padding: 0px;
          
            li {
              border-radius: 5px;
              display: inline-block;
              vertical-align: top;
              width: 200px;
              text-align: left;
              @include box-sizing(border-box);
            }
          }
        }
        
        &#home-home {
          padding: 10px;

          #home-logo {
            display: inline-block;
            width: 105px;
            height: 100px;
            background-image: $modo-icons;
            background-repeat: no-repeat;
            background-position: 0px -80px;
          }

          h1 {
            font-size: 120px;
            line-height: normal;
            margin-bottom: 20px;
          }

          > h2 {
            color: $asbestos;
            font-weight: normal;
            font-size: 24px;
          }

          blockquote {
            color: $concrete;
            font-style: italic;
            font-size: 16px;
            margin-top: -10px;
          }
        }
      
        &#home-events {
          &:after {
            content: '';
            background-image: image-url("modo-calendar.png");
          }
          
          .contents {
            background-color: $turquoise;
          }
        
          .details {
            #services {
              padding: 20px;
              background-color: #fff;
              border-radius: 5px;
            
              h3 {
                margin-top: 0px;
              }
            
              .times {
                font-size: 20px;
              }
            }
          
            li {
              margin-bottom: 30px;
              background-color: $clouds;
              padding: 10px;
              margin: 10px;
              width: 250px;
              height: 100px;
            }
          }
        }
      
        &#home-community {
          &:after {
            content: '';
            background-image: image-url("modo-community.png");
          }
        
          .details {
            li {
              height: 120px;
              
              .page_phrase {
                display: none;
              }
            }
          }
        }
      
        &#home-library {
          &:after {
            content: '';
            background-image: image-url("modo-library.png");
          }
        
          .details {
            li {
              height: 120px;
            }
            h3 {
              margin-top: 0px;
            }
          }
        }
        
        &#home-search.active {
          .contents {
            background-color: $pumpkin;
            border: none;
            border-radius: 6px;
          }
        }
      
        &#home-user {
          #auth {
            float: none;
            margin-top: 40px;
            
            ul {
              display: block;
              margin: 0px;
              padding: 0px;
              
              li {
                display: block;
                border: none;
                margin: 10px;
              
                a {
                  display: inline-block;
                  padding: 12px 18px;
                  background-color: $silver;
                  border-radius: 6px;
                  color: #fff;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  
    #search {
      margin: 20px 0px;
      input[type="search"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 3px;
        border: 1px solid #95A5A6;
        outline: none;
        box-shadow: none;
        font-size: 24px;
      }
    }
  }
}