<%= content_tag_for(:li, fill_form_section) do %>
  <h3><%= fill_form_section.name %></h3>
  <ul class="filled_fields">
    <%= render :partial => 'filled_fields/fill_form_field',
      :collection => fill_form_section.form_fields,
      :locals => {:filled_form => filled_form} %>
    <li class="form_field"></li><!-- to clear -->
  </ul>
<% end %>
