<div class="filled_form_payment">
<% if @filled_form.payment -%>
  <h3>Payment</h3>
  <p>Payed via
    <%= link_to "#{@filled_form.payment.method} on " +
      "#{l(@filled_form.payment.sent_at.to_date, :format => :long)}",
      payment_path(@filled_form.payment) %>.</p>
<% else -%>
  <h3>Payment</h3>
  <p>You will be able to pay online or send in a check.</p>
  <%= form_tag new_payment_path(), :method => :get do %>
    <%= hidden_field_tag :filled_form_id, @filled_form.id %>
    <%= submit_tag 'Payment Options' %>
  <% end %>
<% end -%>
</div>
