<div class="filled_form_payment">
<% if not @filled_form.id -%>
  <h3>Payment Instructions</h3>
  <p>After submitting, you will be given further instructions on how to pay as well as an option to submit additional forms and pay them all together.</p>
<% elsif @filled_form.payment -%>
  <h3>Payment</h3>
  <p>Payed via
    <%= link_to "#{@filled_form.payment.method} on " +
      "#{l(@filled_form.payment.sent_at.to_date, :format => :long)}",
      payment_path(@filled_form.payment) %>.</p>
<% else -%>
  <h3>Payment</h3>
  <p>Whether you wish to pay online or send in a check, please fill out a payment record. You will be able to add other forms you have submitted to your payment there to.</p>
  <%= form_tag new_payment_path(), :method => :get do %>
    <%= hidden_field_tag :filled_form_id, @filled_form.id %>
    <%= submit_tag 'Pay' %>
  <% end %>
<% end -%>
</div>
