<% title @form.name -%>

<%= render :partial => "forms/header" %>

<div id="page_content">
<section>
    
  <%= render 'form' %>

</section>

<aside>
  <%= render :partial => "filled_forms/index" %>
</aside>

</div>