<% title @form.name -%>

<%= render :partial => "forms/header" %>

<div class="regular_content">
<section>
  
  <% if @form.payable? -%>
    <%= render :partial => 'payment_fields' %>
    <hr/>
  <% end -%>
    
  <%= render 'form' %>

</section>

<aside>
  <%= render :partial => "filled_forms/index" %>
</aside>

</div>
