<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% if @form.parent -%>
          <% @parent_columns.each do |column| -%>
          <Cell><Data ss:Type="String"><%= column %></Data></Cell>
          <% end -%>
        <% end -%>
        <% @columns.each do |column| -%>
        <Cell><Data ss:Type="String"><%= column %></Data></Cell>
        <% end -%>
      </Row>
    <% @filled_forms.each do |filled_form| -%>
      <Row>
        <% if @form.parent -%>
          <%= render :partial => 'filled_forms/filled_form_cells',
            :locals => {:form => @form.parent,
              :value_form_fields => @parent_value_form_fields,
              :filled_form => filled_form.parent} %>
        <% end -%>
        <%= render :partial => 'filled_forms/filled_form_cells',
          :locals => {:form => @form,
            :value_form_fields => @value_form_fields,
            :filled_form => filled_form} %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
