<% title @form.name -%>

<%= render :partial => "forms/header" %>

<div class="regular_content mini-aside">
<section>
  <%= render 'form' %>
</section>

<% if current_user -%>
<aside>
  <%= render :partial => "filled_forms/index" %>
</aside>
<% end -%>

</div>
