<!-- <% message ||= @message -%>
<% unless message.audio_message_files.empty? -%>
<audio class="message_audio" controls preload="metadata">
  <% message.audio_message_files.each do |message_file| -%>
    <source src="<%= message_file.file.url %>"
      type="<%= message_file.file.content_type %>" />
    No audio with this browser
  <% end -%>
</audio>
<div class="fallback_mp3 message_audio">
  <% message.audio_message_files.each do |message_file| -%>
    <%= link_to image_tag('audio.png', :size => '16x16') + ' Listen',
      message_file.file.url %>
  <% end -%>
</div>
<% end -%> -->
