<% message ||= @message -%>
<% if message.message_files.empty? -%>
<span class="empty_indicator">(files pending)</span>
<% else -%>
<ul class="message_files">
  <% message.message_files.each do |message_file| -%>
    <% next unless message_file.file.content_type -%>
    <li>
      <% if message_file.audio? -%>
        <%= link_to image_tag('audio.png', :size => '16x16'),
          message_file.file.url %>
      <% else -%>
        <%= link_to image_tag('document.png', :size => '16x16'),
          message_file.file.url %>
      <% end -%>
      <% if message_file.caption and not message_file.caption.empty? -%>
      <%= link_to message_file.caption, message_file.file.url %>
      <% end -%>
    </li>
  <% end -%>
</ul>
<% end -%>
