<% prior_message = nil -%>
<% next_year_countdown = 0 -%>
<% messages.each do |message| -%>

  <% if prior_message and prior_message.date.future? and
    not message.date.future? -%>
  <div id="messages_threshold">
    <div id="mt_future">Upcoming</div>
    <div id="mt_separator"></div>
    <div id="mt_past">Past</div>
  </div>
  <% end -%>
  <% logger.info message.date.year -%>
  <% logger.info prior_message.date.year if prior_message -%>
  <% logger.info next_year_countdown -%>
  <% if (not prior_message or (prior_message and
    message.date.year != prior_message.date.year)) -%>
    <div class="messages_year">
      <%= message.date.year %>
    </div>
    <% next_year_countdown = 8 -%>
  <% end -%>
  <% if not prior_message or message.message_set != prior_message.message_set -%>
    <% if message.message_set -%>
    <h3 class="series_title">
      <%= link_to message.message_set.title,
        series_path(message.message_set) %>
    </h3>
    <% else -%>
    <br />
    <% end -%>
  <% end -%>
  
  <%= render :partial => 'messages/message',
    :locals => {:message => message} %>
    
  <% prior_message = message -%>
  <% next_year_countdown = [0, (next_year_countdown - 1)].max %>
<% end -%>
