<div class="edit_content">
  <section>
    <h1>Editing <%= @message.title %></h1>

    <%= render 'form' %>
  </section>

  <aside>
    <% if @message_file.id -%>
      <%= render :partial => 'message_files/edit' %>
    <% else -%>
      <%= render :partial => 'message_files/new' %>
    <% end -%>
  </aside>
</div>