<% title 'Message Library' -%>

<%= render :partial => 'header' %>

<div id="messages" href="top">
  <%= render :partial => 'messages/messages',
    :locals => {:messages => @messages} %>
  <%= render :partial => 'messages/more_messages' %>
</div>
