#banner {
  position: relative;
  height: 245px;
  background-color: #dfe1db;
  margin-bottom: 25px;
}

#banner_text {
  display: inline-block;
	position: relative;
  vertical-align: top;
	margin-left: 530px;
  padding: 20px 60px 20px 20px;
  font-size: 14px;
  line-height: 22px;
	z-index: 3;
	
	h2 {
    padding: 0px;
    
    a {
      font-size: 25px;
    }
  }
  
  a {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
  }
}

#animated_banners {
  position: relative;
  padding: 0px;
  width: 980px;
  height: 245px;
  
  &:hover, a:hover {
    opacity: 1.0;
  }
  
  .control {
  	display: block;
  	width: 77px;
  	height: 245px;
  	text-indent: -10000px;
  	position: absolute;
  	cursor: pointer;
	}
}

#banner_left_control, #banner_right_control {
	z-index: 4;
}

#banner_left_control {
	top: 0px;
	left: 20px;
	background:transparent image-url("control_left.png") no-repeat scroll center;
}

#banner_right_control {
	top: 0px;
	right: 20px;
	background: transparent image-url("control_right.png") no-repeat scroll center;
}

#animated_banners_list {
	margin:0 auto;
	padding: 0;
	overflow:auto; /* allow scrollbar */
	position:relative;
	height:245px;
}

#animated_banners .slide {
	float: left;
	margin:0 auto;
	width:960px;
	height:245px;
}

#animated_banners .slide_background,
#banner .banner_background {
	position:absolute;
	z-index: 1;
	width: 980px;
	overflow: hidden;
}
