#blog_posts {
  
  div.blog_post {
    margin-bottom: 40px;
    
    div.post_date {
      float: left;
      font-size: 16px;
      color: #999;
      min-width: 120px;
      margin: 7px 10px 10px 0px;
      font-family: 'Century Gothic', 'Lucida Sans', Arial, sans-serif;
    }
  
    h2.post_title {
      a {
        font-size: 24px;
      }
    }
  
    p.post_snippet {
      margin-left: 130px;
    }
  }
}

#blog_nav {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 16px;
  height: 28px;
  margin: 0px 20px 0px 20px;
  color: #999;
  cursor: pointer;
  
  @include respond-to(tiny) {
    margin-left: 0px;
  }
  
  a.icon {
    display: inline-block;
    width: 24px;
    height: 28px;
    padding: 0px;
  }
  
  a.current {
    vertical-align: top;
  }
  
  a.icon.previous {
    //border-right: 1px solid #eee;
    //background: 2px 4px $left-url no-repeat;
    @include icon-image(0px, -52px);
  }
    
  a.icon.next {
    //border-left: 1px solid #eee;
    margin-right: 0px;
    //background: 2px 4px $right-url no-repeat;
    @include icon-image(-26px, -52px);
  }
}
