.add_content {
  margin: 20px 0px;
  //padding: 20px;
  
  &.header_add_content {
		float: right;
		margin: 0px;
	}
}

.edit_content {
  display: block;
  margin-top: 20px;
  
	@include respond-to(normal-up) {
	  white-space: nowrap;
	}
	
  > section {
    
    @include respond-to(normal-up) {
		  display: inline-block;
		  margin-right: -4px;
  		padding: 0px 30px 20px 0px;
  		vertical-align: top;
  		white-space: normal;
  		width: 650px;
		}
		
		header {
      margin-top: 0px;
      
      h2 {
        font-size: 24px;
      }
    }
  }
	
	> aside {
  
	  @include respond-to(normal-up) {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
  		width: 300px;
		}
		
		h4 {
		  margin-top: 0px;
		}
    
    ul#files {
      list-style-type: none;
      margin: 10px 0px;
      padding: 0px;
      
      > li {
        margin-bottom: 10px;
        
        div.page_admin {
          height: auto;
          line-height: normal;
        }
      }
    }
  }
  
  h4 {
		margin-bottom: 0px;
		color: #888;
	}
}

.edit_options label {
  display: inline-block;
  width: auto;
}

.edit_list {
  margin-bottom: 20px;
  
  li {
    padding: 0px;
  
    &.active {
      background-color: $primary-color;
      border-radius: 3px;
      color: #fff;
    
      a, a:hover {
        color: #fff;
      }
    
      .event_range, .role {
        color: #fff;
      }
    }
  }
  
  a {
    display: block;
    padding: 10px 20px;
    
    .event_range, .role {
      color: #333;
    }
  }
}

#indexer, #home_indexer, #parent_indexer {
  position: relative;
	list-style-type: none;
  padding: 0px;
  width: 200px;
  min-height: 70px;
  
  &:before {
    content: '\21f3';
    position: absolute;
    font-size: 64px;
    top: 20px;
    right: 20px;
    color: #eee;
    z-index: 0;
  }
  
  li {
    position: relative;
    border-bottom: 1px solid #eee;
    margin: 0px;
    padding: 5px 10px;
    color: #666;
    cursor: move;
    z-index: 1;
    
    &:last-child {
      border-bottom: none;
    }
    
    &:hover {
      background-color: #f8f8f8;
    }
    
    &.active {
      font-weight: bold;
  		color: #333;
    }
  }
}
