div.page_event {
  div.invitation_response {
    margin-bottom: 40px;
    
    > h3 {
      margin-top: 0px;
    }
    
    .response_option {
      input {
        vertical-align: top;
        position: relative;
        top: 5px;
      }
      
      label {
        font-size: 24px;
      }
    }
    
    .response_note {
      margin: 5px 0px;
    }
  }
  
  div.event_invitations {
    float: right;
  }
}

#page_event_header {
  margin-top: 0px;
  
  div.event_range {
    font-size: 24px;
    color: #999;
  }
  
  div.event_location {
    font-size: 16px;
  }
  
  a.call_to_action {
    display: inline-block;
    margin: 20px 0px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  ul.forms_list {
    list-style-type: none;
    margin: 20px 0px;
    padding: 0px;
    
    a {
      font-size: 16px;
    }
  }
}