.gallery_content {
  list-style: none;
  margin: 20px 0px;
  padding: 0px;
  
  li {
    margin: 20px 0px;
    padding: 0px;
  }
}

.gallery {
  clear: both;
  margin: 0px 0px 20px 0px;
  padding: 0px; /* 20px; */
  list-style-type: none;
  
  > li {
    display: inline-block;
    vertical-align: top;
    margin: 0px 40px 30px 0px;
    padding: 0px;
    
    &.event {
      width: 400px;
    }
  }
  
  .event_name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .event_range, .event_location {
    display: inline-block;
    margin-right: 10px;
  }
}

.edit_gallery {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  background-color: #666;
  padding: 20px;
  
  li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    background-color: #eee;
    
    &.active {
      background-color: #999;
      color: #fff;
      
      a {
        display: none;
      }
    }
    
    .caption {
      display: inline-block;
    }
  }
  
  .page_admin {
    height: 22px;
    line-height: 22px;
    padding-left: 0px;
    
    a {
      padding-left: 10px;
    }
  }
}
