.landing_content {
  display: block;
  padding: 0px;
  list-style: none;
  
  @include respond-to(normal-up) {
    width: 1020px;
    //margin: 0px -20px 0px -20px;
  }
  
  &.primary {
    
    @include respond-to(normal-up) {
      //margin-top: -20px;
    }
    
    > li {
      position: relative;
      
      @include respond-to(small-up) {
        width: 480px;
      }
    }
    
    #text {
      padding: 0px;
      margin-bottom: 10px;
    }
  }
  
  &.secondary {
    > li {
      @include respond-to(small-up) {
        width: 313px;
      }
      @include respond-to(tiny) {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  
  > li {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 0px;
    
    @include respond-to(tiny) {
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 20px;
      margin-right: 0px;
      border-bottom: 1px solid #ddd;
    }
  }
}

.landing_content.secondary .gallery > li {
  margin: 0px 0px 15px 0px;
  
  &.event {
    width: 313px;
  }
}

.landing_content.primary .gallery > li.event {
  width: 480px;
}

.landing_content .sub_pages {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li.landing_sub {
		display: inline-block;
		width: 194px;
		height: 200px;
		overflow: hidden;
		vertical-align: top;
		background-color: #efefef;
		border: 1px solid #fff;
		border-radius: 5px;
		margin: 0px 0px 10px 0px;
	}
}

li.landing_sub .sub_sub_pages {
	padding: 10px;
}
.landing_sub_title {
  color: #fff;
  background-color: #333;
  //background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#333));
  //background: -moz-linear-gradient(100% 100% 90deg, #666, #333);
  
  a {
  	display: block;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
	  padding: 10px;
    -webkit-transition-property:color, background;
    -webkit-transition-duration: 0.2s, 0.4s;
    -webkit-transition-timing-function: linear, ease-in;
    -moz-transition-property:color, background;
    -moz-transition-duration: 0.2s, 0.4s;
   	-moz-transition-timing-function: linear, ease-in;
   	transition-property:color, background;
    transition-duration: 0.2s, 0.4s;
    transition-timing-function: linear, ease-in;
    
    &:hover {
	    color: #333;
			background-color: #ccc;
			text-decoration: none;
	  }
  }
}

.landing_content #child_pages {
  padding: 30px 50px 40px 30px;
  background-color: $tertiary-color;
  }
  .landing_content #child_pages h2 {
    color: #666;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #bbb;
    }
  #child_pages #pages_list {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    }
    #child_pages #pages_list td {
      width: 220px;
      padding: 0px;
      }
    #child_pages #pages_list a {
      font-size: 16px;
      line-height: 28px;
      }

.panel.feature_child {
  width: 313px;
  height: 177px;
  }
  .feature_child_background {
    position:absolute;
	  z-index: 1;
	  width: 317px;
	  overflow: hidden;
    }
  .feature_child_text {
    display: inline-block;
		position: relative;
    vertical-align: top;
		margin-left: 150px;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
		z-index: 3;
    }
    .feature_child_text h2 {
      margin-top: 0px;
      margin-bottom: 5px;
    }
      