.page_map {
  margin: 0px;
  padding: 0px;
  list-style: none;
  
  li {
    display: inline-block;
    margin: 0px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    vertical-align: top;
    
    /* http://www.colourlovers.com/palette/1757420/alive_kicking! */
    /* http://www.colourlovers.com/palette/92095/Giant_Goldfish */
    /* http://www.colourlovers.com/palette/37996/sight_for_sore_eyes */
    /* http://www.colourlovers.com/palette/2923530/w_h_i_r_l */
    &.gallery {
      background-color: #E1C474; /*#f2c783; #69d2e7; #fdeab0;*/
    }
    &.landing {
      background-color: #F0ECC9; /*#ffffc6; #e0e4cc; #fdeab0;*/
    }
    &.regular {
      background-color: #E9E0A9; /* #e1eed2; #a7dbd8; #c1faea;*/
    }
    &.blog, &.forum {
      background-color: #EDDB8F; /*#d3e6b8; #640634; */
    }
    &.private {
      border-left-width: 10px;
      border-color: #8BBF9B; /*#d48a33; #fa6900; #e54702;*/
    }
    &.obscure {
      border-right-width: 10px;
      border-color: #8BBF9B; /*#ff8a00; #f38630; #e54702;*/
    }
  }
}
