.regular_content {
	display: block;
	margin-top: 30px;
	clear: right;
	
	@include respond-to(normal-up) {
	  white-space: nowrap;
	}
	
	section {
		color: #666;
		
		@include respond-to(normal-up) {
		  display: inline-block;
		  margin-right: -4px;
  		padding: 0px 30px 20px 0px;
  		vertical-align: top;
  		white-space: normal;
  		width: 550px;
		}
		
		@include respond-to(tiny) {
		  padding: 0px 0px 20px 0px;
		  border-bottom: 1px solid #ddd;
		}
  }
  
  aside {
    @include respond-to(normal-up) {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
  		width: 400px;
		}
		
		@include respond-to(small-down) {
		  margin-top: 20px;
		}
		
		.page_admin {
		  height: auto;
		  line-height: 22px;
		}
  }
  
  &.full {
    section {
      width: 100%;
    }
    aside {
      display: none;
    }
  }
  
  @include respond-to(small-up) {
    &.mini-aside {
      section {
        width: 750px;
      }
      aside {
        width: 200px;
      }
    }
  }
  
  aside .event_form {
    width: 600px;
    
    h3 {
      margin-top: 0px;
      padding-top: 0px;
    }
  }
}

.regular_aside {
	display: inline-block;
	margin: 0px;
  padding: 0px;
  list-style: none;
  
  @include respond-to(small-up) {
    width: 400px;
  }
  
  @include respond-to(tiny) {
    display: block;
	  padding-top: 15px
	}
	
	.form {
	  width: 300px;
	}
	
	#dynamic_forms_list .form {
    width: auto;
  }
  
  > li {
    display: block;
    margin-bottom: 25px;
    
    @include respond-to(small-up) {
      width: 400px;
    }
    
    @include respond-to(tiny) {
      width: 100%;
    }
  }
}
