/* http://www.ie7nomore.com/fun/slideshow/#slide1 */
#slideshow, #slides_slide, #slides_slide li {
  width: 400px;
	height: 267px;
	
	@include respond-to(tiny) {
	  width: 280px;
	  height: 210px;
	}
}

.primary #slideshow, .primary #slides_slide, .primary #slides_slide li {
  width: 480px;
	height: 320px;
	
	@include respond-to(tiny) {
	  width: 280px;
	  height: 210px;
	}
}

.secondary #slideshow, .secondary #slides_slide, .secondary #slides_slide li {
  width: 313px;
	height: 209px;
	
	@include respond-to(tiny) {
	  width: 280px;
	  height: 210px;
	}
}

#slides_slide li img {
  height: 267px;
}

.primary #slides_slide li img {
  height: 320px;
}

.secondary #slides_slide li img {
  height: 209px;
}

#slideshow {
	position: relative;
	overflow: hidden;
	margin: 0px;
}

#slides_slide, #slides_nav {
  list-style-type: none;
  margin: 0; padding: 0;
}

#slides_slide li {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 0;
	background-color: #fff;
	
	img {
	  display: block;
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transition: 2s;
		-moz-transition: 2s;
		transition: 2s;
		margin: 0px auto;
	}
	
	&.first, &.first img {
		opacity: 1;
	}
	
	&:target {
		z-index: 5;
	}
	
	&:target, &:target img {
		opacity: 1;
		filter:alpha(opacity=100);
	}
}

#slides_nav {
  position: absolute;
  bottom: 7px; left: 2px;
  z-index: 10;
  
  li {
		display: inline;
	}
	
	a {
		padding: 3px 10px;
		margin: 0 0 0 3px;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		background: rgb(0,0,0);
		background: rgba(0,0,0,.2);
		
		html.no-touch &:hover, &:focus {
  		-moz-box-shadow: 0 0 8px #fff;
  		-webkit-box-shadow: 0 0 8px #fff;
  		box-shadow: 0 0 8px #fff;
  		background: rgba(0,0,0,.4);
  		outline: none;
  	}
	}
}

/*
Video sizing
context     video     .video    .media_slideshow
gallery:    400x300   400x~360   400x390
regular:    400x300   400x~370   n/a
primary:    480x360   480x~430   480x460
secondary:  313x235   313x~305   313x335
*/

video, .youtube-player {
  width: 400px;
  height: 300px;
  
  @include respond-to(tiny) {
	  width: 280px;
	  height: 210px;
	}
}

.primary video, .primary .youtube-player {
  width: 480px;
  height: 360px;
  
  @include respond-to(tiny) {
	  width: 280px;
	  height: 210px;
	}
}

.secondary video, .secondary .youtube-player {
  width: 313px;
  height: 235px;
  
  @include respond-to(tiny) {
	  width: 280px;
	  height: 210px;
	}
}

.regular_aside audio {
  width: 400px;
  
  @include respond-to(tiny) {
	  width: 100%;
	}
}

.gallery .audio {
  width: 280px;
}

.primary .video, .primary .audio, .primary audio {
  width: 480px;
  
  @include respond-to(tiny) {
	  width: 280px;
	}
}

.secondary .video, .secondary .audio, .secondary audio {
  width: 313px;
  
  @include respond-to(tiny) {
	  width: 280px;
	}
}

.media_slideshow, .media_slideshow .media_slides_slide,
.media_slides_slide li {
  width: 400px;
  height: 390px;
  
  @include respond-to(tiny) {
	  width: 280px;
	  height: 280px;
	}
}

.primary .media_slideshow, .primary .media_slides_slide,
.primary .media_slides_slide li {
  width: 480px;
	height: 460px;
	
	@include respond-to(tiny) {
	  width: 280px;
	  height: 280px;
	}
}

.secondary .media_slideshow, .secondary .media_slides_slide,
.secondary .media_slides_slide li {
  width: 313px;
	height: 325px;
	
	@include respond-to(tiny) {
	  width: 280px;
	  height: 280px;
	}
}

.audio_slideshow, .audio_slideshow .media_slides_slide,
.audio_slideshow .media_slides_slide li
{
  height: 130px !important;
}
  
.media_slideshow {
	position: relative;
	overflow: hidden;
	margin: 0px;
}

.media_slides_slide, .media_slides_nav {
  list-style-type: none;
  margin: 0; padding: 0;
}

.media_slides_slide li {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 0;
	background-color: #fff;
  display: block;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: 2s;
	-moz-transition: 2s;
	transition: 2s;
	margin: 0px auto;
	
	&.first, &.first video, &.first iframe {
		opacity: 1;
		z-index: 1;
	}
	
	&:target {
		z-index: 5;
	}
	
	&:target, &:target video, &:target iframe {
		opacity: 1;
		filter:alpha(opacity=100);
	}
}

.media_slides_nav {
  position: absolute;
  bottom: 7px; right: 2px;
  z-index: 10;
  
  li {
		display: inline;
	}
	
	a {
		padding: 3px 10px;
		margin: 0 0 0 3px;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		background: rgb(0,0,0);
		background: rgba(0,0,0,.2);
		
		html.no-touch &:hover, &:focus {
  		-moz-box-shadow: 0 0 8px #fff;
  		-webkit-box-shadow: 0 0 8px #fff;
  		box-shadow: 0 0 8px #fff;
  		background: rgba(0,0,0,.4);
  		outline: none;
  	}
	}
}

.votes {
  float: right;
  margin: 5px 0px 10px 20px;
  vertical-align: top;
  
  form {
    display: inline-block;
  }
  
  input[type="submit"], input[type="image"] {
    box-shadow: none;
    border: none;
    padding: 0px;
  }
}
