<% if audios and not audios.empty? -%>
<ul class="gallery">
  <% audios.each do |audio| -%>
  <li>
    <%= render :partial => 'audios/audio', :locals => {:audio => audio} %>
  </li>
  <% end -%>
</ul>
<% end -%>

<%= javascript_tag do %>
  <%= render :partial => 'audios/media_fallback', :formats => [:js] -%>
<% end -%>