<% if @holiday.errors.any? %>
  <div class="form__error-explanation">
    <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

    <ul>
    <% @holiday.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>