<% title "Holidays" -%>

<section>
  
  <%= render :partial => 'site/header' %>
  
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Add Holiday', new_holiday_path %></li>
    </ul>
  </div>
  
  <table id="holidays">
    <% @holidays.each do |holiday| -%>
    <tr>
      <td class="holiday_date"><%= holiday.date.to_time.relative_str %></td>
      <td><%= link_to holiday.name, edit_holiday_path(holiday) %></td>
    </tr>
    <% end -%>
  </table>
  
  <% if @holidays.empty? -%>
  <p class="empty_indicator">No holidays</p>
  <% end -%>

</section>