<% form_field ||= @form_field -%>

<%= label_tag :Options %>
  
<ul id="form_field_<%= form_field.id %>_options"
  class="form_field_options editing">
  <%= render :partial => 'form_field_options/edit',
    :collection => form_field.form_field_options,
    :locals => {:form_field => form_field} %>
</ul>

<div class="add_content">
  <%= button_to 'Add option',
    form_field_options_path(@form, form_field), :remote => true %>
</div>
