<% title('Search') -%>
<header>
  <h1>Search for "<%= @search_text %>"</h1>
</header>

<% if @messages -%>
  <div id="messages">
    <%= render :partial => 'messages/messages',
      :locals => {:messages => @messages} %>
  </div>
<% else -%>

<table id="search_results">
  <% @search.each_hit_with_result do |hit, object| -%>
    <% if object.authorized?(current_user) -%>
    <tr class="search_result">
      <%= render_search_result(object) %>
    </tr>
    <% end -%>
  <% end -%>
</table>

<div id="pagination">
  <%= will_paginate(@search.results) %>
</div>

<% end -%>
