<% title('Search') -%>
<header>
  <h1>Search for "<%= @search_text %>"</h1>
</header>

<% if @messages -%>
  <div id="messages">
    <%= render :partial => 'messages/messages',
      :locals => {:messages => @messages} %>
  </div>
<% elsif @search -%>

<table id="search_results">
  <% @search.results.each do |object| -%>
    <% if object.searchable?(current_user) -%>
    <tr class="search_result">
      <%= render_search_result(object) %>
    </tr>
    <% end -%>
  <% end -%>
</table>

<div id="pagination">
  <%= will_paginate(@search.results) %>
</div>
<% else -%>

<p>Please enter a search term.</p>

<% end -%>
