<% title "Newsletters" -%>

<section>
  
  <%= render :partial => 'site/header' %>
  
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Add Newsletter', new_newsletter_path %></li>
    </ul>
  </div>
  
  <table id="newsletters" class="grid">
    <% rows = array_to_rows(@newsletters) -%>
    <% rows.each do |row| -%>
      <tr>
      <% row.each do |newsletter| -%>
        <td><%= link_to newsletter.full_name,
          newsletter_path(newsletter) %></td>
      <% end -%>
      </tr>
    <% end -%>
  </table>

</section>