/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
  }

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article, page {
	display: block;
  }

div {
  margin: 0;
  padding: 0;
  }

body {
  margin: 0px;
  padding: 0px 0px 40px 0px;
	font: 14px/22px Arial, sans-serif;
	background-color: #e4e3e1;
  }

div#content {
  margin: 0px auto;
  padding: 35px 35px 20px 35px;
	width: 980px;
	background: #fff;
  }

h1 {
  font-size: 32px;
  line-height: 44px;
  padding: 0 0 8px 0;
  }

h2 {
	font-size: 28px;
	line-height: 28px;
	margin: 15px 0;
  }

h3 {
	font-size: 18px;
	line-height: 22px;
	margin: 15px 0;
  }

a {
  text-decoration: none;
  color: #0b6199; /*#ba5532; #D44302; #e59e24;*/
  font-size: 14px;
  font-weight: bold;
  }

a:hover {
  opacity: 0.5;
  background-color: inherit;
  }

p {
  margin: 0;
	margin-bottom: 15px;
  }

img, a img {
  border: none;
}

header {
  margin: 35px 0px 10px 0px;
  }
  header h1, header h2, header h3 {
    display: inline-block;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    padding-right: 40px;
    white-space: nowrap;
	  font-weight: bold;
	  color: #888;
    }
  header h1 {
    font-size: 28px;
    line-height: 28px;
    }
  header h2 {
    font-size: 14px;
    }
  header h3 {
    font-size: 13px;
    }
  header h1 a {
    text-align: center;
    font-size: 28px;
	  text-decoration: none;
	  color: #999;
  }
  header h1 a:hover {
    text-decoration: none;
    color: #000;
  }
  header h1.active a {
    color: #000;
    background: inherit;
  }
  header ul.nav {
    display: inline-block;
    /*vertical-align: baseline;*/
    margin: 0px;
	  padding: 0px;
    list-style: none;
  }
  header.editing ul.nav {
    display: block;
    margin-top: 20px;
    padding: 5px;
    background: #eee;
    }
    header ul.nav li {
      display: inline-block;
      margin-right: 5px;
	    /*float: left;*/
	    /*margin: 2px;*/
    }
      header ul.nav li a {
  		  display: block;
  		  padding: 5px 15px;
  		  font-size: 16px;
  		  font-weight: bold;
  		  /*line-height: 28px;*/
  		  text-align: center;
  	    vertical-align: baseline;
  		  color: #999;
		    }
		  header ul.nav li a, .edit_list li a {
  		  text-decoration: none;
  		  border-radius: 3px;
  		  -webkit-transition-property:color, background-color;
        -webkit-transition-duration: 0.2s, 0.4s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, background-color;
        -moz-transition-duration: 0.2s, 0.4s;
        -moz-transition-timing-function: linear, ease-in;
        transition:color 0.3s ease-in;
        transition-property:color, background-color;
        transition-duration: 0.2s, 0.4s;
        transition-timing-function: linear, ease-in;
  	  }
  	  header ul.nav li a:hover, .edit_list li a:hover {
			  color: #fff;
			  background-color: #999;
			  text-decoration: none;
		  }
  	
  	  header ul.nav li.active a, .edit_list li.active a {
  	    color: #000;
  	  }
  	  header.editing ul.nav li.active a {
  	    color: #fff;
  	    background-color: #999;
  	  }
  	  header ul.nav li.active a:hover, .edit_list li.active a:hover {
  	    color: #666;
  	    background: inherit;
  	  }

#site_header {
  margin: 0 0 12px 0;
}
  #site_header h1 {
    font-size: 15px;
    margin: 0px;
    padding-right: 9px;
    line-height: 16px;
  }
    #site_header h1 a {
      text-decoration: none;
      font-size: 18px;
		  color: #007ad0;
    }
    #site_header h1 a:hover {
      background-color: inherit;
      text-shadow: 0px 0px 2px #bbb;
    }
      #site_header h1 a span {
        font-weight: normal;
      }
  
  #site_header h2 {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 16px;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #666;
    border-left: 2px solid #999;
  }
  
  div#notice {
    position: absolute;
    top: 10px;
    width: 980px;
    color: #696;
    text-align: right;
  }
  
  #site_header div#auth {
    float: right;
  }
    #site_header div#auth ul {
      display: table;
  	  margin: 0 auto;
  	  padding: 0;
  	  list-style: none;
    }

    #site_header div#auth ul li {
  	  display: table-cell;;
  	  border-left: 1px solid #ccc;
    }

    #site_header div#auth ul li:first-of-type {
      border: none;
    }
      #site_header div#auth img {
        height: 22px;
        vertical-align: middle;
        }
      #site_header div#auth ul li a, form.inline a {
    		display: block;
    		padding-right: 5px;
    		padding-left: 5px;
    		font-size: 12px;
    		font-weight: normal;
    		text-align: center;
    		text-decoration: none;
    		white-space: nowrap;
    		color: #666;
    	}
    	#site_header div#auth ul li a:hover {
    		color: #111;
    		background-color: #ccc;
  		}
  
footer {
	clear: both;
  padding-top: 20px;
  font-size: 14px;
  color: #ccc;
}
  footer #copyright {
    float: right;
  }

#site_nav {
	height: 40px;
  background-color: #ccc;
  /*background: url(images/linear_bg_2.png);*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bbb));
  background: -moz-linear-gradient(270deg, #eee, #bbb);
  border-radius: 4px;
}
.home #site_nav {
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0, 0.9s;
  -moz-animation-name: reset, fade-in;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -moz-animation-delay: 0, 0.9s;
}

#site_nav ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#site_nav > ul > li {
	float: left;
	border-left: 1px solid #999;
}

#site_nav ul li:first-of-type {
  border: none;
}

	#site_nav ul li a {
		display: block;
		padding-right: 15px;
		padding-left: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		color: #444;
	  -webkit-transition-property:color, background;
    -webkit-transition-duration: 0.2s, 0.4s;
    -webkit-transition-timing-function: linear, ease-in;
    -moz-transition-property:color, background;
    -moz-transition-duration: 0.2s, 0.4s;
    -moz-transition-timing-function: linear, ease-in;
    transition-property:color, background;
    transition-duration: 0.2s, 0.4s;
    transition-timing-function: linear, ease-in;
	}
	#site_nav ul li:first-of-type a {
	  border-top-left-radius: 4px;
	  border-bottom-left-radius: 4px;
	}

		#site_nav ul li a:hover, #site_nav ul li.active a {
			color: #eee;
			background-color: #999;
			/*background: -moz-linear-gradient(100% 100% 90deg, #bbb, #666);
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#666));*/
		}

#site_nav form {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

#site_nav .menu_parent {
  position: relative;
  }
#site_nav .menu_parent .site_nav_menu {
  display: table;
  border-spacing: 0px;
  opacity: 0;
  position: absolute;
  top: 40px;
  z-index: 200;
  background-color: #797977;
  -webkit-box-shadow: 3px 3px 8px #666;
  -moz-box-shadow: 3px 3px 8px #666;
  box-shadow: 3px 3px 8px #666;
  white-space: nowrap;
  -webkit-transition: all 0.5s ease 0.2s;
  -moz-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
  }
  #site_nav .menu_parent:hover .site_nav_menu {
    opacity: 1;
    }
  #site_nav .site_nav_menu ul {
    display: table-cell;
    list-style: none;
    margin: 0px;
    padding: 0px;
    }
  #site_nav .menu_parent ul li,
  #site_nav .menu_parent ul li a {
    height: 0px;
    width: 0px;
    line-height: 0px;
    -webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
    }
  #site_nav .menu_parent:hover ul li,
  #site_nav .menu_parent:hover ul li a {
    height: 36px;
    width: auto;
    line-height: 36px;
    -webkit-transition: color 0;
    -moz-transition: color 0;
    transition: color 0;
    }
  #site_nav .site_nav_menu ul li {
    position: static;
    float: none;
    padding: 0px 0px;
    }
  #site_nav .menu_parent:hover ul li {
    padding: 0px 10px;
    }
    #site_nav .site_nav_menu ul li a {
      color: #fff;
      background-color: inherit;
      font-weight: normal;
      text-align: left;
      padding: 0px;
      border-top: 1px solid #888;
      border-top-left-radius: 0px;
  	  border-bottom-left-radius: 0px;
      }
      #site_nav .site_nav_menu ul li:hover,
      #site_nav .site_nav_menu ul li:hover a {
        color: #000;
        background-color: #999;
        }

#search {
	padding: 2px 7px;
	font-size: 12px;
	border: none;
	border-radius: 9px;
	}

/* http://css3.wikidot.com/blog:animated-page-entry-with-css3 */
@-webkit-keyframes reset {
  0%   {opacity: 0;}
  100% {opacity: 0;}
}
 
@-webkit-keyframes fade-in {
  0%   {opacity: 0;}
  60%  {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes reset {
  0%   {opacity: 0;}
  100% {opacity: 0;}
}
 
@-moz-keyframes fade-in {
  0%   {opacity: 0;}
  60%  {opacity: 0;}
  100% {opacity: 1;}
}

#hero, #animated_banners {
  position: relative;
  padding: 0px;
  width: 980px;
  }
#hero {
  margin: 12px 0px;
  height: 445px;
  -webkit-box-shadow: 3px 3px 10px #ccc;
  -moz-box-shadow: 3px 3px 10px #ccc;
  box-shadow: 3px 3px 10px #ccc;
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0, 0.1s;
  -moz-animation-name: reset, fade-in;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -moz-animation-delay: 0, 0.1s;
  }
#animated_banners {
  height: 245px;    
  }
  #hero_list, #animated_banners_list {
  	margin:0 auto;
		padding: 0;
  	overflow:auto; /* allow scrollbar */
  	position:relative;
		}
	#hero_list {
  	height:445px;	  
	  }
	#animated_banners_list {
  	height:245px;
	  }
		#hero_list .slide, #animated_banners .slide {
			float: left;
			margin:0 auto;
			width:960px;
		}
		#hero_list .slide {
	  	height:445px;		  
		}
		#animated_banners .slide {
		  height:245px;
		}
	#hero .hero_background, #animated_banners .slide_background,
	#banner .banner_background {
		position:absolute;
		z-index: 1;
		width: 980px;
		overflow: hidden;
		}
#hero:hover, #animated_banners:hover, #animated_banners a:hover {
  opacity: 1.0;
  }
  .hero_text, #banner_text {
    display: inline-block;
		position: relative;
    vertical-align: top;
		margin-left: 530px;
    padding: 40px 100px 40px 40px;
    font-size: 14px;
    line-height: 22px;
		z-index: 3;
    }
  #banner_text {
    padding: 20px 60px 20px 20px;
    }
    .hero_text h2, #banner_text h2 {
      padding: 0px;
      }
    .hero_text h2 a, #banner_text h2 a {
      font-size: 25px;
      }
    .hero_text a, #banner_text a {
      font-size: 14px;
      font-weight: bold;
      line-height: 21px;
      }
      .hero_text a::after, .feature_nav_link a::after {
        content: url('/images/right_small.png');
        margin-left: 1px;
        vertical-align: baseline;
        }
        .hero_text h2 a::after {
          content: '';
          }
	#hero .control, #animated_banners .control {
  	display: block;
  	width: 77px;
  	text-indent: -10000px;
  	position: absolute;
  	cursor: pointer;
		}
	#hero .control {
  	height: 445px;	  
	}
	#animated_banners .control {
	  height: 245px;
	}
		#hero_left_control, #banner_left_control {
  		top: 0px;
  		left: 20px;
  		background:transparent url(/images/control_left.png) no-repeat scroll center;
			}
		#hero_right_control, #banner_right_control {
  		top: 0px;
  		right: 20px;
  		background: transparent url(/images/control_right.png) no-repeat scroll center;
			}
		#hero_left_control, #hero_right_control,
		#banner_left_control, #banner_right_control {
			z-index: 4;
		  }

#feature_nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 3px 3px 10px #ccc;
  -moz-box-shadow: 3px 3px 10px #ccc;
  box-shadow: 3px 3px 10px #ccc;
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0, 0.3s;
  -moz-animation-name: reset, fade-in;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -moz-animation-delay: 0, 0.3s;
  }
  #feature_nav li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 194px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    }
  .feature_nav_image {
    position: relative;
    width: 194px;
    height: 60px;
    overflow: hidden;
    }
    .feature_nav_image img {
      position: absolute;
      top: 0px;
      }
  .feature_nav_name {
    color: #fff;
    background-color: #333;
    }
    .feature_nav_name a {
      display: block;
      font-weight: bold;
      color: #fff;
      font-size: 14px;
      padding: 10px;
      width: 174px;
      height: 20px;
      -webkit-transition-property:color, background;
      -webkit-transition-duration: 0.2s, 0.4s;
      -webkit-transition-timing-function: linear, ease-in;
      -moz-transition-property:color, background;
      -moz-transition-duration: 0.2s, 0.4s;
      -moz-transition-timing-function: linear, ease-in;
      transition-property:color, background;
      transition-duration: 0.2s, 0.4s;
      transition-timing-function: linear, ease-in;
      }
    .feature_nav_name a:hover {
      color: #333;
			background-color: #ccc;
			text-decoration: none;
      }
    .feature_nav_phrase {
      margin: 10px 10px 0px 10px;
			font-size: 14px;
			max-height: 44px;
			color: #666;
			overflow: hidden;
      }
    .feature_nav_link {
      margin: 0px 10px;
      }
  
.page_admin, #done_page_editing, .page_control {
  float: right;
  display: block;
	margin: 0;
	height: 32px;
	line-height: 32px;
  vertical-align: middle;
  }
  .page_control {
    margin-left: 15px;
    }
  .page_admin ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    }
    .page_admin ul li {
      float: left;
      height: 32px;
    }
  .page_admin a {
    display: block;
	  color: #bbb;
    font-weight: bold;
    vertical-align: baseline;
    }
    .page_admin a:hover {
      color: #333;
      background-color: inherit;
      }
  .page_control img {
    vertical-align: middle;
    }

#banner {
  position: relative;
  height: 245px;
  background-color: #dfe1db;
  margin-bottom: 25px;
}

.regular_content {
	display: table;
	margin-top: 25px;
  }
	.regular_content section {
		display: table-cell;
		width: 100%;
		padding: 0px 30px 20px 0px;
		vertical-align: top;
		color: #666;
	  }
	
	.regular_aside {
		display: table-cell;
		width: 400px;
	  }
	.regular_aside .form {
	  width: 300px;
	  }
	  .regular_aside #dynamic_forms_list .form {
	    width: auto;
	    }
	
.add_content {
  margin: 20px 0px;
	}
	.add_content.header_add_content {
		float: right;
		margin: 0px;
		}
      .page_admin a, .add_content a {
  		  display: inline-block;
  		  color: #bbb;
		    font-weight: bold;
				padding-left: 20px;
		  }
		  .page_admin a:hover, .add_content a:hover {
		    color: #333;
		    background-color: inherit;
		  }
		  
.edit_content {
  display: table;
	width: 980px;
  }
  .edit_content aside {
    display: table-cell;
    width: 300px;
    }
  .edit_content section {
    display: table-cell;
		width: 640px;
    }
    .edit_content section header {
      margin-top: 0px;
      }
		.edit_content h4 {
			margin-bottom: 0px;
			color: #888;
			}
			
fieldset {
  display: table;
  border: 1px solid #ddd;
  color: #999;
  border-spacing: 20px 5px;
  margin-bottom: 20px;
  }
  fieldset > * {
    display: table-cell;
    }
	
.field aside {
  float: right;
}
.field label, .edit_options label {
  display: inline-block;
  width: 180px;
  }
  .field label.inline {
    width: auto;
    min-width: 100px;
    padding-right: 10px;
    }
.help {
  color: #999999;
  font-style: italic;
  }
  .field .help {
    margin-left: 10px;
  }
  
.regular_content {
  margin-top: 30px;
  }
  
.regular_aside {
  margin: 0px;
  padding: 0px;
  width: 400px;
  list-style: none;
  }
  .regular_aside > li {
    display: block;
    width: 400px;
    margin-bottom: 20px;
    }
    
.regular_top, .landing_top {
  margin: 20px 0px;
  }
  
.landing_content {
  display: table;
  border-spacing: 20px;
  border-style: hidden;
  margin: 0px -20px 0px -20px;
  padding: 0px;
  width: 1020px;
  list-style: none;
  }
  .landing_content.primary {
    margin-top: -20px;
    }
  .landing_content > li {
    display: table-cell;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    }
    .landing_content.primary > li {
      position: relative;
      width: 480px;
      }
    .landing_content.secondary > li {
      width: 313px;
      }
      
.landing_content.primary #text {
  padding: 0px;
  margin-bottom: 10px;
  }
      
.gallery_content {
  list-style: none;
  margin: 20px 0px;
  padding: 0px;
  }
  .gallery_content li {
    margin: 20px 0px;
    padding: 0px;
    }

#events, #documents, #dynamic_forms, #contacts, #subscribe {
  display: table;
  border-spacing: 0px;
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  }
  #events h2, #documents h2, #dynamic_forms h2, #contacts h2, #subscribe h2 {
    display: table-cell;
    font-size: 16px;
		line-height: 16px;
    color: #999;
    width: 90px;
    margin: 0px;
    padding: 0px;
		padding-right: 20px;
    }
		#events h2 img, #contacts img {
			vertical-align: text-bottom;
			margin-right: 0px;
		}
  .events_list, #documents_list, .edit_list, #dynamic_forms_list, #contacts_list,
  #email_subscribe, #forms_list, #payments_list {
    display: table-cell;
    margin: 0px;
    padding: 0px;
    list-style: none;
    }
    .events_list li, #documents_list li, .edit_list li,
 		#dynamic_forms_list li, #forms_list li, #payments_list li {
      padding: 10px 0px;
      border-top: 1px solid #ccc;
      color: #666;
      font-weight: normal;
      }
      .events_list li:first-of-type, #documents_list li:first-of-type,
      .edit_list li:first-of-type, #dynamic_forms_list li:first-of-type {
   		  padding-top: 0px;
   		  }
   		.events_list li:last-of-type, #documents_list li:last-of-type,
   		.edit_list li:last-of-type, #dynamic_forms_list li:last-of-type {
   		  padding-bottom: 0px;
   		  }
      .edit_list li.active {
        background-color: #999;
        border-radius: 3px;
        color: #fff;
        }
        .edit_list li.active a, .edit_list li.active a:hover {
          color: #fff;
          }
        .edit_list li.active .event_range, .edit_list li.active .role {
          color: #fff;
          }
    .events_list li:first-of-type, #documents_list li:first-of-type,
		.edit_list li:first-of-type, #dynamic_forms_list li:first-of-type,
		#forms_list li:first-of-type, #payments_list li:first-of-type {
      border: none;
      }
    .events_list .event_name {
      color: #333;
      font-weight: bold;
      }
    .events_list .event_range {
      color: #666;
      }
    .edit_list li {
      padding: 0px;
      }
    .edit_list a {
      display: block;
      padding: 10px 20px;
      }
      .edit_list a .event_range, .edit_list a .role {
        color: #333;
        }
  #contacts_list .contact_name {
    display: inline-block;
    }
    #contacts_list .contact_role {
      color: #666;
      margin-left: 10px;
      }
  .add_content {
    padding: 0px 20px;
    }
    
#forms_list .form_name, #forms_list .form_page_name,
#forms_list .filled_form_name, #forms_list .form_payment {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.regular_content aside .event_form {
  width: 600px;
  }
  .regular_content aside .event_form h3 {
    margin-top: 0px;
    padding-top: 0px;
    }

#text {
  margin: 0px;
  padding: 0px 20px;
  color: #666;
}
#text p, #text h1, #text h2 {
  margin: 0px 0px 15px 0px;
  padding: 0px;
  }
  #text h2 {
    font-size: 24px;
    font-weight: normal;
    }
  #text h3 {
    font-size: 20px;
    font-weight: normal;
    }
#text blockquote {
  font-style: italic;
  }
#text a {
  font-size: inherit;
  }
    
.gallery, .library {
  clear: both;
  margin: 0px 0px 20px 0px;
  padding: 0px 20px;
  }
.gallery {
  list-style-type: none;
  }
  .gallery > li {
    display: inline-block;
    vertical-align: top;
    margin: 0px 40px 30px 0px;
    padding: 0px;
    }
  .landing_content.secondary .gallery > li {
    margin: 0px 0px 15px 0px;
    }
  .gallery > li.event {
    width: 400px;
    }
    .landing_content.primary .gallery > li.event {
      width: 480px;
      }
    .landing_content.secondary .gallery > li.event {
      width: 313px;
      }
  .gallery .event_name {
    font-size: 18px;
    margin-bottom: 5px;
    }
  .gallery .event_range, .gallery .event_location {
    display: inline-block;
    margin-right: 10px;
    }
  .event_notes {
    margin: 10px 0px;
    }

#notes {
  width: 350px;
  margin: 0px;
  margin-bottom: 25px;
  padding: 15px 25px;
	background-color: #dfe1db;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
  #notes h2 {
    margin: 0px;
    padding: 5px 0px;
    color: #1d38a5;
  }
  
  #notes #new_note_activator {
    float: right;
    margin-top: -25px;
  }
  
  #new_note_activator a {
    font-weight: bold;
    color: #999;
  }
  #new_note_activator a:hover {
    color: #000;
    background-color: inherit;
  }

#notes_list {
  padding: 0px;
  list-style: none;
}
  #notes_list li.note {
    padding: 10px 0px;
    border-top: 1px solid #666;
    color: #666;
  }
  
  #notes_list .note_delete {
    float: right;
  }
  #notes_list .note_delete a {
    color: #bbb;
    font-weight: bold;
  }
  #notes_list .note_delete a:hover {
    color: #111;
    background-color: inherit;
  }

.edit_gallery {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  background-color: #666;
  padding: 20px;
  }
  .edit_gallery li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    background-color: #eee;
    }
    .edit_gallery li.active {
      background-color: #999;
      color: #fff;
    }
    .edit_gallery li .caption {
      display: inline-block;
      }
      .edit_gallery li.active a {
        display: none;
        }
    .edit_gallery .page_admin, #files .page_admin {
      height: 22px;
      line-height: 22px;
      padding-left: 0px;
      }
      .edit_gallery .page_admin a {
        padding-left: 10px;
        }

/* http://www.ie7nomore.com/fun/slideshow/#slide1 */
#slideshow, #slides_slide, #slides_slide li {
  width: 400px;
	height: 267px;
  }
.primary #slideshow, .primary #slides_slide, .primary #slides_slide li {
  width: 480px;
	height: 320px;
  }
.secondary #slideshow, .secondary #slides_slide, .secondary #slides_slide li {
  width: 313px;
	height: 209px;
  }
#slides_slide li img {
  height: 267px;
  }
.primary #slides_slide li img {
  height: 320px;
  }
.secondary #slides_slide li img {
  height: 209px;
  }
#slideshow {
	position: relative;
	overflow: hidden;
	margin: 0px;
  }
  #slides_slide, #slides_nav {
    list-style-type: none;
    margin: 0; padding: 0;
  }
	#slides_slide li {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: 0;
		background-color: #fff;
	}
	#slides_slide li img {
	  display: block;
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transition: 2s;
		-moz-transition: 2s;
		transition: 2s;
		margin: 0px auto;
	}
	#slides_slide li.first, #slides_slide li.first img {
		opacity: 1;
	}
	#slides_slide li:target {
		z-index: 5;
	}
	#slides_slide li:target, #slides_slide li:target img {
		opacity: 1;
		filter:alpha(opacity=100);
	}
	
	#slides_nav {
    position: absolute;
    bottom: 7px; left: 2px;
    z-index: 10;
	}
	
	#slides_nav li {
		display: inline;
	}
	#slides_nav a {
		padding: 3px 10px;
		margin: 0 0 0 3px;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		background: rgb(0,0,0);
		background: rgba(0,0,0,.2);
	}
	#slides_nav a:hover, #slides_nav a:focus {
		-moz-box-shadow: 0 0 8px #fff;
		-webkit-box-shadow: 0 0 8px #fff;
		box-shadow: 0 0 8px #fff;
		background: rgba(0,0,0,.4);
		outline: none;
	}
	
#videos {
  position: relative;
	width: 400px;
	height: 300px;
	overflow: hidden;		
  }
  #videos video {
    width: 400px;
    height: 300px;
  }
.primary #videos, .primary #videos video {
  width: 480px;
  height: 360px;
  }
.secondary #videos, .secondary #videos video {
  width: 313px;
  height: 235px;
  }
  
#video_slideshow {
  width: 400px;
	height: 340px;
  }
  #video_slides_slide, #video_slides_slide li {
    width: 400px;
    height: 340px;
    }
.primary #video_slideshow, .primary #video_slides_slide,
.primary #video_slides_slide li {
  width: 480px;
	height: 360px;
  }
.secondary #video_slideshow, .secondary #video_slides_slide,
.secondary #video_slides_slide li {
  width: 313px;
	height: 235px;
  }
#video_slides_slide li video, #video_slides_slide li .youtube-player {
  width: 400px;
  height: 300px;
  }
/*.secondary #video_slides_slide li video {
  height: 370px;
  }*/
.secondary #video_slides_slide li video {
  width: 313px;
  height: 240px;
  }
#video_slideshow {
	position: relative;
	overflow: hidden;
	margin: 0px;
  }
  #video_slides_slide, #video_slides_nav {
    list-style-type: none;
    margin: 0; padding: 0;
  }
	#video_slides_slide li {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: 0;
		background-color: #fff;
	}
	#video_slides_slide li {
	  display: block;
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transition: 2s;
		-moz-transition: 2s;
		transition: 2s;
		margin: 0px auto;
	}
	#video_slides_slide li.first, #video_slides_slide li.first video,
	#video_slides_slide li.first iframe {
		opacity: 1;
	}
	#video_slides_slide li:target {
		z-index: 5;
	}
	#video_slides_slide li:target, #video_slides_slide li:target video,
	#video_slides_slide li:target iframe {
		opacity: 1;
		filter:alpha(opacity=100);
	}
	
	#video_slides_nav {
    position: absolute;
    bottom: 7px; right: 2px;
    z-index: 10;
	}
	
	#video_slides_nav li {
		display: inline;
	}
	#video_slides_nav a {
		padding: 3px 10px;
		margin: 0 0 0 3px;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		background: rgb(0,0,0);
		background: rgba(0,0,0,.2);
	}
	#video_slides_nav a:hover, #video_slides_nav a:focus {
		-moz-box-shadow: 0 0 8px #fff;
		-webkit-box-shadow: 0 0 8px #fff;
		box-shadow: 0 0 8px #fff;
		background: rgba(0,0,0,.4);
		outline: none;
	}

#audios {
  position: relative;
	width: 400px;
	overflow: hidden;		
  }
  #audios audio {
    width: 400px;
  }
.primary #audios, .primary #audios audios {
  width: 480px;
  }
.secondary #audios, .secondary #audios audios {
  width: 313px;
  }
  
.panel.feature_child {
  width: 313px;
  height: 177px;
  }
  .feature_child_background {
    position:absolute;
	  z-index: 1;
	  width: 317px;
	  overflow: hidden;
    }
  .feature_child_text {
    display: inline-block;
		position: relative;
    vertical-align: top;
		margin-left: 150px;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
		z-index: 3;
    }
    .feature_child_text h2 {
      margin-top: 0px;
      margin-bottom: 5px;
    }
    
input[type="file"] {
  background-color: inherit;
}

/* http://ubuwaits.github.com/css3-buttons/ */
input[type="submit"] {
  background: #e9e9e9;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #666;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 10px 9px 10px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

input[type="submit"]:hover {
  background: #d9d9d9;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer;
}

/* http://net.tutsplus.com/tutorials/html-css-techniques/
    design-a-prettier-web-form-with-css-3/ */
input, textarea {
	padding: 9px;
	border: solid 1px #ccc;
	outline: 0;
	background: #FFFFFF;
	}

textarea {
	line-height: 150%;
	}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: #999;
	}

form label, .edit_options label {
	margin-left: 10px;
	color: #999999;
	}

.submit input {
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	}

input, textarea, .textedit {
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

input:hover, textarea:hover,
input:focus, textarea:focus {
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}
	
.unstyled input, .unstyled textarea, .unstyled .textedit {
  padding: 0px;
  border: none;
  box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* http://trentrichardson.com/examples/timepicker/ */
/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

#sign_in, #sign_up {
  margin: 0px auto;
  width: 300px;
  }
  #sign_in form, #sign_up form {
    text-align: left;
    }

table.index td, table.index th {
  padding-right: 20px;
  }
	table.index th {
		text-align: left;
		color: #666;
		}
#users td {
  vertical-align: top;
  }
#users .first_name {
  text-align: right;
  padding-right: 2px;
  }
#users .administrator {
  color: #999;
  }
  #users .account_pages {
    list-style: none;
    margin: 0px;
    padding: 0px;
    }
    #users .account_pages li {
      display: inline-block;
      }
      #users .account_pages li:after {
        content: ", ";
      }
      #users .account_pages li:last-of-type:after {
        content: "";
      }

#communities {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  }
  #communities li.group {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    width: 200px;
    background-color: #eee;
    }
    #communities .group_image {
      width: 200px;
      height: 60px;
      overflow: hidden;
      }
    #communities .group_text {
      padding: 10px 10px 20px 10px;
      }
    #communities .delete_group {
      float: right;
      margin-top: 10px;
      }
    #communities ul {
      list-style-type: none;
      }

#calendar_header {
  display: table;
  color: #666;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  }
  #calendar_header #focus_date {
    display: table-cell;
    font-size: 28px;
    color: #666;
    margin-right: 20px;
    vertical-align: middle;
    }
  #calendar_header a {
    padding: 0 5px;
    }
  #calendar_header #calendar_controls {
    display: table-cell;
    text-align: right;
    }
  #calendar_nav {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    margin: 0px 20px;   
    color: #999;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f6f6f6));
    background: -moz-linear-gradient(100% 100% 90deg, #ffffff, #f6f6f6);
    }
    #calendar_nav a {
      font-weight: normal;
      vertical-align: baseline;
      padding: 0px 10px;
      }
      #calendar_nav a:first-of-type {
        border-right: 1px solid #eee;
        }
      #calendar_nav a:last-of-type {
        border-left: 1px solid #eee;
        }
  #calendar_views {
    display: inline-block;
    vertical-align: middle;
    }
  #calendar_views ul {
    display: table;
    margin: 0;
    padding: 0;
    list-style: none;
    }
    #calendar_views li {
      display: table-cell;
      white-space: nowrap;
      }
      #calendar_views a {
        display: block;
  		  padding: 0px 15px;
        font-size: 12px;
        color: #999;
        line-height: 20px;
  		  text-align: center;
  		  text-decoration: none;
  		  border-radius: 3px;
  		  -webkit-transition-property:color, background-color;
        -webkit-transition-duration: 0.2s, 0.4s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, background-color;
        -moz-transition-duration: 0.2s, 0.4s;
        -moz-transition-timing-function: linear, ease-in;
        transition:color 0.3s ease-in;
        transition-property:color, background-color;
        transition-duration: 0.2s, 0.4s;
        transition-timing-function: linear, ease-in;
        }
        #calendar_views a:hover {
  			  color: #fff;
  			  background-color: #999;
  		    }
    	  #calendar_views li.active a {
    	    color: #666;
    	    }
    	  #calendar_views li.active a:hover {
    	    color: #666;
    	    background: inherit;
    	    }
    #calendar_controls_extended {
      display: inline-block;
      line-height: 16px;
      padding: 0px;
      margin-right: 0px 20px;
	    vertical-align: middle;
	    font-size: 12px;
	    font-weight: normal;
	    white-space: nowrap;
			}
			#calendar_controls_extended form {
			  display: none;
			  }
			#calendar_controls_extended:hover form {
			  display: inline-block;
			  }
		#calendar_header input, .email_lists_controls input,
		.email_lists_controls #search, #email_subscribe input {
		  margin: 0px 10px 0px 0px;
		  padding: 2px;
			color: #666;
			font-size: 11px;
			vertical-align: baseline;
			box-shadow: none;
  		-moz-box-shadow: none;
  		-webkit-box-shadow: none;
			}
		#calendar_header form, .email_lists_controls form {
		  display: inline-block;
		  vertical-align: middle;
		  }
		.email_lists_controls {
		  margin: 20px 0px;
		  }
		.email_lists_controls > form > div, .email_lists_controls div.actions {
		  display: inline-block;
		  vertical-align: middle;
		  margin-top: 0px;
		  margin-bottom: 0px;
		  margin-left: 10px;
		  }
		form.inline a {
    	display: inline-block;
  		padding-right: 5px;
  		padding-left: 5px;
  		font-size: 12px;
  		font-weight: normal;
  		text-decoration: none;
  		white-space: nowrap;
  		color: #666;
  	  }
  	  form.inline a:hover {
    		color: #111;
    		background-color: #ccc;
  		  }
  
#calendar {
  margin: 20px 0px;
  padding: 0px;
  border-spacing: 0px;
  width: 100%;
  font-family: 'Lucida Grande', 'lucida sans unicode', sans-serif;
  }
  #calendar th {
    color: #999;
    font-size: 12px;
    }
  #calendar td {
    position: relative;
    width: 14%;
    height: 60px;
    font-size: 12px;
    vertical-align: top;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    }
    /*#calendar td.new_month {
      border-top: 3px solid #ccc;
      }
    #calendar td.new_month_first {
      border-left: 3px solid #ccc;
      }*/
    #calendar td.first {
      border-left: none;
      }
    /*#calendar td.ref {
      border: 2px solid #cc3;
      }*/
    #calendar td.odd_month {
      background: #f6f6f6;
      }
    #calendar td .date, #calendar td .holiday {
      margin: 0;
      padding: 0;
      padding-right: 5px;
      text-align: right;
      font-family: 'Lucida Grande', 'lucida sans unicode', sans-serif;
      font-size: 10px;
      }
      #calendar td .date .month {
        font-weight: bold;
        font-size: 12px;
        padding-right: 5px;
        color: #999;
        }
    #calendar td .holiday {
      font-size: 90%;
      color: #999;
      }
    #calendar td ul {
      margin: 0 3px 15px 3px;
      padding: 0;
      list-style-type: none;
      }
    #calendar td li {
      text-indent: -1.5em;
      margin-left: 1.5em;
      }
    #calendar td .time {
      font-size: 90%;
      color: #999;
      }
  #calendar a {
    font-size: 11px;
    text-decoration: none;
    }

#calendar_list {
  padding: 0px;
  border-spacing: 0px;
  width: 100%;
  }
  #calendar_list td {
    padding: 5px 20px 5px 0px;
    vertical-align: top;
    color: #666;
    white-space: nowrap;
    }
  #calendar_list td.time.first {
    padding-right: 3px;
    text-align: right;
    }
  #calendar_list td:last-of-type {
    white-space: normal;
    width: 30%;
    }
  #calendar_list tr.new_day2 td {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    }
  #calendar_list tr.new_day td {
    padding-top: 15px;
    }
  #calendar_list .new_month {
    padding-top: 30px;
    font-size: 24px;
    }
  #calendar_list .day {
    font-size: 16px;
    font-weight: bold;
    color: #aaa;
    }
  #calendar_list .name a {
    font-size: 14px;
    }
  #calendar_list .time {
    white-space: nowrap;
    }
  
#search_results {
  margin: 0px;
  padding: 0px;
  }
  .search_result td {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    padding-right: 20px;
    vertical-align: top;
    }
  .search_result td a {
    font-size: 14px;
    }
  .search_result_type {
    white-space: nowrap;
    color: #ccc;
    }
    
#recurrence_control {
  margin-bottom: 10px;
  }

#recurrence {
  padding: 0px;
  margin-bottom: 20px;
  width: 500px;
  font-family: 'Lucida Grande', 'lucida sans unicode', sans-serif;
  }
  #recurrence th {
    color: #999;
    font-size: 12px;
    }
  #recurrence td {
    width: 14%;
    padding: 0px 5px;
    font-size: 11px;
    vertical-align: bottom;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    }
  #recurrence td.ref {
    color: #eee;
    background-color: #999;
    }
  #recurrence td.active, #recurrence td.active.odd_month {
    color: #eee;
    background-color: #999;
    }
  #recurrence .month {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    }
  #recurrence td.odd_month {
    background-color: #f6f6f6;
    }
  #recurrence .day {
    display: inline-block;
    width: 20px;
    }

div.actions {
  margin-top: 20px;
  }

.landing_content .sub_pages {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	.sub_pages li {
		list-style: none;
		}
	.landing_content .sub_pages li.landing_sub {
		display: inline-block;
		width: 194px;
		height: 200px;
		overflow: hidden;
		vertical-align: top;
		background-color: #efefef;
		border: 1px solid #fff;
		border-radius: 5px;
		margin: 0px 0px 10px 0px;
		}
		li.landing_sub .sub_sub_pages {
			padding: 10px;
			}
		.landing_sub_title {
	    color: #fff;
	    background-color: #333;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#333));
	    background: -moz-linear-gradient(100% 100% 90deg, #666, #333);
	    }
		.landing_sub_title a {
	  	display: block;
	    font-weight: bold;
	    color: #fff;
	    font-size: 16px;
		  padding: 10px;
	    -webkit-transition-property:color, background;
	    -webkit-transition-duration: 0.2s, 0.4s;
	    -webkit-transition-timing-function: linear, ease-in;
	    -moz-transition-property:color, background;
      -moz-transition-duration: 0.2s, 0.4s;
     	-moz-transition-timing-function: linear, ease-in;
     	transition-property:color, background;
	    transition-duration: 0.2s, 0.4s;
	    transition-timing-function: linear, ease-in;
	    }
		  .landing_sub_title a:hover {
		    color: #333;
				background-color: #ccc;
				text-decoration: none;
		    }
		    
.landing_content #child_pages {
  padding: 30px 50px 40px 30px;
  background-color: #e4e4e4;
  }
  .landing_content #child_pages h2 {
    color: #666;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #bbb;
    }
  #child_pages #pages_list {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    }
    #child_pages #pages_list td {
      width: 220px;
      padding: 0px;
      }
    #child_pages #pages_list a {
      font-size: 16px;
      line-height: 28px;
      }
      
#conversations_list {
  margin: 20px;
  padding: 0px;
  list-style: none;
  }
  #conversations_list > li {
    position: static;
    clear: right;
    margin: 0px 0px;
    padding: 10px 0px 20px 0px;
    border-top: 1px solid #ccc;
    }
    #conversations_list .details {
      float: right;
      text-align: right;
      padding-bottom: 10px;
      }
      #conversations_list .details div {
        padding-left: 10px;
        }
      #conversations_list .poster {
        color: #333;
        }
      #conversations_list .timestamp {
        padding: 0px;
        }
      #conversations_list .admin a {
        color: #999;
        }
      
.comments {
  list-style: none;
  }
  .comments > li {
    clear: right;
    padding: 10px 0px 20px 0px;
    border-top: 1px solid #ccc;
    }
.new_comment {
  clear: right;
  margin-left: 20px;
  }
a.new_comment {
  color: #999;
  }

#breadcrumbs {
	text-align: right;
	margin: 0;
	padding: 0;
	height: 0;
	font-size: 11px;
	color: #999;
	}
	#breadcrumbs ul {
		list-style: none;
		margin: 0;
		padding: 0;
		}
		#breadcrumbs li {
			display: inline-block;
			margin: 0;
			padding: 0;
			}
			#breadcrumbs li:before {content: "\00B7";}
			#breadcrumbs li:first-child:before {content: '';}
			#breadcrumbs a {
				font-size: 11px;
				font-weight: normal;
				color: #999;
				padding: 0px 0px 0px 2px;
				}

#indexer {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #666;
	cursor: move;
	}
	#indexer li.active {
		font-weight: bold;
		color: #333;
		}

#dynamic_form_form {
  margin-top: 20px;
	}
	#dynamic_form_form .field {
		display: inline-block;
		margin-right: 20px;
		}
	#dynamic_form_form .field label {
		width: auto;
		}
#dynamic_form_form .actions {
	/*display: inline-block;*/
	float: right;
	margin-top: -50px;
	}
#dynamic_form_fields {
	list-style: none;
	margin: 0;
	padding: 0px 20px 20px 0px;
	}
	#dynamic_form_fields li.form_field {
		margin: 20px 0px;
	}
	.dynamic_form_field_name {
	  min-width: 150px;
	}
	div.form_field {
		display: table;
		}
		div.form_field .field
		{
			display: table-cell;
			padding-right: 20px;
			}
.dynamic_form_field_admin {
	clear: right;
	float: right;
	}
	.dynamic_form_field_admin a {
		color: #bbb;
		}
		.dynamic_form_field_admin a:hover {
			color: #333;
			}
.form_field.editing {
	background-color: #f8f8f8;
	padding: 20px;
	}
.form_field.editing .admin {
	float: right;
	}
.form_field_options {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
.form_field_options.editing li {
	border-top: 1px solid #fff;
	}
.form_field_option.editing {
	background-color: #eeeeee;
	padding: 20px;
	}
	.form_field_option.editing .field {
		vertical-align: top;
		display: inline-block;
		}
.edit_options .add_content {
	margin-top: 20px;
	}
.dynamic_form_field_name, .dynamic_form_field_option_name {
	display: inline-block;
	vertical-align: top;
	color: #666;
	margin-right: 20px;
	}
.dynamic_form_field_value, .dynamic_form_field_option_value {
	display: inline-block;
	}
	.dynamic_form_field_value ul {
		margin: 0;
		padding: 0;
		list-style: none;
		}
		.dynamic_form_option {
			float: left;
			margin: 0;
			padding-right: 20px;
			}
.dynamic_form_field_help, .dynamic_form_field_option_help {
	display: inline-block;
	color: #333;
	}
	
#submitted_form_list {
	background-color: #f8f8f8;
	padding: 10px 20px 20px 20px;
	margin-bottom: 20px;
	}
	#submitted_form_list h2 {
		color: #999;
		font-size: 16px;
		margin: 0px;
		padding: 5px 10px;
		}
	#submitted_form_list ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		text-align: left;
		max-height: 800px;
		overflow: auto;
		}
		#submitted_form_list li {
			padding: 4px 10px;
			border-radius: 3px;
			}
			#submitted_form_list li a {
  		  display: block;
  		  }
			#submitted_form_list li .form_submitter,
			#submitted_form_list li .form_date,
			#submitted_form_list li .form_amount {
			  color: #666;
			  font-weight: normal;
			  white-space: nowrap;
			}
		#submitted_form_list li.active {
			background-color: #999;
			}
			#submitted_form_list li.active a,
			#submitted_form_list li.active .form_submitter,
			#submitted_form_list li.active .form_date,
			#submitted_form_list li.active .form_amount,
			#submitted_form_list li.active .help {
				color: #eee;
				}
		#submitted_form_list li:hover {
		  background-color: #ddd;
		  cursor: pointer;
		  }
		#submitted_form_list li:hover a:hover {
		  opacity: 1;
		  }
#new_filled_form_button {
  margin-bottom: 20px;
  }
#filled_fields {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	#filled_fields .form_field {
		padding: 5px 0px;
		margin-bottom: 10px;
		}
		.form_field_name {
			display: inline-block;
			vertical-align: top;
			padding-right: 20px;
			color: #999;
			font-size: 14px;
			font-weight: bold;
			min-width: 150px;
			}
		.form_field_value {
		  display: inline-block;
		  }
		.form_field_help {
			display: block;
			font-style: italic;
			}
		.form_field.instructions .form_field_help {
		  font-style: normal;
		  }
		.options_list {
			display: inline-block;
			list-style: none;
			margin: 0px;
			padding: 0px;
			}
			#filled_fields .option_name {
				display: inline-block;
				padding-right: 20px;
				min-width: 80px;
				}
			#filled_fields .option_help {
				display: inline-block;
				}
.filled_form_payment {
  margin-bottom: 20px;
  }
  .filled_form_payment h3 {
    margin: 0px 0px 15px 0px;
    }

.filled_forms {
  margin: 20px 0px;
  }
.filled_forms td {
  padding-right: 30px;
  vertical-align: top;
  }
  .filled_forms > tr > td, .filled_forms > tbody > tr > td {
    padding-bottom: 10px;
    }
    .payment_fields {
      margin: 0px;
      padding: 0px;
      border-spacing: 0px;
      color: #999;
      }
      
.form_buttons {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  }
  .form_buttons li {
    display: inline-block;
    padding-left: 30px;
    }
  
.payment_methods {
  list-style: none;
  margin: 0px;
  padding: 0px;
  }
  .payment_methods li {
    display: inline-block;
    padding-right: 20px;
    }
    .payment_methods input {
      margin-right: 10px;
      }
      
#payments td {
  vertical-align: top;
  }
#payments ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  }
  
.fields {
  list-style: none;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;
  min-width: 300px;
  }
  .fields li {
    vertical-align: top;
    margin-bottom: 10px;
  }
  .fields label {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    }
.payment_method_instructions {
  display: inline-block;
  margin-left: 20px;
}
  
.timestamp {
	padding-top: 20px;
	color: #999;
	}
table.grid {
	margin: 20px auto;
	}
  table.grid td {
	  padding-right: 20px;
	  }
	table.grid caption {
	  font-size: 14px;
		font-weight: bold;
		text-align: left;
		color: #999;
	  }
	#books a {
		font-size: 14px;
		}
.authors {
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
	}
	.authors li {
	  white-space: nowrap;
	  position: relative;
    text-align: left;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 3px;
	  }
	.authors a {
		font-size: 14px;
		}
		
#messages td, #holidays td, .library td {
	padding-right: 20px;
	vertical-align: top;
	}
.message_date, .holiday_date, .document_date {
	font-size: 12px;
	font-weight: bold;
	color: #999;
	}
.message_verses, .message_dpid {
	color: #999;
	}
#message_details {
	float: right;
	clear: right;
	}
header audio {
	vertical-align: middle;
	}
.message_files {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	.message_files li {
		display: inline-block;
		padding-right: 5px;
		margin-right: 5px;
		border-right: 1px solid #ccc;
		}
		.message_files li:last-of-type {
		  border-right: none;
		  }
		.message_files img {
		  vertical-align: middle;
		  }
.edit_content #files {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  list-style: none;
  }
  .edit_content #files li {
    margin-bottom: 10px;
    }

.series_title {
	margin: 10px 0px;
	padding: 0px;
	}
	.series_title a {
		font-size: 16px;
		color: #777;
		}
		.series_title a:hover {
			text-decoration: none;
			color: #000;
			}

#message_audio {
  vertical-align: baseline;
  }
div#messages {
	margin-bottom: 20px;
	}
.message {
  display: table;
  }
.message .message_date, .message .message_title, .message .message_verses,
.message .message_author, .message .message_audio, .message .message_files {
	display: table-cell;
	padding-right: 30px;
	vertical-align: top;
	}
	.message .message_date .message_year {
		display: inline-block;
		color: #ccc;
		}
	.message .message_date {
		width: 100px;
		}
	.message .message_title {
		width: 250px;
		}
		.message .message_title a {
		  font-size: 14px;
		  }
	.message .message_verses {
		width: 150px;
		}
	.message .message_author {
		width: 150px;
		}
	.message .message_files {
	  padding-right: 0px;
	  }
.messages_year {
	float: left;
	width: 0;
	overflow: visible;
	padding-top: 100px;
	font-size: 244px;
	color: #f6f6f6;
	}
#messages_threshold {
  }
  #mt_future, #mt_past {
    text-align: right;
    color: #999;
  }
  #mt_separator {
    background-color: #eee;
    height: 2px;
    margin: 3px 0px;
    }
#more_messages {
	padding-top: 30px;
	}
.empty_indicator {
	font-style: italic;
	color: #999;
	}
	#more_control {
	  padding-right: 30px;
	  }

.blog_post {
	margin-bottom: 30px;
	}
	.post_date {
		color: #999;
		font-size: 11px;
		}
	.post_title {
		margin: 5px 0px 10px 0px;
		padding: 0px;
		}
		.post_title a {
			font-size: 28px;
			}

#invitations {
	list-style: none;
	padding: 0px;
	}
	.invitation {
		margin: 7px 0px;
		}
	.invitation .email {
		display: inline-block;
		width: 240px;
		}
	.invitation form {
		display: inline-block;
		margin: 0px 10px;
		}
	.invitation .response_note {
		display: inline-block;
		margin: 0px 10px;
		color: #999;
		}

#invitation_response {
	margin: 0px 0px 20px 0px;
	padding: 20px;
	background-color: #eee;
	font-size: 18px;
	}
	#invitation_response h3 {
		margin-top: 0px;
		padding-top: 0px;
		}
	#invitation_response .response_option {
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		}
	#invitation_response .response_note {
		display: inline-block;
		margin-right: 10px;
		}
	#invitation_response input {
		vertical-align: top;
		}
		
.page_map {
  margin: 0px;
  padding: 0px;
  list-style: none;
  }
  .page_map li {
    display: inline-block;
    margin: 0px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    vertical-align: top;
    }
    .page_map li.gallery {
      background-color: #ccc;
      border: none;
      }
    .page_map li.landing {
      background-color: #eee;
      }
    .page_map li.regular {
      background-color: #ddd;
      border: none;
      }
    .page_map li.blog, .page_map li.forum {
      background-color: #eee;
      border-style: dotted;
      }
      
#messages_loading {
  display: inline-block;
  padding: 0px 10px;
  color: #999;
  background-color: #eee;
  border: 3px solid #eee;
  border-radius: 20px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation-name:stretch;
  -webkit-animation-duration:10s;
  -webkit-animation-iteration-count:once;
  -webkit-animation-timing-function:linear;
  }
  #messages_loading_text {
    vertical-align: top;
    }

@-webkit-keyframes stretch {
  from {width: 50px; opacity: 0.1;}
  5% {width: 50px; opacity: 1;}
  to {width: 800px; opacity: 1;}
}

.resource_conflicts {
  padding: 0px;
  padding-left: 25px;
  margin: 0px;
  list-style: none;
  }
  
.timeline_axis {
  list-style: none;
  display: table;
  width: 100%;
  margin: 0px;
  margin: 30px 0px;
  padding: 0px;
  }
  .timeline_axis li {
    display: table-cell;
    border-left: 2px solid #ccc;
    margin: 0px;
    padding-left: 10px;
    color: #999;
    }
    
#book_sections {
  display: table;
  list-style: none;
  margin: 0px;
  padding: 0px;
  }
  #book_sections li {
    display: table-cell;
    vertical-align: top;
    margin: 0px;
    padding-right: 5px;
    height: 100%;
    }
    #testament_divider {
      width: 7px;
      border-left: 2px solid #eee;
      vertical-align: bottom;
    }
    #testament_labels {
      position: relative;
      display: inline-block;
      height: 620px;
      vertical-align: bottom;
    }
    #old_testament, #new_testament {
      position: absolute;
      bottom: 0px;
      font-style: italic;
      color: #666;
      white-space: nowrap;
    }
    #old_testament {
      left: -120px;
    }
    #new_testament {
      left: 20px;
    }
    #book_sections h3 {
      font-size: 14px;
      color: #999;
      width: 80px;
      height: 30px;
      margin-top: 0px;
      padding-top: 0px;
      }
#book_section {
  list-style: none;
  margin: 0px;
  padding: 0px;
  }
  #book_section li {
    display: block;
    margin-bottom: 5px;
    padding: 0px 10px;
    border-radius: 3px;
    }
    #book_section a {
      font-size: 14px;
      }

#messages_key {
  display: inline-block;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px;
  font-style: italic;
  font-size: 11px;
  color: #666;
  }
  #messages_key .gradient {
    display: inline-block;
    margin-left: 10px;
    width: 200px;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#f6f6f6), to(#c4c4c4));
    background: -moz-linear-gradient(0deg, #f6f6f6, #c4c4c4);
    padding: 0px 10px;
    border-radius: 3px;
    }
    #messages_key .more {
      float: right;
    }

#audit_logs tr:hover td {
  background-color: #eee;
  }
#audit_details {
  float: right;
  background-color: #eee;
  width: 400px;
  padding: 20px;
  }
  
#email_addresses, #pages {
  list-style: none;
  margin: 0;
  padding: 0;
  }
.email_address_remover {
  float: right;
  color: #999;
  }
  
#subscribe {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}
  #subscribe input[type=text] {
    width: 190px;
  }
  
#send_email {
  position: relative;
  margin: 20px auto;
  padding: 30px;
  width: 800px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: url(/images/parchment.jpg);
  }
  #send_email #messaging {
    position: absolute;
    top: 100px;
    left: 30px;
    }
  #send_email #addressing {
    position: absolute;
    top: 140px;
    right: 30px;
    text-align: right;
    }
  #send_email #delivery {
    position: absolute;
    bottom: 30px;
    right: 30px;
    }
  #send_email label {
    width: auto;
    margin-right: 15px;
    font-weight: bold;
    color: #654;
    }
    #send_email label:after {
      content: ':';
      }
    #send_email #messaging label {
      vertical-align: top;
      }
  #send_email input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #986;
    background: inherit;
    box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
    }
  #send_email textarea {
    width: 300px;
    height: 250px;
    font-size: 14px;
    background: inherit;
    border: 1px solid #986;
    background: rgba(230,220,160,.4);
    }
  #send_email input[type="submit"] {
    color: #a54;
    font-size: 24px;
    text-shadow: none;
    border: none;
    }
  
.under_construction {
  border: 2px dashed #ffcc33;
  font-style: italic;
  font-size: 14px;
  color: #cc9966;
  padding: 3px 5px;
  text-align: center;
}

.card-pile {
  position: relative;
  margin: 0px auto;
  padding: 0px 0px 0px 12px;
  list-style-type: none;
}

.card-container {
  float: left;
	width: 201px; height: 308px;
	margin: 20px 20px;
	-webkit-perspective: 1000;
}

.card-card {
	width: 201px; height: 308px;
	/*border: 1px solid #fff;*/
	-webkit-transform-style: preserve-3d;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

  .card-container:hover .card-card {
	  -webkit-transform: rotateY(180deg);
	  -moz-transform: rotateY(180deg);
  }

.card-face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  overflow: hidden;
}
.card-face .card-image {
  width: 201px;
  height: 268px;
  overflow: hidden;
}
.card-face .portrait {
  width: 201px;
}
.card-face h4 {
  margin: 0px;
  margin-bottom: 5px;
  }
.card-face a img {
	vertical-align: text-bottom;
	margin-left: 5px;
  }
.card-face .bio {
  width: 161px;
  height: 238px;
  overflow: hidden;
}

.card-face .card-name {
  margin: 5px;
  margin-top: 3px;
  line-height: 16px;
}

.card-face dt, .card-face dd {
  font-family: fixed;
  font-size: 70%;
}
.card-face dt {
  width: 80px;
  word-wrap: break-word;
  color: #999;
}
.card-face dd {
  margin-left:85px;
  width: 115px;
}

.card-container:nth-child(2n+1) {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}
.card-container:nth-child(2n) {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}
  .card-front {
	  width: 201px; height: 308px; padding: 0px;
    background-color: #444;
    color: #fff;
	}
	.card-back {
		width: 161px; height: 268px; padding: 20px;
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		background-color: #eee;
	}

.card-front {
  z-index: 10;
}

.card-container:hover .card-front {
  z-index: 0;
}

.reservations_long {
  margin-bottom: 10px;
  }
  .reservations_long th, .reservations_long td {
    padding-right: 20px;
    vertical-align: top;
    }
  .reservation_time .time_slider {
    display: inline-block;
    width: 100px;
    }
  .reservation_time input {
    margin: 5px 5px;
		padding: 3px 6px;
		color: #666;
		font-size: 11px;
  }
  
/* Rich Text Editor lite, align rte.css too */
.regular_content section.text_editing {
  padding: 0px;
  }
  
.twtr-doc {
  height: 300px;
  }
.primary .twtr-doc {
  height: 360px;
  }
.secondary .twtr-doc {
  height: 235px;
  }
.twtr-doc a {
  font-weight: normal;
  font-size: 12px;
  }

.textedit {
  width: 600px;
  height: 400px;
  margin: 0;
  padding: 20px;
  }
  iframe.textedit {
    width: 620px;
    padding: 0px;
    }

.rte-toolbar {
  overflow: hidden;
  background-color: #eee;
  border: 1px #ccc solid;
  width: 600px;
  padding: 5px 10px;
  }

.rte-toolbar a, .rte-toolbar a img {
	border: 0;
	vertical-align: middle;
  }

.rte-toolbar p {
  float: left;
  margin: 0;
  margin-right: 10px;
  padding: 0px;
  font-size: 12px;
  }
  .rte-toolbar p.mode {
    float: right;
    }
    
#sign_up_email_confirmation {
  opacity: 0.01;
  float: right;
  margin-top: -80px;
  margin-right: -100px;
  }
  #sign_up_email_confirmation input {
    box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
    }

#email_address_confirmation {
  opacity: 0.1;
  position: absolute;
  top: 0px;
  right: -50px;
}

@media print {
	#site_header, footer, #site_nav, #submitted_form_list,
	.page_admin, .admin, .actions {
		display: none;
		}
	input, textarea {
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}
}
