/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
  }

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article, page {
	display: block;
  }

div {
  margin: 0;
  padding: 0;
  }

body {
  margin: 0px;
  padding: 0px 0px 40px 0px;
	font: 14px/22px Arial, sans-serif;
	background-color: #e4e3e1;
  }

div#content {
  margin: 0px auto;
  padding: 35px 35px 20px 35px;
	width: 980px;
	background: #fff;
  }

h1 {
  font-size: 32px;
  line-height: 44px;
  padding: 0 0 8px 0;
  }

h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
  }

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
  }

a {
  text-decoration: none;
  color: #e59e24;
  font-size: 12px;
  font-weight: bold;
  }

a:hover {
  background-color: inherit;
  text-decoration: underline;
  }

p {
  margin: 0;
	padding-bottom: 22px;
  }

header {
  margin: 20px 0px;
  }
  header h1, header h2, header h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    padding-right: 40px;
    white-space: nowrap;
	  font-weight: bold;
	  color: #888;
    }
  header h1 {
    font-size: 18px;
    }
  header h2 {
    font-size: 14px;
    }
  header h3 {
    font-size: 13px;
    }
  header h1 a {
    text-align: center;
    font-size: 18px;
	  text-decoration: none;
	  color: #999;
  }
  header h1 a:hover {
    text-decoration: none;
    color: #000;
  }
  header h1.active a {
    color: #666;
    background: inherit;
  }
  header ul.nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
	  padding: 0px;
    list-style: none;
  }
    header ul.nav li {
	    float: left;
	    margin: 2px;
    }
      header ul.nav li a {
  		  display: block;
  		  padding-right: 15px;
  		  padding-left: 15px;
  		  font-size: 14px;
  		  font-weight: bold;
  		  line-height: 28px;
  		  text-align: center;
  		  color: #999;
		    }
		  header ul.nav li a, .edit_list li a {
  		  text-decoration: none;
  		  border-radius: 3px;
  		  -webkit-transition-property:color, background-color;
        -webkit-transition-duration: 0.2s, 0.4s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, background-color;
        -moz-transition-duration: 0.2s, 0.4s;
        -moz-transition-timing-function: linear, ease-in;
        transition:color 0.3s ease-in;
        transition-property:color, background-color;
        transition-duration: 0.2s, 0.4s;
        transition-timing-function: linear, ease-in;
  	  }
  	  header ul.nav li a:hover, .edit_list li a:hover {
			  color: #fff;
			  background-color: #999;
			  text-decoration: none;
		  }
  	
  	  header ul.nav li.active a, .edit_list li.active a {
  	    color: #666;
  	  }
  	  header ul.nav li.active a:hover, .edit_list li.active a:hover {
  	    color: #666;
  	    background: inherit;
  	  }

#site_header {
  margin: 0 0 12px 0;
}
  #site_header h1 {
    font-size: 15px;
    margin: 0px;
    padding-right: 9px;
    line-height: 16px;
  }
    #site_header h1 a {
      text-decoration: none;
      font-size: 18px;
		  color: #007ad0;
    }
    #site_header h1 a:hover {
      background-color: inherit;
      text-shadow: 0px 0px 2px #bbb;
    }
      #site_header h1 a span {
        font-weight: normal;
      }
  
  #site_header h2 {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 16px;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #666;
    border-left: 2px solid #999;
  }
  
  div#notice {
    position: absolute;
    top: 10px;
    width: 980px;
    color: #696;
    text-align: right;
  }
  
  #site_header div#auth {
    float: right;
  }
    #site_header div#auth ul {
      display: table;
  	  margin: 0 auto;
  	  padding: 0;
  	  list-style: none;
    }

    #site_header div#auth ul li {
  	  display: table-cell;;
  	  border-left: 1px solid #999;
    }

    #site_header div#auth ul li:first-of-type {
      border: none;
    }
      #site_header div#auth ul li a {
    		display: block;
    		padding-right: 5px;
    		padding-left: 5px;
    		font-size: 12px;
    		font-weight: normal;
    		text-align: center;
    		text-decoration: none;
    		white-space: nowrap;
    		color: #666;
    	}
    	#site_header div#auth ul li a:hover {
    		color: #111;
    		background-color: #ccc;
  		}
  
footer {
	clear: both;
  padding-top: 20px;
  font-size: 14px;
  color: #ccc;
}
  footer copyright {
    float: right;
  }

#site_nav {
	height: 40px;
  background-color: #ccc;
  /*background: url(images/linear_bg_2.png);*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bbb));
  background: -moz-linear-gradient(270deg, #eee, #bbb);
  border-radius: 4px;
}
.home #site_nav {
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0, 0.9s;
}

#site_nav ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#site_nav ul li {
	float: left;
	border-left: 1px solid #999;
}

#site_nav ul li:first-of-type {
  border: none;
}

	#site_nav ul li a {
		display: block;
		padding-right: 15px;
		padding-left: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		color: #444;
	  -webkit-transition-property:color, background;
    -webkit-transition-duration: 0.2s, 0.4s;
    -webkit-transition-timing-function: linear, ease-in;
    -moz-transition-property:color, background;
    -moz-transition-duration: 0.2s, 0.4s;
    -moz-transition-timing-function: linear, ease-in;
    transition-property:color, background;
    transition-duration: 0.2s, 0.4s;
    transition-timing-function: linear, ease-in;
	}
	#site_nav ul li:first-of-type a {
	  border-top-left-radius: 4px;
	  border-bottom-left-radius: 4px;
	}

		#site_nav ul li a:hover, #site_nav ul li.active a {
			color: #eee;
			background-color: #999;
			/*background: -moz-linear-gradient(100% 100% 90deg, #bbb, #666);
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#666));*/
		}

#site_nav form {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

#search {
	padding: 2px 7px;
	font-size: 12px;
	border: none;
	border-radius: 9px;
	}

/* http://css3.wikidot.com/blog:animated-page-entry-with-css3 */
@-webkit-keyframes reset {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
 
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero {
  position: relative;
  margin: 12px 0px;
  padding: 0px;
  width: 980px;
  height: 445px;
  -webkit-box-shadow: 3px 3px 10px #ccc;
  -moz-box-shadow: 3px 3px 10px #ccc;
  box-shadow: 3px 3px 10px #ccc;
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0, 0.1s;
  }
  #hero #hero_list {
  	margin:0 auto;
		padding: 0;
  	height:445px;
  	overflow:auto; /* allow scrollbar */
  	position:relative;
		}
		#hero_list .slide {
			float: left;
			margin:0 auto;
			width:960px;
	  	height:445px;
		}
	#hero .hero_background {
		position:absolute;
		z-index:1;
		width:960px;
		overflow: hidden;
		}
#hero:hover {
  opacity: 1.0;
  }
  #hero_text {
    display: inline-block;
		position: relative;
    vertical-align: top;
		margin-left: 530px;
    padding: 50px 100px 50px 40px;
    font-size: 14px;
		z-index: 3;
    }
  #hero_text a {
    font-size: 14px;
    }
  #hero_text a::after {
    content: " >>";
    }
	#hero .control {
  	display:block;
  	width:77px;
  	height:445px;
  	text-indent:-10000px;
  	position:absolute;
  	cursor: pointer;
		}
		#hero_left_control {
  		top:0;
  		left:0;
			z-index: 4;
  		background:transparent url(/images/control_left.png) no-repeat scroll center;
			}
		#hero_right_control {
  		top:0;
  		right:0;
			z-index: 4;
  		background:transparent url(/images/control_right.png) no-repeat scroll center;
			}

#featured_nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 3px 3px 10px #ccc;
  -moz-box-shadow: 3px 3px 10px #ccc;
  box-shadow: 3px 3px 10px #ccc;
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0, 0.3s;
  }
  #featured_nav li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 194px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    }
  .featured_nav_image {
    width: 194px;
    height: 60px;
    overflow: hidden;
    }
  .featured_nav_name {
    color: #fff;
    background-color: #333;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#333));
    background: -moz-linear-gradient(100% 100% 90deg, #666, #333);
    }
    .featured_nav_name a {
      display: block;
      font-weight: bold;
      color: #fff;
      font-size: 14px;
      padding: 10px;
      width: 174px;
      height: 20px;
      -webkit-transition-property:color, background;
      -webkit-transition-duration: 0.2s, 0.4s;
      -webkit-transition-timing-function: linear, ease-in;
      -moz-transition-property:color, background;
      -moz-transition-duration: 0.2s, 0.4s;
      -moz-transition-timing-function: linear, ease-in;
      transition-property:color, background;
      transition-duration: 0.2s, 0.4s;
      transition-timing-function: linear, ease-in;
      }
    .featured_nav_name a:hover {
      color: #333;
			background-color: #ccc;
			text-decoration: none;
      }
    .featured_nav_text {
      padding: 10px;
			font-size: 14px;
			color: #666;
      }
    .featured_nav_link {
      margin-top: 10px;
      }
    .featured_nav_link a::after {
      content: " >>";
      }
  
#page_admin, #done_page_editing, #page_feed_control, #page_calendar_control {
  float: right;
	margin: 0;
	margin-left: 20px;
  }
  #page_admin, #page_feed_control, #page_calendar_control {
    margin-top: 10px;
    }
  #page_admin ul {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    }
    #page_admin ul li {
      float: left;
    }
  #page_admin a {
    display: block;
	  color: #bbb;
    font-weight: bold;
    }
    #page_admin a:hover {
      color: #333;
      background-color: inherit;
      }

#page_banner {
  height: 245px;
  background-color: #dfe1db;
}

#page_content {
	display: table;
	margin-top: 14px;
  }
	#page_content section {
		display: table-cell;
		width: 100%;
		padding: 0px 30px 20px 30px;
		vertical-align: top;
		color: #666;
	  }
	  #page_content.yui_editor section {
	    padding-left: 0px;
	    }
	
	#page_text h1, #page_text h2 {
	  color: #c52;
	  }
	#page_content aside {
		display: table-cell;
		width: 400px;
	  }
	#page_content aside form {
	  width: 300px;
	  }
	
#add_content {
  margin: 20px 0px;
	}
	#add_content.header_add_content {
		float: right;
		margin: 0px;
		}
      #page_admin a, #add_content a {
  		  display: inline-block;
  		  color: #bbb;
		    font-weight: bold;
				padding-left: 20px;
		  }
		  #page_admin a:hover, #add_content a:hover {
		    color: #333;
		    background-color: inherit;
		  }
		  
#edit_content {
  display: table;
	width: 980px;
  }
  #edit_content aside {
    display: table-cell;
    width: 300px;
    }
  #edit_content section {
    display: table-cell;
		width: 640px;
    }
    #edit_content section header {
      margin-top: 0px;
      }
		#edit_content h4 {
			margin-bottom: 0px;
			color: #888;
			}
	
.field aside {
  float: right;
}
.field label, .edit_options label {
  display: inline-block;
  width: 120px;
  }
.field .help {
  color: #999999;
  }

.page_text_image {
  float: left;
  margin: 0px 20px 20px 0px;
}

#events, #documents, #dynamic_forms, #contacts {
  display: table;
  width: 400px;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  }
#contacts {
	margin-bottom: 10px;
	}
  #events h2, #documents h2, #dynamic_forms h2, #contacts h2 {
    display: table-cell;
    font-size: 14px;
		line-height: 14px;
    color: #999;
    width: 90px;
    margin: 0px;
    padding: 0px;
		padding-right: 20px;
    }
		#events h2 img {
			vertical-align: text-top;
		}
  .events_list, #documents_list, .edit_list, #dynamic_forms_list, #contacts_list {
    display: table-cell;
    margin: 0px;
    padding: 0px;
    list-style: none;
    }
    .events_list li, #documents_list li, .edit_list li,
 		#dynamic_forms_list li {
      padding: 10px 0px;
      border-top: 1px solid #ccc;
      color: #666;
      font-weight: normal;
      }
    .events_list li:first-of-type, #documents_list li:first-of-type,
		.edit_list li:first-of-type, #dynamic_forms_list li:first-of-type {
      border: none;
      }
    .events_list .event_range {
      color: #333;
      font-weight: bold;
      }
    .edit_list li {
      padding: 0px;
      }
    .edit_list a {
      display: block;
      padding: 10px 20px;
      }
      .edit_list a .event_range {
        color: #333;
        }
  #add_content {
    padding: 0px 20px;
    }
#page_content aside .event_form {
  width: 600px;
  }
  #page_content aside .event_form h3 {
    margin-top: 0px;
    padding-top: 0px;
    }

#notes {
  width: 350px;
  margin: 0px;
  margin-bottom: 25px;
  padding: 15px 25px;
	background-color: #dfe1db;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
  #notes h2 {
    margin: 0px;
    padding: 5px 0px;
    color: #1d38a5;
  }
  
  #notes #new_note_activator {
    float: right;
    margin-top: -25px;
  }
  
  #new_note_activator a {
    font-weight: bold;
    color: #999;
  }
  #new_note_activator a:hover {
    color: #000;
    background-color: inherit;
  }

#notes_list {
  padding: 0px;
  list-style: none;
}
  #notes_list li.note {
    padding: 10px 0px;
    border-top: 1px solid #666;
    color: #666;
  }
  
  #notes_list .note_delete {
    float: right;
  }
  #notes_list .note_delete a {
    color: #bbb;
    font-weight: bold;
  }
  #notes_list .note_delete a:hover {
    color: #111;
    background-color: inherit;
  }

#gallery {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  background-color: #666;
  padding: 20px;
}
  #gallery li {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    background-color: #eee;
  }

/* http://www.ie7nomore.com/fun/slideshow/#slide1 */
#slideshow {
	position: relative;
	width: 400px;
	height: 300px;
	overflow: hidden;
	margin-bottom: 20px;		
  }
  #slides_slide, #slides_nav {
    list-style-type: none;
    margin: 0; padding: 0;
  }
	#slides_slide li {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
	#slides_slide li img {
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transition: 2s;
		-moz-transition: 2s;
		transition: 2s;
	}
	#slides_slide li.first img {
		opacity: 1;
	}
	#slides_slide li:target {
		z-index: 5;
	}
	#slides_slide li:target img {
		opacity: 1;
		filter:alpha(opacity=100);
	}
	
	#slides_nav {
    position: absolute;
    bottom: 7px; left: 2px;
    z-index: 10;
	}
	
	#slides_nav li {
		display: inline;
	}
	#slides_nav a {
		padding: 3px 10px;
		margin: 0 0 0 3px;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		background: rgb(0,0,0);
		background: rgba(0,0,0,.2);
	}
	#slides_nav a:hover, #slides_nav a:focus {
		-moz-box-shadow: 0 0 8px #fff;
		-webkit-box-shadow: 0 0 8px #fff;
		box-shadow: 0 0 8px #fff;
		background: rgba(0,0,0,.4);
		outline: none;
	}
	
#videos {
  	position: relative;
  	width: 400px;
  	height: 300px;
  	overflow: hidden;		
    }
    
input[type="file"] {
  background-color: inherit;
}

/* http://ubuwaits.github.com/css3-buttons/ */
input[type="submit"] {
  background: #e9e9e9;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #666;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 10px 9px 10px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

input[type="submit"]:hover {
  background: #d9d9d9;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer;
}

/* http://net.tutsplus.com/tutorials/html-css-techniques/
    design-a-prettier-web-form-with-css-3/ */
input, textarea {
	padding: 9px;
	border: solid 1px #ccc;
	outline: 0;
	background: #FFFFFF;
	}

textarea {
	line-height: 150%;
	}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: #999;
	}

form label, .edit_options label {
	margin-left: 10px;
	color: #999999;
	}

.submit input {
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	}

input, textarea, .yui-skin-sam .yui-editor-container {
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

input:hover, textarea:hover,
input:focus, textarea:focus {
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

/* http://trentrichardson.com/examples/timepicker/ */
/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

#sign_in, #sign_up {
  margin: 0px auto;
  width: 300px;
  }
  #sign_in form, #sign_up form {
    text-align: left;
    }

table.index td, table.index th {
  padding-right: 20px;
  }
	table.index th {
		text-align: left;
		color: #666;
		}
#users .first_name {
  text-align: right;
  }
#users .administrator {
  color: #999;
  }

#communities {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  }
  #communities li.group {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    width: 200px;
    background-color: #eee;
    }
    #communities .group_image {
      width: 200px;
      height: 60px;
      overflow: hidden;
      }
    #communities .group_text {
      padding: 10px 10px 20px 10px;
      }
    #communities .delete_group {
      float: right;
      margin-top: 10px;
      }
    #communities ul {
      list-style-type: none;
      }

.calendar_controls {
  color: #666;
  font-size: 18px;
  font-weight: bold;
  }
  .calendar_controls a {
    font-size: 18px;
    line-height: 28px;
    padding: 0 5px;
    }
  #calendar_views {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    }
    #calendar_views li {
      float: left;
      }
      #calendar_views a {
        display: block;
  		  padding-right: 15px;
  		  padding-left: 15px;
        font-size: 12px;
        color: #999;
        line-height: 20px;
  		  text-align: center;
  		  text-decoration: none;
  		  border-radius: 3px;
  		  -webkit-transition-property:color, background-color;
        -webkit-transition-duration: 0.2s, 0.4s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property:color, background-color;
        -moz-transition-duration: 0.2s, 0.4s;
        -moz-transition-timing-function: linear, ease-in;
        transition:color 0.3s ease-in;
        transition-property:color, background-color;
        transition-duration: 0.2s, 0.4s;
        transition-timing-function: linear, ease-in;
        }
        #calendar_views a:hover {
  			  color: #fff;
  			  background-color: #999;
  		    }
    	  #calendar_views li.active a {
    	    color: #666;
    	    }
    	  #calendar_views li.active a:hover {
    	    color: #666;
    	    background: inherit;
    	    }
	  #calendar_controls_extended, #calendar_page_chooser {
	    display: inline-block;
	    vertical-align: top;
	    padding-left: 10px;
			}
		#calendar_controls_extended input {
		  margin: 0px;
			padding: 3px;
			border: solid 1px #ccc;
			color: #666;
			font-size: 11px;
			outline: 0;
			background: #FFFFFF;
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			}
		#calendar_controls_extended form {
		  display: inline-block;
		  padding-right: 10px;
		}
  
#calendar {
  padding: 0px;
  border-spacing: 0px;
  width: 100%;
  font-family: 'Lucida Grande', 'lucida sans unicode', sans-serif;
  }
  #calendar th {
    color: #999;
    font-size: 12px;
    }
  #calendar td {
    width: 14%;
    height: 60px;
    font-size: 12px;
    vertical-align: top;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    }
    /*#calendar td.new_month {
      border-top: 3px solid #ccc;
      }
    #calendar td.new_month_first {
      border-left: 3px solid #ccc;
      }*/
    #calendar td.first {
      border-left: none;
      }
    /*#calendar td.ref {
      border: 2px solid #cc3;
      }*/
    #calendar td.odd_month {
      background: #f6f6f6;
      }
    #calendar td .date, #calendar td .holiday {
      margin: 0;
      padding: 0;
      text-align: right;
      font-family: 'Lucida Grande', 'lucida sans unicode', sans-serif;
      font-size: 10px;
      }
      #calendar td .date .month {
        font-weight: bold;
        font-size: 12px;
        padding-right: 5px;
        color: #999;
        }
    #calendar td .holiday {
      font-size: 90%;
      }
    #calendar td ul {
      margin: 0 3px 15px 3px;
      padding: 0;
      list-style-type: none;
      }
    #calendar td li {
      text-indent: -1.5em;
      margin-left: 1.5em;
      }
    #calendar td .time {
      font-size: 90%;
      color: #999;
      }
  #calendar a {
    font-size: 11px;
    text-decoration: none;
    }

#calendar_list {
  padding: 0px;
  }
  #calendar_list td {
    padding-left: 10px;
    color: #666;
  }
  #calendar_list .day {
    font-size: 16px;
    font-weight: bold;
    color: #aaa;
    }
  #calendar_list .name a {
    font-size: 14px;
    }
  
#search_results {
  margin: 0px;
  padding: 0px;
  }
  .search_result td {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    padding-right: 20px;
    }
  .search_result td a {
    font-size: 14px;
    }
  .search_result_type {
    color: #ccc;
    }
    
#recurrence_control {
  margin-bottom: 10px;
  }

#recurrence {
  padding: 0px;
  margin-bottom: 20px;
  width: 500px;
  font-family: 'Lucida Grande', 'lucida sans unicode', sans-serif;
  }
  #recurrence th {
    color: #999;
    font-size: 12px;
    }
  #recurrence td {
    width: 14%;
    padding: 0px 5px;
    font-size: 11px;
    vertical-align: bottom;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    }
  #recurrence td.ref {
    color: #eee;
    background-color: #999;
    }
  #recurrence td.active {
    color: #eee;
    background-color: #999;
    }
  #recurrence .month {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    }
  #recurrence .day {
    display: inline-block;
    width: 20px;
    }

div.actions {
  margin-top: 20px;
  }

#reservations {
  list-style: none;
  margin: 0px;
  padding: 0px;
  }
  #reservations li {
    display: inline-block;
    padding-right: 20px;
    }

#landing_page_intro {
	display: table;
	margin-bottom: 20px;
	}
	#landing_page_text {
		display: table-cell;
		width: 100%;
		vertical-align: top;
		}
	#landing_page_photos, #landing_page_videos {
		display: table-cell;
		width: 400px;
		}
#landing_page_content .sub_pages {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	.sub_pages li {
		list-style: none;
		}
	#landing_page_content .sub_pages li.landing_sub {
		display: inline-block;
		width: 194px;
		height: 200px;
		overflow: hidden;
		vertical-align: top;
		background-color: #efefef;
		border: 1px solid #fff;
		border-radius: 5px;
		margin: 0px 0px 10px 0px;
		}
		li.landing_sub .sub_sub_pages {
			padding: 10px;
			}
		.landing_sub_title {
	    color: #fff;
	    background-color: #333;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#333));
	    background: -moz-linear-gradient(100% 100% 90deg, #666, #333);
	    }
		.landing_sub_title a {
	  	display: block;
	    font-weight: bold;
	    color: #fff;
	    font-size: 16px;
		  padding: 10px;
	    -webkit-transition-property:color, background;
	    -webkit-transition-duration: 0.2s, 0.4s;
	    -webkit-transition-timing-function: linear, ease-in;
	    -moz-transition-property:color, background;
      -moz-transition-duration: 0.2s, 0.4s;
     	-moz-transition-timing-function: linear, ease-in;
     	transition-property:color, background;
	    transition-duration: 0.2s, 0.4s;
	    transition-timing-function: linear, ease-in;
	    }
		  .landing_sub_title a:hover {
		    color: #333;
				background-color: #ccc;
				text-decoration: none;
		    }

#breadcrumbs {
	text-align: right;
	margin: 0;
	padding: 0;
	height: 0;
	font-size: 11px;
	color: #ccc;
	}
	#breadcrumbs ul {
		list-style: none;
		margin: 0;
		padding: 0;
		}
		#breadcrumbs li {
			display: inline-block;
			margin: 0;
			padding: 0;
			}
			#breadcrumbs li:before {content: "\00B7";}
			#breadcrumbs li:first-child:before {content: '';}
			#breadcrumbs a {
				font-size: 11px;
				font-weight: normal;
				color: #ccc;
				padding: 0px 0px 0px 2px;
				}

#indexer {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #666;
	cursor: move;
	}
	#indexer li.active {
		font-weight: bold;
		color: #333;
		}

#dynamic_form_form {
	}
	#dynamic_form_form .field {
		display: inline-block;
		margin-right: 20px;
		}
	#dynamic_form_form .field label {
		width: auto;
		}
#dynamic_form_form .actions {
	/*display: inline-block;*/
	float: right;
	margin-top: -50px;
	}
#dynamic_form_fields {
	list-style: none;
	margin: 0;
	padding: 0px 20px 20px 0px;
	}
	#dynamic_form_fields li.form_field {
		margin: 20px 0px;
	}
	div.form_field {
		display: table;
		}
		div.form_field .field
		{
			display: table-cell;
			padding-right: 20px;
			}
.dynamic_form_field_admin {
	clear: right;
	float: right;
	}
	.dynamic_form_field_admin a {
		color: #bbb;
		}
		.dynamic_form_field_admin a:hover {
			color: #333;
			}
.form_field.editing {
	background-color: #f8f8f8;
	padding: 20px;
	}
.form_field.editing .admin {
	float: right;
	}
.form_field_options {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
.form_field_options.editing li {
	border-top: 1px solid #fff;
	}
.form_field_option.editing {
	background-color: #eeeeee;
	padding: 20px;
	}
	.form_field_option.editing .field {
		vertical-align: top;
		display: inline-block;
		}
.edit_options .add_content {
	margin-top: 20px;
	}
.dynamic_form_field_name, .dynamic_form_field_option_name {
	display: inline-block;
	vertical-align: top;
	color: #666;
	margin-right: 20px;
	}
.dynamic_form_field_value, .dynamic_form_field_option_value {
	display: inline-block;
	}
	.dynamic_form_field_value ul {
		margin: 0;
		padding: 0;
		list-style: none;
		}
		.dynamic_form_option {
			float: left;
			margin: 0;
			padding-right: 20px;
			}
.dynamic_form_field_help, .dynamic_form_field_option_help {
	display: inline-block;
	color: #333;
	}
	
#submitted_form_list {
	background-color: #f8f8f8;
	padding: 10px 20px 20px 20px;
	margin-bottom: 20px;
	}
	#submitted_form_list h2 {
		color: #999;
		font-size: 16px;
		margin: 0px;
		padding: 0px;
		}
	#submitted_form_list ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		text-align: left;
		max-height: 400px;
		overflow: auto;
		}
		#submitted_form_list li {
			padding: 2px 10px;
			}
		#submitted_form_list li.active {
			background-color: #999;
			border-radius: 3px;
			}
			#submitted_form_list li.active a {
				color: #eee;
				}
#filled_fields {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	#filled_fields .form_field {
		padding: 5px 0px;
		}
		.form_field_name {
			display: inline-block;
			vertical-align: top;
			padding-right: 20px;
			color: #999;
			font-size: 14px;
			font-weight: bold;
			min-width: 100px;
			}
		.form_field_help {
			display: inline-block;
			}
		.options_list {
			display: inline-block;
			list-style: none;
			margin: 0px;
			padding: 0px;
			}
			#filled_fields .option_name {
				display: inline-block;
				padding-right: 20px;
				min-width: 80px;
				}
			#filled_fields .option_help {
				display: inline-block;
				}
.timestamp {
	padding-top: 20px;
	color: #999;
	}
table.grid {
	margin: 20px auto;
	}
table.grid td {
	padding-right: 20px;
	}
	#books a {
		font-size: 14px;
		}
#authors {
	margin-left: 160px;
	list-style: none;
	}
	#authors a {
		font-size: 14px;
		}
		
#messages td {
	padding-right: 20px;
	}
.message_date {
	font-size: 12px;
	font-weight: bold;
	color: #999;
	}
.message_verses, .message_dpid {
	color: #999;
	}
#message_details {
	float: right;
	clear: right;
	}
header audio {
	vertical-align: middle;
	}
.message_files {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	.message_files li {
		display: inline-block;
		}

.series_title {
	margin: 10px 0px;
	padding: 0px;
	}
	.series_title a {
		font-size: 16px;
		color: #777;
		}
		.series_title a:hover {
			text-decoration: none;
			color: #000;
			}

div#messages {
	margin-bottom: 20px;
	}
.message .message_date, .message .message_title, .message .message_verses,
.message .message_author, .message .message_audio, .message .message_files {
	display: inline-block;
	margin-right: 10px;
	}
	.message .message_date .message_year {
		display: inline-block;
		color: #ccc;
		}
	.message .message_date {
		min-width: 120px;
		}
	.message .message_title {
		min-width: 300px;
		}
	.message .message_verses {
		min-width: 200px;
		}
	.message .message_author {
		min-width: 120px;
		}
.messages_year {
	float: left;
	width: 0;
	overflow: visible;
	padding-top: 100px;
	font-size: 244px;
	color: #f6f6f6;
	}
#more_messages {
	padding-top: 30px;
	}
.empty_indicator {
	font-style: italic;
	color: #999;
	}

.blog_post {
	margin-bottom: 30px;
	}
	.post_date {
		color: #999;
		font-size: 11px;
		}
	.post_title {
		margin: 5px 0px 10px 0px;
		padding: 0px;
		}
		.post_title a {
			font-size: 28px;
			}

#invitations {
	list-style: none;
	padding: 0px;
	}
	.invitation {
		margin: 7px 0px;
		}
	.invitation .email {
		display: inline-block;
		width: 240px;
		}
	.invitation form {
		display: inline-block;
		margin: 0px 10px;
		}
	.invitation .response_note {
		display: inline-block;
		margin: 0px 10px;
		color: #999;
		}

#invitation_response {
	margin: 20px 0px;
	padding: 20px;
	background-color: #eee;
	font-size: 18px;
	}
	#invitation_response h3 {
		margin-top: 0px;
		padding-top: 0px;
		}
	#invitation_response .response_option {
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		}
	#invitation_response .response_note {
		display: inline-block;
		margin-right: 10px;
		}
	#invitation_response input {
		vertical-align: top;
		}
		
.page_map {
  margin: 0px;
  padding: 0px;
  list-style: none;
  }
  .page_map li {
    display: inline-block;
    margin: 0px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    vertical-align: top;
    }
    .page_map li.leaf, .page_map li.post {
      border: none;
      }

@media print {
	#site_header, footer, #site_nav, #submitted_form_list,
	#page_admin, .admin, .actions {
		display: none;
		}
	input, textarea {
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}
}
