body {
  margin: 0px;
  padding: 15px;
  font: 20px/32px Arial, sans-serif;
  background-color: #fff; }

a {
  font-size: 20px; }
  a:hover {
    opacity: 1; }

input, textarea, .textedit {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }
  input:hover, textarea:hover, .textedit:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }

div#content {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%; }

#site_header h1 {
  white-space: normal; }
#site_header h2 {
  display: none; }

#site_nav {
  background: none;
  margin: 0px;
  border-radius: 0px;
  height: auto; }
  #site_nav ul li {
    float: none;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc; }
    #site_nav ul li a {
      font-size: inherit;
      line-height: normal;
      -moz-transition: none;
      -webkit-transition: none;
      transition: none;
      text-align: left;
      padding: 10px 0px;
      color: #0b6199; }
      #site_nav ul li a:hover {
        color: #0b6199;
        background-color: inherit; }
    #site_nav ul li.menu_parent .site_nav_menu {
      display: none; }
    #site_nav ul li:first-of-type {
      border-bottom: 1px solid #ccc; }
      #site_nav ul li:first-of-type a {
        border-radius: 0px; }
  #site_nav form {
    float: none; }
    #site_nav form #search {
      border-radius: 0px;
      border: 1px solid #ccc;
      font-size: 18px; }

.home #site_nav {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none; }

#mobile_home h3 {
  font-weight: normal;
  margin: 5px 0px; }
#mobile_home .home_message {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc; }
  #mobile_home .home_message .message_author, #mobile_home .home_message .message_files {
    display: inline-block;
    margin-right: 10px; }
    #mobile_home .home_message .message_author a, #mobile_home .home_message .message_files a {
      font-size: 14px; }
    #mobile_home .home_message .message_author li, #mobile_home .home_message .message_files li {
      padding-right: 10px; }

header#page_header {
  position: relative;
  line-height: 32px; }
  header#page_header > h1 {
    position: absolute;
    top: -30px;
    line-height: 32px; }
    header#page_header > h1 a {
      font-size: 14px; }
    header#page_header > h1.active {
      position: static; }
      header#page_header > h1.active a {
        font-size: 20px; }
  header#page_header ul.nav {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADpJREFUeNpiYBgFo2AUjAIyASM+yYuXr/ynxHB9XR2c5jONhv1o4hpNXKNgNHGNglEwCkYBzQFAgAEAP98MCrbquOEAAAAASUVORK5CYII=);
    background-position: right center;
    background-repeat: no-repeat;
    min-width: 30px;
    min-height: 15px; }
    header#page_header ul.nav.active {
      border: 1px solid #ccc;
      background: none;
      vertical-align: top; }
      header#page_header ul.nav.active li {
        display: block;
        border-bottom: 1px solid #ccc;
        padding: 10px; }
        header#page_header ul.nav.active li:first-of-type {
          border-bottom: 1px solid #ccc; }
          header#page_header ul.nav.active li:first-of-type a {
            border-radius: 0px; }
        header#page_header ul.nav.active li:last-of-type {
          border: none; }
    header#page_header ul.nav li {
      float: none;
      display: none;
      border: none; }
      header#page_header ul.nav li.active {
        display: block;
        padding-right: 30px; }
      header#page_header ul.nav li a {
        font-size: inherit;
        line-height: normal;
        -moz-transition: none;
        -webkit-transition: none;
        transition: none;
        text-align: left;
        padding: 10px 0px;
        color: #0b6199; }
        header#page_header ul.nav li a:hover {
          color: #0b6199;
          background-color: inherit; }
      header#page_header ul.nav li.menu_parent .site_nav_menu {
        display: none; }

/*
$nav-url: url(data:image/gif;base64,R0lGODlhDwAGAJEAAN3d3f///////wAAACH5BAEHAAIALAAAAAAPAAYAAAIMhI+pa+IPo5y02lgAADs=);

#site_nav {
  //margin-bottom: 10px;
  position: absolute;
  top: 20px;
  right: 15px;
  min-height: 20px;
  min-width: 20px;
  height: auto;
  background: none;
  background: $nav-url;
  //background-color: #eee;
  border-radius: 0px;
  z-index: 50;
  
  > * {
    display: none;
  }
  
  form {
    float: none;
    margin: 10px;
  }
  
  &.active {
    background: none;
    background-color: #eee;
    border: 1px solid #ccc;
    
    > * {
      display: block;
    }
  }

  ul {
    margin: 0px;
    
    li {
      float: none;
      border: none;
      border-bottom: 1px solid #ccc;
      
      &:first-of-type {
        border-bottom: 1px solid #ccc;
        
        a {
          border-radius: 0px;
        }
      }
      
     &.menu_parent {
        .site_nav_menu {
          display: none;
        }
      }
    }
  }
}

#hero {
  width: 100%;
  height: auto;
  margin: 0px;
  margin-bottom: 15px;
  box-shadow: none;
  
  #hero_list {
    width: 100%;
    height: auto;
    
    .hero_page {
      width: 100%;
    
      .hero_background {
        width: 100%;
      
        img {
          width: 100%;
          height: 100%;
        }
      }
      
      .hero_text {
        margin-left: 50%;
        padding: 20px;
      }
    }
  }
  
  .control {
    height: 100%;
  }
}

#feature_nav {
  box-shadow: none;
  
  li {
    display: block;
    width: 100%;
    height: 60px;
    overflow: hidden;
    box-sizing: border-box;
    border: none;
    margin-bottom: 15px;
    white-space: nowrap;
    
    > * {
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      height: 60px;
      box-sizing: border-box;
      width: auto;
      white-space: normal;
    }
    
    .feature_nav_name {
      a {
        width: auto;
        min-width: 100px;
        height: 60px;
        box-sizing: border-box;
      }
    }
    
    .feature_nav_phrase {
      margin: 0px;
      padding: 10px;
    }
    
    .feature_nav_link {
      display: none;
    }
  }
}
*/
footer #site_address a, footer #site_phone {
  font-size: 16px; }
footer #copyright {
  float: none; }
footer #auth {
  margin: 15px 0px; }

header {
  margin-top: 15px; }
  header ul.nav li a {
    font-size: 20px; }

section.regular_top, section.landing_top {
  margin-top: 15px; }

div.regular_content {
  margin-top: 15px; }

ul.landing_content {
  display: block;
  max-width: 100%;
  margin: 0px; }
  ul.landing_content > li {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 15px; }
  ul.landing_content.primary > li, ul.landing_content.secondary > li {
    width: auto;
    max-width: 100%; }

#child_pages #pages_list td {
  vertical-align: top;
  padding: 0px 10px 10px 0px;
  line-height: normal; }

#messages {
  font-size: 16px; }
  #messages .series_title {
    font-size: 24px; }
  #messages .message {
    display: block;
    margin-bottom: 15px; }
    #messages .message > * {
      display: block;
      width: auto; }
    #messages .message .message_date {
      display: inline-block;
      font-size: 18px;
      width: 80px; }
    #messages .message .message_title {
      display: inline-block; }
      #messages .message .message_title a {
        font-size: 18px; }
    #messages .message .message_verses, #messages .message .message_author, #messages .message .message_files {
      margin-left: 114px; }

#banner {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-color: #fff; }
  #banner .banner_background {
    position: static;
    width: 100%; }
    #banner .banner_background img {
      width: 100%; }
  #banner #banner_text {
    position: absolute;
    top: 0px;
    margin-left: 50%;
    padding: 10px; }

#page_banner img {
  width: 100%; }

#animated_banners {
  position: relative;
  padding: 0px;
  width: 100%;
  height: auto; }
  #animated_banners:hover {
    opacity: 1.0; }
  #animated_banners #animated_banners_list {
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    /* allow scrollbar */
    position: relative;
    height: auto; }
  #animated_banners .slide {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: auto; }
  #animated_banners .slide_background {
    position: absolute;
    z-index: 1;
    width: auto;
    overflow: hidden; }
  #animated_banners .control {
    display: block;
    width: 77px;
    text-indent: -10000px;
    position: absolute;
    cursor: pointer;
    height: auto; }
  #animated_banners #banner_left_control {
    top: 0px;
    left: 20px;
    background: transparent url(/images/control_left.png) no-repeat scroll center; }
  #animated_banners #banner_right_control {
    top: 0px;
    right: 20px;
    background: transparent url(/images/control_right.png) no-repeat scroll center; }
  #animated_banners #banner_left_control, #animated_banners #banner_right_control {
    z-index: 4; }

.regular_content {
  display: block; }
  .regular_content #text {
    padding: 0px; }

#calendar_nav {
  border-radius: 0px;
  background: #eee; }
  #calendar_nav a {
    position: relative;
    display: inline-block;
    width: 9px;
    color: transparent; }
    #calendar_nav a.today:before {
      content: ".";
      color: #666; }
    #calendar_nav a.previous {
      border-right: 1px solid #ccc; }
      #calendar_nav a.previous:before {
        content: "<";
        color: #666; }
    #calendar_nav a.next {
      border-left: 1px solid #ccc; }
      #calendar_nav a.next:after {
        content: ">";
        color: #666; }
    #calendar_nav a img {
      display: none; }

#calendar_views {
  display: none; }

#calendar_list td {
  white-space: normal; }
  #calendar_list td.name a {
    font-size: inherit; }
