<% title('PBC - Communities') -%>

<h1>Communities</h1>

<ul id="communities">
  <%= render :partial => @groups %>
</ul>

<% if user_signed_in? -%>
<div id="page_admin">
  <ul>
    <li><%= link_to 'Add', new_group_path %></li>
  </ul>
</div>
<% end -%>
