<% title('PBC - Communities') -%>

<section>
  <header>
    <h1>Communities</h1>

<% if current_user and current_user.administrator? -%>
<div id="page_admin">
  <ul>
    <li><%= link_to 'Add', new_group_path %></li>
  </ul>
</div>
<% end -%>
  </header>

  <ul id="communities">
    <%= render :partial => @groups %>
  </ul>
</section>
