<% content_for(:scripts) do -%>
  <%= render :partial => 'hyper_style.css' %>
<% end -%>

<canvas datasrc="index.pjs" width="1040" height="800"></canvas>

<h1>HyperHome#index</h1>
<p>Find me in app/views/hyper_home/index.html.erb</p>
