<% if @video.video.exists? -%>
<div class="add_content">
  <%= link_to 'Add video', new_page_video_path(@page) %>
</div>
<% end -%>

<ul class="edit_gallery">
  <%= render :partial => 'edit_video', :collection => @page.videos %>
</ul>

