<% if videos and not videos.empty? -%>
<ul class="gallery">
  <% videos.each do |video| -%>
  <li>
    <%= render :partial => 'videos/video', :locals => {:video => video} %>
  </li>
  <% end -%>
</ul>
<% end -%>
