<section>

  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'videos'} %>
  
  <div class="edit_content">
    <section>
      <header>
        <h2>Add Video</h2>
      </header>
      <%= render 'form' %>
    </section>

    <aside>
      <%= render 'edit_gallery' %>
    </aside>
  </div>

<section>
