<div id="home_messages" class="home_section">
  <h2><%= link_to 'Library', messages_path %></h2>
  <% if @next_message or @previous_message -%>
  <table id="home_messages">
    <% if @next_message -%>
    <tr class="next_message">
      <td class="when">This week</td>
      <%= render :partial => 'message',
        :locals => {:message => @next_message} %>
    </tr>
    <% end -%>

    <% if @previous_message -%>
    <tr class="previous_message">
      <td class="when">Last week</td>
      <%= render :partial => 'message',
        :locals => {:message => @previous_message} %>
    </tr>
    <% end -%>
  </table>
  <% end -%>
</div>
