<div class="home_section home_pages">
  <h2>
    <%= link_to page.name, friendly_page_path(page) %>
  </h2>
  <ul>
    <% page.children.each do |child| -%>
    <li><%= link_to child.name, friendly_page_path(child) %></li>
    <% end %>
  </ul>
</div>
