<% if @next_message and not @next_message.events.empty? -%>
<div id="home_services" class="home_section">
  <h2>
    <%= link_to 'Services', friendly_page_url(@next_message.events.first.page) %>
  </h2>
  <div id="service_times">
    <%= @next_message.date.event_date %>
    <%= raw @next_message.events.map{ |e|
        e.start_at.simple_time(true)
    }.to_sentence() %>
  </div>
</div>
<% end -%>
