<% title('Peninsula Bible Church') -%>
<% content_for(:content_class) {'home'}%>

<div id="hero">
  <div id="hero_list">
    <%= render :partial => "page_hero", :collection => @pages %>
  </div>
</div>

<ul id="featured_nav">
  <%= render :partial => "featured_page", :collection => @pages %>
</ul>


<%= javascript_tag do %>
  <%= render :partial => 'hero.js' %>
<% end -%>
