<div id="page_content" class="multi_edit">
  <section>
    <ul id="edit_events_list">
      <%= render :partial => 'events/edit_event',
        :collection => @page.events.find_masters %>
    </ul>
    <% if @event.name -%>
      <div id="add_event">
        <%= link_to 'Add event',
          edit_page_path(@page, :aspect => 'events', :create => true) %>
      </div>
    <% end -%>
  </section>

  <aside>
    <div class="event_form">
      
      <h3><%= (@event.name ? "Edit #{@event.name}" : 'Add Event') %></h3>
      
      <%= render 'events/form' %>
      
    </div>
  </aside>
</div>
