<%= content_tag_for(:li, event) do %>
  <% unless (no_name || false) -%>
    <%= event.name %>
  <% end -%>
  <div class="event_range">
    <%= friendly_range(event, true) %>
  </div>
  <% if event.location and ! event.location.empty? -%>
    <div class="event_location">
      <%= h event.location %>
    </div>
  <% end -%>
<% end %>
