<header id="page_event_header">
  
  <% contextual_times(@event).each do |timestamp| -%>
    <div class="event_range">
      <%= timestamp %>
    </div>
  <% end -%>
  
  <% if @event.location and ! @event.location.empty? -%>
    <div class="event_location">
      <%= h @event.location %>
    </div>
  <% end -%>
  
  <% if @form and @form.call_to_action and not @form.call_to_action.empty? -%>
    <%= link_to @form.call_to_action, best_form_url(@form), class: 'call_to_action' %>
  <% end -%>
  
</header>
