$(function() {
  // shorten list and expand with a 'X more ...' link
  if ($('.events_list li')[0]) {      
    var i = 0;
    $(".events_list > li").each(function(){
      i = i+1;
      $(this).toggle(i<=3);
    });
    if (i>3) {
      ($('.events_list').append(
        "<li class='more'>" + (i-3) + " more...</li>").css('cursor', 'pointer').bind(
          "click", function(){
            $(".events_list > li.more").remove();
            var i = 0;
            $(".events_list > li").each(function(){
              i = i+1;
              if (i>3) {
                $(this).slideDown('slow');
              }
            });
          } )  );
    }
  }
});
