$(function() {
  // shorten list and expand with a 'X more ...' link
  if ($('.events_list li')[0]) {      
    var i = 0;
    $(".events_list > li").each(function(){
      i = i+1;
      $(this).toggle(i<=3);
    });
    if (i>3) {
      ($('.events_list').append(
        "<li  class='more'>" + (i-3) + " more...</li>").bind(
          "click", function(){
            var i = 0;
            $(".events_list > li").each(function(){
              i = i+1;
              if (i>3) {
                $(this).toggle(true);
              }
            });
            $(".events_list > li.more").toggle(false);
          } )  );
    }
  }
  
  // show notes on hover
  $('.events_list .event_notes').css('display', 'none');
  $('.events_list li').hover(
    function(){
      $(this).find('.event_notes').slideDown();
    },
    function(){
      $(this).find('.event_notes').slideUp();      
    }
    );
});
