<% unless events.empty? -%>
<div id="events">

  <h2><%= (events.count == 1 ? 'Event' : 'Events') %></h2>
  
  <ul id="events_list">
    <%= render :partial => 'events/event', :collection => events,
      :locals => {:no_name => (no_name || false)} %>
  </ul>
  
</div>
<% end -%>

<%= javascript_tag do %>
  <%= render :partial => 'events/shorten_list.js' -%>
<% end -%>
