<!-- <% if categorized_events and not categorized_events[:all].empty? -%>

<div id="events">
  <h2><%= (categorized_events[:all].count == 1 ? 'Event' : 'Events') %></h2>

  <% [:active, :expired, :ancient].each do |category| -%>
    <% unless categorized_events[category].empty? -%>
    <ul class="events_list">
      <%= render :partial => 'events/event',
        :collection => categorized_events[category],
        :locals => {:no_name => (no_name || false)} %>
    </ul>
    <% end -%>
  <% end -%>

</div>

<%= javascript_tag do %>
  <%= render :partial => 'events/shorten_list', :formats => [:js] -%>
<% end -%>

<% end -%> -->
