<section>
  
  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'events'} %>
  
  <div class="edit_content">
    <aside>
      <%= render :partial => 'edit_list' %>
    </aside>

    <section>
      <header>
        <h2>Add Event</h2>
      </header>
      <%= render 'form' %>
    </section>
  </div>

</section>
