// http://sixrevisions.com/tutorials/javascript_tutorial/create-a-slick-and-accessible-slideshow-using-jquery/
$(function() {
  var currentPosition = 0;
	var slideWidth = 980;
	var slides = $('.slide');
	var numberOfSlides = slides.length;
	var automate = true;
	var showControls = false;

	// Remove scrollbar in JS
	$('#animated_banners_list').css('overflow', 'hidden');

	// Wrap all .slides with #slide_inner div
	slides
		.wrapAll('<div id="slide_inner"/>')
	  // Float left to display horizontally, readjust .slides width
	  .css({
	    'float' : 'left',
	    'width' : slideWidth
	  });
	$('.slide_background').css('width', slideWidth);

	// Set #slide_inner width equal to total width of all slides
	$('#slide_inner').css('width', slideWidth * numberOfSlides);

	// Insert left and right arrow controls in the DOM
	$('#animated_banners')
	  .prepend('<span class="control" id="banner_left_control">Move left</span>')
	  .append('<span class="control" id="banner_right_control">Move right</span>');
	
	// Create listeners for hovering to show controls
	$('#animated_banners').hover(
		function(){
			showControls = true;
			manageControls(currentPosition);
		},
		function(){
			showControls = false;
			manageControls(currentPosition);
		});

	// Hide left arrow control on first load
	manageControls(currentPosition);
	
	// Create event listeners for .controls clicks
	$('.control')
		.bind('click', function(){
			if(automate){ automate = false; clearInterval(timer)}
	    // Determine new position
	    currentPosition = ($(this).attr('id')=='banner_right_control')
	    	? currentPosition+1 : currentPosition-1;

	    slide(currentPosition);
	  });
	
	function slide(position){
		// Hide / show controls
    manageControls(position);
    // Move slide_inner using margin-left
    $('#slide_inner').animate({
      'marginLeft' : slideWidth*(-position)
    }, 800);
	}

	// manageControls: Hides and shows controls depending on currentPosition
	function manageControls(position){
	  // Hide left arrow if position is first slide
	  if(position==0 || showControls==false)
			{ $('#banner_left_control').fadeOut() }
	  else{ $('#banner_left_control').fadeIn('slow') }
	  // Hide right arrow if position is last slide
	  if(position==numberOfSlides-1 || showControls==false)
			{ $('#banner_right_control').fadeOut() }
	  else{ $('#banner_right_control').fadeIn('slow') }
	}
	
	var timer = setInterval(function(){
		currentPosition = currentPosition+1;
		if(currentPosition==numberOfSlides){ currentPosition = 0 }
		slide(currentPosition);
	}, 10000);
});
