<div id="blog_posts">
  <% @page.children.reverse.each do |child| -%>
    <div class="blog_post">
      <div class="post_date">
        <%= child.created_at.relative_str %>
      </div>
      <h2 class="post_title">
        <%= link_to child.name, friendly_page_path(child) %>
      </h2>
      <p class="post_snippet">
        <%= truncate(child.snippet_text, length: 270) %>
      </p>
    </div>
  <% end -%>
</div>
