<header class="editing">
  <h1>Editing <%= @page.name %></h1>
  <!--
  <div id="done_page_editing">
    <%= button_to 'Done editing page', friendly_page_path(@page),
      :method => :get %>
  </div>
  <ul class="nav">
    <% @page.possible_aspects(current_user).each do |aspect| -%>
    <li class="<%= active_aspect == aspect ? 'active' : '' %>">
      <%= link_to aspect.capitalize, edit_page_aspect_url(@page, aspect) %></li>
    <% end -%>
  </ul>
  <% if @page.obscure? -%>
  <div class="notice">
    This is an obscure page. While it is not generally accessible to anyone who does not know its location, please do not publish personal information.
  </div>
  <% end -%>
  -->
</header>
