<header class="editing">
  <h1>Editing <%= @page.name %></h1>
  <div id="done_page_editing">
    <%= button_to 'Done editing page', friendly_page_path(@page),
      :method => :get %>
  </div>
  <ul class="nav">
    <% @page.possible_aspects.each do |aspect| -%>
    <li class="<%= active_aspect == aspect ? 'active' : '' %>">
      <%= link_to aspect.capitalize, edit_page_aspect_url(@page, aspect) %></li>
    <% end -%>
  </ul>
</header>
