<% if @page.errors.any? %>
  <div id="error_explanation" class="form__validation">
    <div class="form__validation-summary">
      <%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:
    </div>

    <ul class="form__validation-messages list-bare">
    <% @page.errors.full_messages.each do |msg| %>
      <li class="form__validation-message"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
