<header>
  <h1 class="<%= @page.nav_context == @page ? 'active' : '' %>">
    <%= link_to @page.nav_context.name,
      friendly_page_path(@page.nav_context) %></h1>
  
  <%= render :partial => "pages/header_controls" %>
  
  <% if 'header' == @page.nav_context.child_layout -%>
    <ul class="nav">
      <%= render :partial => "pages/sub_page", :collection => @header_children %>
    </ul>
  <% end -%>
  
</header>
