<% unless pages.empty? -%>
<div id="child_pages">
  
  <!--h2><%= @page.name %></h2-->
  
  <table id="pages_list" class="grid">
  <% rows = array_to_rows(pages, 2) -%>
  <% rows.each do |row| -%>
    <tr>
    <% row.each do |page| -%>
      <td><%= link_to page.name, friendly_page_path(page) %></td>
    <% end -%>
    </tr>
  <% end -%>
  </table>
  
</div>
<% end -%>
