<!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="/stylesheets/sam-skin.css">
<!-- Utility Dependencies -->
<script src="/javascripts/yui-yahoo-dom-event.js"></script> 
<script src="/javascripts/yui-element-min.js"></script> 
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="/javascripts/yui-container_core-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="/javascripts/yui-simpleeditor-min.js"></script>

<style>
.yui-skin-sam .yui-editor-container {
  border: 1px solid #ccc;
}
.yui-skin-sam #page_text_dompath {
  border-top: 1px solid #ddd;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont {
  border-bottom: 1px solid #ccc;
}
</style>
