<% title("Edit #{@page.name}") -%>

<% content_for(:scripts) do -%>
  <%= render :partial => 'yui_scripts' %> 
<% end -%>

<section>
  <%= render :partial => 'edit_header', :locals => {:active_aspect => 'text'} %>

  <%= render 'form' %>
</section>
