<% title("Edit #{@page.name} Location") -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  <%= render :partial => 'edit_header', :locals => {:active_aspect => 'location'} %>

  <%= render 'location_form' %>
  
</section>
