<% title("Edit #{@page.name}") -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  <%= render :partial => 'edit_header', :locals => {:active_aspect => 'text'} %>

  <%= render 'form' %>
</section>
