<% title("Edit #{@email_list.name} Members") -%>

<section>
  <%= render :partial => 'edit_header', :locals => {:active_aspect => 'email'} %>

  <%= render :partial => "email_lists/edit" %>
</section>

