<% title("Edit #{@page.name} Style") -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  <%= render :partial => 'edit_header', :locals => {:active_aspect => 'style'} %>

  <%= render 'style_form' %>
</section>
