<% title("Edit #{@page.name} Page") -%>

<!-- <%= form_for(@page, :url => update_contents_order_page_url(@page),
  :html => {class: "form"}) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => "Edit #{@page.name} Page", :cancel_path => friendly_page_url(@page)} %>

  <div class="form__contents">
    <%= render :partial => 'form_errors' %>
  </div>

  <div class="form__footer">

  </div>

<% end %> -->
