<% title("Edit #{@page.name} Access") -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>
  <%= render :partial => 'edit_header', :locals => {:active_aspect => 'access'} %>

  <%= render 'access_form' %>
</section>
