<% title("Pages") -%>

<section>
  
  <%= render :partial => 'site/header' %>

  <div id="add_content" class="header_add_content">
    <%= link_to 'Add Page', new_page_path %>
  </div>
  
  <%= render :partial => 'map', :locals => {:pages => @pages.where('parent_id IS NULL')} %>

</section>
