<% title @page.prefixed_name -%>

<%= render :partial => 'breadcrumbs', :locals => {:page => @page} %>

<section>

  <%= render :partial => 'header' %>

  <% if @page.style and @page.style.banner.exists? -%>
    <div id="page_banner">
      <%= image_tag @page.style.banner.url(:normal) %>
    </div>
  <% end -%>

</section>

<ul class="gallery_content">
  <% @aspects.each do |aspect| -%>
    <%= render_page_panel(@page, aspect,
      {:children => @children,
        :categorized_events => @categorized_events}) -%>
  <% end -%>
</ul>
