<% email_list ||= @email_list -%>
<% if email_list -%>
<div id="subscribe">
  
  <h2>Email List</h2>

  <div>
<%= form_tag add_email_list_path(email_list), :id => 'email_subscribe',
  :class => 'inline' do %>
  <%= text_field_tag 'email_address', '', :placeholder => 'email address' %>
  <%= submit_tag 'Subscribe' %>
<% end %>

    <% if administrator? -%>
      <%= link_to "#{email_list.name}#{@site.email_domain}",
        edit_email_list_path(email_list) %>
    <% end -%>
  </div>

</div>
<% end -%>
