<% email_list ||= @email_list -%>
<% if email_list -%>
<div id="subscribe">
  
  <h2>Email List</h2>

  <div>
    <% if administrator? -%>
    <div class="page_admin">
      <ul>
        <li><%= link_to 'Edit', edit_email_list_path(email_list) %><li>
      </ul>
    </div>
    <% end -%>
    
<%= form_tag add_email_list_path(email_list), :id => 'email_subscribe',
  :class => 'inline' do %>
  <%= text_field_tag 'email_address', '', :placeholder => 'email address' %>
  <%= submit_tag 'Subscribe' %>
<% end %>
  </div>

</div>
<% end -%>
