<% title @email_list.name -%>

<section>

  <header>
    <h1 class="active">
      <%= link_to @email_list.name, email_list_path(@email_list) %></h1>

      <div id="page_admin">
        <ul>
          <li><%= link_to 'Edit email list',
            edit_email_list_path(@email_list) %><li>
        </ul>
      </div>

  </header>
  
  <table id="email_addresses" class="grid">
  <% rows = array_to_rows(@email_list.addresses) -%>
  <% rows.each do |row| -%>
    <tr>
    <% row.each do |address| -%>
      <td><%= address %></td>
    <% end -%>
    </tr>
  <% end -%>
  </table>
  
  <% if @email_list.addresses.empty? -%>
  <p class="empty_indicator">No addresses</p>
  <% end -%>

</section>
