<div id="edit_content">
  <aside>
    <ul id="edit_list">
      <%= render :partial => 'contacts/edit_contact',
        :collection => @page.contacts %>
    </ul>
  </aside>

  <section>
    <header>
      <h2><%= (@contact.user ? "#{@contact.user.name}" : 'Add Contact') %></h2>
    </header>
    <div class="form">
      <%= render 'contacts/form' %>
    </div>
  </section>
</div>
