<%= content_tag_for(:li, edit_contact,
  :class => (edit_contact == @contact ? 'active' : '')) do %>
  <a href="<%= edit_page_contact_path(@page, edit_contact) %>">
    <%= edit_contact.user.name %>
    <% if edit_contact.role and not edit_contact.role.empty? -%>
      <div class="role"><%= edit_contact.role %></div>
    <% end -%>
  </a>
<% end %>
