<ul id="edit_list">
  <%= render :partial => 'edit_contact', :collection => @page.contacts %>
</ul>

<% if @contact.user -%>
<div id="add_content">
  <%= link_to 'Add contact', new_page_contact_path(@page) %>
</div>
<% end -%>