<table class="library">
<% documents.each do |document| -%>
  <tr>
    <td class="document_date">
      <% if document.published_at -%>
        <%= document.published_at.to_time.relative_str(true) %>
      <% end -%>
    </td>
    <td>
      <%= link_to document.name, document.file.url %>
      <% if document.summary and not document.summary.empty? -%>
        <br /><%=h document.summary %>
      <% end -%>
    </td>
  </tr>
<% end -%>
</table>
