<section>
  
  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'documents'} %>
  
  <div class="edit_content">
    <section>
      <header>
        <h2>Edit <%= @document.name %></h2>
      </header>
      <%= render 'form' %>
    </section>
    
    <aside>
      <%= render :partial => 'edit_list' %>
    </aside>
  </div>

</section>
