<section>
  
  <%= render :partial => 'messages/header' %>
  
  <ul id="book_sections">
  <% @sections.each do |section| -%>
    <% if 'Gospels' == section[:name] -%>
      <li id="testament_divider">
        <div id="testament_labels">
          <div id="old_testament">Old Testament</div>
          <div id="new_testament">New Testament</div>
        </div>
      </li>
    <% end -%>
    <li>
      <h3><%= section[:name] %></h3>
      <ul id="book_section">
        <% section[:books].each do |book| -%>
          <li><%= link_to book, book_path(:id => book) %></li>
        <% end -%>
      </ul>
    </li>
  <% end -%>
  </ul>
  
</section>
