<% title "Edit Reservations" -%>

<%= form_tag event_reservations_path(@event), :method => :put, class: "form" do %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => "Edit Reservations for " + @event.name,
      :cancel_path => @context_url} %>

  <%= render :partial => 'form_contents' %>

  <div class="form__footer">
    <%= submit_tag "Update", class: 'btn btn--primary' %>
  </div>

<% end %>
