<section>
  
  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'events'} %>
  
  <div id="edit_content">
    <aside>
      <%= render :partial => 'events/edit_list' %>
    </aside>

    <section>
      <%= render :partial => 'events/edit_header',
        :locals => {:active_aspect => 'reservations'} %>
      
      <%= render 'form' %>
      
    </section>
  </div>

</section>
