<h1>Message Series</h1>

<table>

<% @message_sets.each do |message_set| %>
  <tr>
    <td><%= link_to message_set.title, series_path(message_set) %></td>
    <td><%= message_set.description %></td>
  </tr>
<% end %>
</table>
