<ul>
  <% @abouts.each do |page| -%>
  <li>
    <div class="page_image">
      <% if page.style and page.style.feature_strip.exists? then %>
    	  <%= image_tag page.style.feature_strip.url(:normal).gsub(' ', '%20') %>
      <% end %>
    </div>
    <div class="page_name">
      <%= link_to page.name, friendly_page_path(page) %>
    </div>
    <div class="page_phrase">
      <%= raw page.feature_phrase %>
    </div>
  </li>
  <% end %>
  
</ul>
