<% if @next_message -%>
<div id="services">
<h3>Services</h3>
<div class="times">
<%= @next_message.date.event_date %>
<%= raw @next_message.events.map{ |e|
    e.start_at.simple_time(true)
}.to_sentence() %>
</div>
</div>
<h3>Upcoming</h3>
<ul>
  <%= render :partial => 'events/event',
    :collection => @events,
    :locals => {:no_name => false} %>
</ul>
<% end -%>
