<% if @page.twitter_name and not @page.twitter_name.empty? -%>
<div class="page_control">
  <%= link_to "http://twitter.com/#!/#{@page.twitter_name}", class: 'icon twitter' do %>
    <%= image_tag('twitter-2.png') %>
  <% end -%>
</div>
<% if false -%>
<div class="page_control">
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<% end -%>
<% end -%>
<% if @page.facebook_url and not @page.facebook_url.empty? -%>
<div class="page_control">
  <%= link_to @page.facebook_url, class: 'icon facebook' do %>
    <%= image_tag('facebook.png') %>
  <% end -%>
</div>
<% end -%>
