<% if @page.twitter_name and not @page.twitter_name.empty? -%>
<% width ||= 400 -%>
<% height ||= 300 -%>
<div id="social">
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: <%= ((height - 100) / 55).to_i %>,
  interval: 6000,
  width: <%= width %>,
  height: <%= height %>,
  theme: {
    shell: {
      background: '#dddddd',
      color: '#666666'
    },
    tweets: {
      background: '#ffffff',
      color: '#333333',
      links: '#0b6099'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: false,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('<%= @page.twitter_name %>').start();
</script>
</div>
<% end -%>
