<%= render :partial => 'pages/breadcrumbs', :locals => {:page => @page} %>

<section>
  
  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'social'} %>
  
  <%= render 'form' %>
  
</section>
