<% title "Resources" -%>

<section>
  
  <%= render :partial => 'site/header' %>
  
  <div class="page_admin">
    <ul>
      <li><%= link_to 'Add Resource', new_resource_path %></li>
    </ul>
  </div>
  
  <table id="resources" class="grid">
    <caption>Rooms</caption>
  <% rows = array_to_rows(@resources.rooms) -%>
  <% rows.each do |row| -%>
    <tr>
    <% row.each do |resource| -%>
      <td><%= link_to resource.name, resource_path(resource) %></td>
    <% end -%>
    </tr>
  <% end -%>
  </table>
  
  <table id="resources" class="grid">
    <caption>Equipment</caption>
  <% rows = array_to_rows(@resources.equipment) -%>
  <% rows.each do |row| -%>
    <tr>
    <% row.each do |resource| -%>
      <td><%= link_to resource.name, resource_path(resource) %></td>
    <% end -%>
    </tr>
  <% end -%>
  </table>

</section>