<% title "Resources" -%>

<section>
  
  <%= render :partial => 'site/header' %>
  
  <div id="add_content" class="header_add_content">
    <%= link_to 'Add Resource', new_resource_path %>
  </div>

  <table id="resources" class="grid">
  <% rows = array_to_rows(@resources) -%>
  <% rows.each do |row| -%>
    <tr>
    <% row.each do |resource| -%>
      <td><%= link_to resource.name, resource_path(resource) %></td>
    <% end -%>
    </tr>
  <% end -%>
  </table>

</section>