<% XXXDeprecated %>

<% title @resource.name -%>

<section>

  <%= render :partial => 'header',
    :locals => {:active_aspect => 'main'} %>

  <table id="events">
    <% @events.each do |event| -%>
      <tr>
        <td><%= friendly_range(event, true) %></td>
        <td><%= link_to event.name, friendly_page_path(event.page) %></td>
      </tr>
    <% end -%>
  </table>

</section>
