<% if current_user and current_user.administrator? -%>
<% content_for :breadcrumbs do -%>
  <div id="breadcrumbs">
    <ul>
      <li><%= link_to 'Payments', payments_path %></li>
    </ul>
  </div>
<% end -%>
<% end -%>

<h1>Payment</h1>

<% if @filled_form and @filled_form.form.payable? and
  'pending' == @payment.state -%>
  <%= render 'pay' %>
<% else -%>
  <%= render 'form' %>
<% end -%>
