<%= content_tag_for(:li, edit_photo) do %>
  <% if edit_photo.photo.exists? then %>
  	<%= link_to image_tag(edit_photo.photo.url(:thumb)), edit_photo.photo.url %>
  <% end %>
  <div class="footer">
    <div class="caption"><%= edit_photo.caption %></div>
    <div class="edit_admin">
      <a href="<%= edit_page_photo_path(@page, edit_photo) %>">Edit</a>
    </div>
  </div>
<% end %>
