<section>

  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'photos'} %>
  
  <div id="regular_content">
    <section>
      <%= render 'edit_gallery' %>
    </section>

    <aside>
      <header>
        <h3>Edit Photo</h3>
        <% if @photo.photo.exists? then %>
        	<%= image_tag @photo.photo.url(:thumb) %>
        <% else %>
          &nbsp;
        <% end %>
      </header>
      <%= render 'form' %>
    </aside>
  </div>

<section>
