<section>

  <%= render :partial => 'pages/edit_header',
    :locals => {:active_aspect => 'photos'} %>
  
  <div class="regular_content">
    <section>
      <%= render 'edit_gallery' %>
    </section>

    <aside>
      <header>
        <h3>Add Photo</h3>
      </header>
      <%= render 'form' %>
    </aside>
  </div>

<section>
