<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="margin: 0px;
  padding: 0px 0px 40px 0px;
	font: 14px/22px Arial, sans-serif;
	background-color: #e4e3e1;">
	
	<%= render 'newsletter' %>
	
  </body>
</html>
