/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
  }

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article, page {
	display: block;
  }
  
body {
  margin: 0px;
  padding: 0px 0px 40px 0px;
  font: 14px/22px Arial, sans-serif;
  background-color: #e4e3e1;
}
  
.page_admin {
  position: absolute;
  width: 200px;
  top: 0px;
  left: 600px;
  line-height: 22px;
  color: #666;
  font-weight: bold;
  white-space: normal;
}
.page_admin ul {
  list-style-type: none;
  margin: 0px;
}
.page_admin li {
  margin-bottom: 10px;
}
.page_admin a {
  color: #0b6199;
  text-decoration: none;
}
.page_admin .status {
  font-weight: normal;
}

input[type="submit"] {
  background: #f8f8f8;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #666;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 10px 9px 10px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

input[type="submit"]:hover {
  background: #d2d2d2;
  border-color: #999;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer;
}

input {
  margin: 0px;
	padding: 9px;
	border: solid 1px #ccc;
	outline: 0;
	background: #FFFFFF;
}
