<% ancestors = @form.page.ancestors -%>
<% ancestors.shift if not ancestors.empty? and ancestors.first.id == @site.communities_page_id -%>
<% content_for :breadcrumbs do -%>
  <div id="breadcrumbs">
    <ul>
      <% ancestors.each do |ancestor| -%>
        <li><%= link_to ancestor.name, friendly_page_path(ancestor) %></li>
      <% end -%>
      <li><%= link_to @form.page.name, friendly_page_path(@form.page) %></li>
      <% if @form.event and not 'event' == @form.page.layout -%>
        <li><%= @form.event.name %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>
