<table class="library">
<% forms.each do |form| -%>
  <tr>
    <td>
    <% if current_user -%>
      <% first_filled_form = 
        form.filled_forms.where('user_id = ?', current_user.id).first -%>
      <% if first_filled_form -%>
        <%= link_to form.name,
          edit_form_fill_path(form, first_filled_form) %>
      <% else -%>
        <%= link_to form.name, new_form_fill_path(form) %>
      <% end -%>
    <% else -%>
      <%= link_to form.name, form_path(form) %>
    <% end -%>
    </td>
  </tr>
<% end -%>
</table>
