<% title "#{@form.name}" -%>

<%= render :partial => 'edit_header' %>

<div class="regular_content">
  
<section>
  
  <div id="dynamic_form_form">
    <%= render 'form' %>
  </div>
  
</section>

</div>
