<% title "Forms" -%>

<% if @page -%>
<%= render :partial => 'pages/breadcrumbs', :locals => {:page => @page} %>
<% end -%>

<section>
  <header>
    <h1>New Form</h1>
  </header>
  
  <%= render 'form' %>
  
</section>
