<% title "Forms" -%>

<% content_for(:scripts) do -%>
  <%= render :partial => 'pages/yui_scripts' %> 
<% end -%>

<section>
  <header>
    <h1>New Form</h1>
  </header>
  
  <%= render 'form' %>
  
</section>
