<% title @form.name -%>

<section>
  <header>
    <h1><%= @form.name %></h1>
    
    <div id="page_admin">
      <ul>
        <li><%= link_to 'Edit form', edit_form_path(@form) %><li>
      </ul>
    </div>
    
  </header>
  
</section>

