.authors {
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
	
	li {
	  white-space: nowrap;
	  position: relative;
    text-align: left;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 3px;
	}
	
	a {
		font-size: 14px;
	}
}

ul.timeline_axis {
  list-style: none;
  display: table;
  width: 100%;
  margin: 0px;
  margin: 30px 0px;
  padding: 0px;
  
  li {
    display: table-cell;
    border-left: 2px solid #ccc;
    margin: 0px;
    padding-left: 10px;
    color: #999;
  }
}

#messages_key {
  display: inline-block;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px;
  font-style: italic;
  font-size: 11px;
  color: #666;
  
  .gradient {
    display: inline-block;
    margin-left: 10px;
    width: 200px;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#f6f6f6), to(#c4c4c4));
    background: -moz-linear-gradient(0deg, #f6f6f6, #c4c4c4);
    padding: 0px 10px;
    border-radius: 3px;
  }
  
  .more {
    float: right;
  }
}
