#books a {
	font-size: 14px;
}

#testaments {
  position: relative;  
}

div.testament {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 30px;
  
  > h3 {
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0px;
  }
  
  &:last-child {
    padding-left: 10px;
    border-left: 1px solid #ddd;
  }
}

div.testament > ul {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
  
  > li {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding-right: 5px;
    height: 100%;
    
    @include respond-to(small-up) {
      h3 {
        margin-top: 0px;
      }
    }
    
    @include respond-to(tiny) {
      display: block;
    
      &:first-child {
        h3 {
          margin-top: 0px;
        }
      }
    }
  }
  
  h3 {
    font-size: 14px;
    font-weight: normal;
    //color: #999;
    width: 80px;
    height: 30px;
    //margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
  }
}

ul.book_section {
  list-style: none;
  margin: 0px;
  padding: 0px;
  
  li {
    display: block;
    margin-bottom: 5px;
    padding: 0px 10px;
    border-radius: 3px;
  }
  
  a {
    font-size: 13px;
  }
}
