#calendar_header {
  color: #666;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  
  @include respond-to(tiny) {
    display: block;
  }
  
  #focus_date {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    font-size: 28px;
    font-weight: normal;
    
    @include respond-to(tiny) {
      display: block;
    }
    
    a {
      font-size: 28px;
    }
  }
  
  a {
    padding: 0 5px;
  }
  
  #calendar_controls {
    float: right;
    text-align: right;
    
    @include respond-to(tiny) {
      display: block;
      text-align: left;
      margin-top: 10px;
    }
  }
  
  input {
	  margin: 0px 10px 0px 0px;
	  padding: 2px;
		color: #666;
		font-size: 11px;
		vertical-align: baseline;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}
	
	form {
	  display: inline-block;
	  vertical-align: middle;
	}
}

#calendar_nav {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 16px;
  height: 28px;
  margin: 0px 0px 0px 20px;
  color: #999;
  cursor: pointer;
  
  @include respond-to(tiny) {
    margin-left: 0px;
  }
  
  /*a.today {
    display: inline-block;
    vertical-align: top;
    height: 28px;
    font-weight: normal;
    padding: 0px 5px;
    margin-right: -4px;
  }*/
  
  a.icon {
    display: inline-block;
    width: 24px;
    height: 28px;
    padding: 0px;
  }
  
  a.today {
    vertical-align: top;
  }
  
  a.icon.previous {
    //border-right: 1px solid #eee;
    //background: 2px 4px $left-url no-repeat;
    @include icon-image(0px, -52px);
  }
    
  a.icon.next {
    //border-left: 1px solid #eee;
    margin-right: 0px;
    //background: 2px 4px $right-url no-repeat;
    @include icon-image(-26px, -52px);
  }
}
   
#calendar_views {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      display: inline-block;
      white-space: nowrap;
      
      a {
        display: block;
    	  padding: 0px 10px;
    	  text-align: center;
    	  text-decoration: none;
        opacity: 0.5;
        padding: 0px;
        margin-left: 5px;
        color: transparent;
        
        &:hover {
          opacity: 1;
        }
      }
      
      &.active {
        a {
          opacity: 1;
        }
      }
    }
  }
}
    
#calendar_controls_extended {
  display: inline-block;
  padding: 0px;
  margin: 0px 20px;
  margin-right: -4px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
  
  @include respond-to(tiny) {
    margin: 10px 0px;
  }
  
  form label {
    margin-left: 0px;
    margin-right: 2px;
  }
	
	&:hover form {
	  display: inline-block;
	}
}
  
#calendar {
  margin: 20px 0px;
  padding: 0px;
  border-spacing: 0px;
  width: 100%;
  font-family: 'Century Gothic', 'Lucida Sans', Arial, sans-serif;
  
  th {
    color: #999;
    font-size: 12px;
  }
  
  td {
    position: relative;
    width: 14%;
    height: 60px;
    font-size: 12px;
    vertical-align: top;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    
    &.first {
      border-left: none;
    }
    
    &.odd_month {
      background-color: $odd-month-background-color;
    }
    
    &.today {
      background-color: $primary-color;
      
      a {
        color: #fff;
      }
    }
    
    .date, .holiday {
      margin: 0;
      padding: 0;
      padding-right: 5px;
      text-align: right;
      font-family: 'Century Gothic', 'Lucida Sans', Arial, sans-serif;
      font-size: 10px;
    }
    
    .date .month {
      font-weight: bold;
      font-size: 12px;
      padding-right: 5px;
      color: #999;
    }
    
    .holiday {
      font-size: 90%;
      color: #999;
    }
    
    .time {
      font-size: 90%;
      color: #999;
    }
    
    a {
      font-size: 11px;
      text-decoration: none;
    }
    
    ul {
      margin: 0 3px 15px 3px;
      padding: 0;
      list-style-type: none;
      
      li {
        text-indent: -10px;
        margin-left: 10px;
        line-height: 12px;
        margin-bottom: 10px;
      }
    }
  }
}

#calendar_list {
  padding: 0px;
  border-spacing: 0px;
  width: 100%;
  
  td {
    padding: 5px 20px 5px 0px;
    vertical-align: top;
    color: #666;
    white-space: nowrap;
    
    @include respond-to(tiny) {
      padding: 3px 10px 3px 0px;
      white-space: normal;
      
      &.page, &.reservations {
        display: none;
      }
    }
    
    &.time.first {
      padding-right: 3px;
      text-align: right;
    }
    
    &:last-of-type {
      white-space: normal;
      width: 30%;
    }
  }
  
  tr.new_day2 td {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }
  
  tr.new_day td {
    padding-top: 15px;
  }
  
  .new_month {
    padding-top: 30px;
    font-size: 24px;
  }
  
  .day, td.time:first-child {
    font-family: 'Century Gothic', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #aaa;
    
    a {
      font-family: 'Century Gothic', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
      //font-weight: bold;
      color: #aaa;
    
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  
  .name a {
    font-size: 14px;
  }
  
  .time {
    white-space: nowrap;
    max-width: 100px;
  }
}
