#reservations.grid {
  td {
    vertical-align: top;
    padding-bottom: 10px;
  }
}

.reservations_long {
  margin-bottom: 10px;
  
  th, td {
    padding-right: 20px;
    vertical-align: top;
  }
}

.reservation_time {
  
  .time_slider {
    display: inline-block;
    width: 100px;
  }
  
  input {
    margin: 5px 5px;
		padding: 3px 6px;
		color: #666;
		font-size: 11px;
  }
}

ul.resource_conflicts {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#recurrence_control {
  margin-bottom: 10px;
  }

#recurrence {
  padding: 0px;
  margin-bottom: 20px;
  width: 500px;
  font-family: 'Century Gothic', 'Lucida Sans', Arial, sans-serif;
  
  tbody tr:last-child td {
    border-bottom: 1px solid #ccc;
  }
  
  th {
    color: #999;
    font-size: 12px;
  }
  
  td {
    width: 14%;
    padding: 0px 5px;
    font-size: 11px;
    vertical-align: bottom;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    
    &:last-child {
      border-right: 1px solid #ccc;
    }
    
    &.ref {
      color: #eee;
      background-color: #999;
    }
    
    &.active, &.active.odd_month {
      color: #fff;
      background-color: $primary-color;
    }
    
    &.active .month {
      color: #eee;
    }
    
    &.odd_month {
      background-color: $odd-month-background-color;
    }
  }
  
  .month {
    font-size: 12px;
    font-weight: bold;
    color: #999;
  }
  
  .day {
    display: inline-block;
    width: 20px;
  }
}
