$editing-background: #f2f2f2;

header {
  div.form_event {
    margin-top: 5px;
    font-size: 18px;
    color: #999;
    
    .event_range {
      display: inline-block;
    }
  }
}

#filled_form_header {
  span.parent_form, span.sign_in {
    &:after {
      padding: 0px 10px;
      content: '>';
      color: #ccc;
      font-size: 20px;
    }
  }
  
  h1 {
    font-weight: normal;
    white-space: normal;
    
    > span {
      white-space: nowrap;
    }
    
    a {
      color: #333;
      font-size: 20px;
      
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  
  span.form_name.blocked {
    color: #ccc;
  }
  
  span.child_form {
    color: #ccc;

    &:before {
      padding: 0px 10px;
      content: '>';
      font-size: 20px;
    }
  }
}

#forms {
  .event_range {
    padding-left: 15px;
    display: inline-block;
  }
}

ul.dynamic_form_sections {
	list-style: none;
	margin: 0 -10px;
	width: 800px;
	padding: 0px 20px 0px 0px;
  
  li.form_section {
    position: relative;
    padding-bottom: 10px;
    
    &:hover {
      background-color: #fffcf8;
    }
    
    > header {
      padding: 10px;
      margin: 0px;
      
      &:hover {
        background-color: $editing-background;
        
        .dynamic_form_field_admin {
          background-color: $editing-background;
        }
      }
    }
    
    > .actions {
      padding: 0px 10px;
      
      &.dynamic_form {
        margin-bottom: 0px;
      }
    }
    
    .edit_form_section {
      padding: 20px;
      background-color: $editing-background;
      border-top: 1px dashed #ccc;
      
      > .admin {
        position: absolute;
        top: 0px;
        right: -140px;
        min-width: 120px;
        padding: 10px;
        background-color: $editing-background;
        border-top: 1px dashed #ccc;
      }
    }
  }
}

ul.dynamic_form_fields {
	list-style: none;
	margin: 0;
	width: 800px;
	padding: 0px 20px 0px 0px;
	
	li.form_field {
    position: relative;
    padding: 10px;
    
    &:hover {
      background-color: $editing-background;
      
      > .dynamic_form_field_admin {
        background-color: $editing-background;
      }
    }
    
    form.edit_form_field {
      
      > div.form_field.header {
        label {
          width: auto;
          margin-left: 0px;
        }
      }
      
      div.field {
        max-width: 600px;
        
        &.inactive {
          margin: 0px;
          max-width: 0px;
          overflow: hidden;
        }
        
        label {
          width: auto;
        }
      }
    }
	}
}

ul.form_field_options {
  li.form_field_option {
    position: relative;
    padding: 10px;
    
    &:hover {
      background-color: $editing-background;
      
      > .dynamic_form_field_admin {
        background-color: $editing-background;
      }
    }
  }
}

.dynamic_form_field_name, .dynamic_form_section_name {
  min-width: 150px;
  cursor: move;
}

h2.dynamic_form_field_name {
  font-size: 18px;
}

div.form_field {
	
	.field {
		display: inline-block;
    vertical-align: top;
    margin: 5px 20px 5px 0px;
	}
}

.dynamic_form_field_admin {
  position: absolute;
  top: 0px;
  right: -140px;
  min-width: 120px;
  padding: 10px;
	
	a {
		color: #bbb;
		margin-left: 5px;
		
		&:hover {
			color: #333;
		}
	}
}

li.editing > form > .admin {
  padding: 10px;
  position: absolute;
  top: -1px;
  right: -140px;
  min-width: 120px;
  background-color: $editing-background;
  border-top: 1px dashed #ccc;
}

.form_field.editing {
	background-color: $editing-background;
	padding: 20px;
  border-top: 1px dashed #ccc;
}

.form_field_options {
	list-style: none;
	margin: 0;
	padding: 0;
	
	&.editing li {
  	border-top: 1px solid #ccc;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}

.form_field_option.editing {
	padding: 20px 0px;
	clear: both;
	
	.field {
		vertical-align: top;
		display: inline-block;
	}
}

.edit_options {
	margin-top: 20px;
  
  > .add_content {
    padding-bottom: 10px;
  }
}

.dynamic_form_field_name, .dynamic_form_field_option_name {
	display: inline-block;
	vertical-align: top;
	color: #666;
	margin-right: 20px;
}

h2.dynamic_form_field_name {
  font-weight: normal;
}

.dynamic_form_field_value, .dynamic_form_field_option_value {
	display: inline-block;
}

.dynamic_form_field_value ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dynamic_form_option {
	float: left;
	margin: 0;
	padding-right: 20px;
}

.dynamic_form_field_help, .dynamic_form_field_option_help {
	display: inline-block;
	color: #333;
}

div.actions.dynamic_form {
  margin: 20px 0px;
  
  span.errors {
    color: #c33;
    padding: 0px 10px;
  }
}
	
#submitted_form_list {
	//background-color: #f8f8f8;
	//padding: 10px 20px 20px 20px;
	margin-bottom: 20px;
	
	h2 {
		color: #999;
		font-size: 16px;
		margin: 0px;
		padding: 5px 10px;
	}
	
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		text-align: left;
		max-height: 800px;
		overflow: auto;
		
		li {
			padding: 4px 10px;
      margin-bottom: 5px;
			
			a {
  		  display: block;
  		}
  		
  		.form_submitter, .form_date, .form_amount {
  		  display: block;
  		  padding-left: 20px;
			  color: #666;
			  font-weight: normal;
			  white-space: nowrap;
			}
			
			&.active {
  			background-color: #eee;
  		}
  		
  		&:hover {
  		  background-color: #f8f8f8;
  		  cursor: pointer;
  		  
  		  a:hover {
    		  opacity: 1;
    		}
  		}
		}
	}
}

#form_payment_list {
  margin-bottom: 20px;
  
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		text-align: left;
		max-height: 800px;
		overflow: auto;
		
		li {
			padding: 4px 10px;
      margin-bottom: 5px;
			
			a {
  		  display: block;
        
        span {
          white-space: nowrap;
        }
  		}
      
      form {
        margin-left: 10px;
      }
		}
	}
}

#new_filled_form_button {
  padding-left: 20px;
  margin-bottom: 20px;
}

div#included_parent_form {
  display: none;
}

#filled_fields, #filled_sections, .filled_fields {
	list-style: none;
	margin: 0px;
	padding: 0px;
	
	.form_field {
	  clear: left;
		padding: 5px 0px;
		margin-bottom: 10px;
    
    &.error {
      position: relative;
      background-color: #fdd;
      padding-left: 10px;
      left: -10px;
    }
    
    .form_field_value.prompted {
      margin-left: 170px;
    }
	}
}

.form_field_name {
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
	color: #999;
	font-size: 14px;
	font-weight: bold;
	min-width: 150px;
  max-width: 150px;
}

.form_field_prompt {
	color: #999;
	font-size: 14px;
	font-weight: bold;
  margin-bottom: 5px;
}

h2.form_field_name {
  font-size: 18px;
  font-weight: normal;
  color: #666;
  margin: 0px;
}

.form_field_value {
  display: inline-block;
  
  .value {
    margin-right: 20px;
  }
}

.form_field_help {
	display: block;
	font-style: italic;
}

.form_field.instructions .form_field_help {
  font-style: normal;
  color: inherit;
}

#filled_sections, #filled_fields {
  .options_list {
  	display: inline-block;
  	list-style: none;
  	margin: 0px;
  	padding: 0px;
  
    &.dense {
      > li {
        display: inline-block;
      
        .option_name {
          min-width: 0px;
        }
      }
    }
  }
  
  div.form_field_options_limit {
    display: inline-block;
    color: #999;
    font-style: italic;
  }
}

#filled_fields, #filled_sections {
  
  .option_name {
		display: inline-block;
    vertical-align: top;
		padding-right: 20px;
		min-width: 80px;
	}
	.option_help {
		display: inline-block;
    vertical-align: top;
    max-width: 400px;
    margin-bottom: 10px;
	}
}

.edit_filled_form, .new_filled_form {
  div.form_timestamp {
    margin-top: 10px;
    color: #999;
    font-style: italic;
  }
  div#form_fill_submitter {
    clear: both;
    margin-top: 5px;
    text-align: right;
  }
}

.filled_form_payment {
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  
  h3 {
    margin: 0px 0px 15px 0px;
  }
}

.filled_forms {
  margin: 20px 0px;
  
  td {
    padding-right: 30px;
    vertical-align: top;
    
    &.date {
      color: #999;
      font-weight: normal;
    }
  }
  
   > tr > td, > tbody > tr > td {
    padding-bottom: 10px;
  }
}

.payment_fields {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  color: #999;
  
  td:first-child {
    white-space: nowrap;
    min-width: 55px;
    box-sizing: content-box;
    text-align: right;
  }
}
      
ul.form_buttons {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  
  li {
    display: inline-block;
    padding-left: 30px;
  }
}

div.form_admin {
  float: right;
  
  > * {
    display: inline-block
  }
  
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  
    li {
      display: inline-block;
      border-right: 1px solid #eee;
    
      &:last-child {
        border-right: none;
      }
    
      &.active {
        a {
          color: #333;
        }
      }
    
      a {
        padding: 0px 10px;
      }
    }
  }
}
  
.payment_methods {
  /*display: inline-block;*/
  list-style: none;
  margin: 0px;
  padding: 0px;
  
  li {
    display: inline-block;
    padding-right: 20px;
    
    input {
      margin-right: 10px;
    }
  }
}

#payments_controls {
  float: right;
}

#payments {
  td {
    vertical-align: top;
  }
  
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
}
  
.edit_payment {
  position: relative;
  
  #busy_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ccc;
    opacity: 0.8;
    
    .processing {
      text-align: center;
      width: 20%;
      margin: 80px auto;
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }
  }
}

.fields {
  list-style: none;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;
  min-width: 300px;
  
  li {
    vertical-align: top;
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    vertical-align: top;
    width: 120px;
  }
}

.payment_method_instructions {
  /*display: inline-block;*/
  margin: 20px 0px;
}

#form_authenticate {
  margin-top: 30px;
  
  #authentication_text {
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
  }
  #sign_in {
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px 0px 60px;
  }
}
