/* http://css3.wikidot.com/blog:animated-page-entry-with-css3 */
@-webkit-keyframes reset {
  0%   {opacity: 0;}
  100% {opacity: 0;}
}
 
@-webkit-keyframes fade-in {
  0%   {opacity: 0;}
  60%  {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes reset {
  0%   {opacity: 0;}
  100% {opacity: 0;}
}
 
@-moz-keyframes fade-in {
  0%   {opacity: 0;}
  60%  {opacity: 0;}
  100% {opacity: 1;}
}

@-ms-keyframes reset {
  0%   {opacity: 0;}
  100% {opacity: 0;}
}
 
@-ms-keyframes fade-in {
  0%   {opacity: 0;}
  60%  {opacity: 0;}
  100% {opacity: 1;}
}

#home_services {
  margin: 15px 0px;
  background-color: #fff;
  color: #666;
  overflow: hidden;
  
  @include respond-to(normal-up) {
    white-space: nowrap;
    padding: 10px 0px;
    padding-left: 94px; ///154px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  @include respond-to(small-up) {
    margin: 20px 0px;
  }
  
  > * {
    display: inline-block;
  }
  
  h2 {
    position: relative;
    top: 8px; ///1px;
    vertical-align: top;
    line-height: 22px;
    margin: 0px 22px 10px 0px;
    font-size: inherit;
    color: #999;
    font-weight: normal;
    
    a {
      font-size: 32px; ///16px;
      color: #ccc;
    }
  }
}

#home_messages {
  display: inline-block;
  margin: 0px;
  padding: 0px;

  td {
    vertical-align: top;
    padding-right: 20px;
    
    &:last-child {
      padding-right: 0px;
    }
    
    @include respond-to(tiny) {
      padding-bottom: 10px;
      
      &.message_verses, &.message_author, &.message_files {
        display: none;
      }
    }
  }
  
  tr.next_message {
    td {
      padding-bottom: 5px;
      border-bottom: 1px solid #eee;
    }
  }

  tr.previous_message {
    td {
      padding-top: 5px;
    }
  }

  .when {
    margin-right: 10px;
    color: #999;
  
    @include respond-to(small-up) {
      text-align: right;
    }
  }

  .home_message {
    margin-right: 10px;
    white-space: nowrap;
  
    > * {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

#hero {
  position: relative;
  
  @include respond-to(small-down) {
    width: 100%;
    height: auto;
    margin: 12px 0px;
    margin-bottom: 15px;
  }
  
  @include respond-to(normal-up) {
    padding: 0px;
    width: 980px;
    margin: 15px 0px;
    height: 445px;
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0, 0.1s;
    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
    -moz-animation-delay: 0, 0.1s;
    
    &:hover {
      opacity: 1.0;
    }
  }
  
  .control {
  	display: block;
  	width: 77px;
  	text-indent: -10000px;
  	position: absolute;
  	cursor: pointer;
  	
  	@include respond-to(small-down) {
  	  height: 100%;
	  }
	  
	  @include respond-to(normal-up) {
	    height: 445px;
    }
	}
  
  #hero_list {
   	margin: 0 auto;
  	padding: 0;
  	overflow: auto; // allow scrollbar
  	position: relative;
  	
  	@include respond-to(small-down) {
  	  width: 100%;
      height: auto;
    }
    
    @include respond-to(normal-up) {
      height: 445px;
    }
	
  	.slide {
  		float: left;
  		margin: 0 auto;
  		
  		@include respond-to(normal-up) {
  		  width: 960px;
    	  height: 445px;
  	  }
  	}
  	
  	.hero_page {
  	  @include respond-to(small-down) {
  	    width: 100%;
	    }
  	}
	
  	.hero_background {
  		position:absolute;
  		z-index: 1;
  		overflow: hidden;
  		
  		@include respond-to(small-down) {
  		  width: 100%;
  		  
  		  img {
  		    width: 100%;
          height: 100%;
  		  }
		  }
		  
		  @include respond-to(normal-up) {
		    width: 980px;
	    }
  	}
  	
  	.hero_text {
      display: inline-block;
    	position: relative;
      vertical-align: top;
    	z-index: 3;
    	
    	@include respond-to(small-down) {
    	  margin-left: 50%;
        padding: 20px;
      }
      
      @include respond-to(tiny) {
        padding: 10px 20px;
        
        > * {
          display: none;
        }
        h2 {
          display: block;
        }
      }
      
      @include respond-to(normal-up) {
        margin-left: 530px;
        padding: 40px 100px 40px 40px;
        font-size: 14px;
        line-height: 22px;
      }

    	h2 {
        padding: 0px;

        a {
          
          @include respond-to(normal-up) {
            font-size: 25px;
          }
          
          &::after {
            content: '';
          }
        }
      }

      a {
        
        @include respond-to(normal-up) {
          font-size: 14px;
          font-weight: bold;
          line-height: 21px;
        }
        
        &::after {
          content: image-url("right_small.png");
          margin-left: 1px;
          vertical-align: baseline;
        }
      }
    }
  }
  
  #hero_left_control {
  	top: 0px;
  	left: 20px;
  	background:transparent image-url("control_left.png") no-repeat scroll center;
  }
  
  #hero_right_control {
  	top: 0px;
  	right: 20px;
  	background: transparent image-url("control_right.png") no-repeat scroll center;
  }
  
  #hero_left_control, #hero_right_control {
  	z-index: 4;
  }
}

#feature_nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  
  @include respond-to(small-up) {
    width: 100%;
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0, 0.3s;
    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
    -moz-animation-delay: 0, 0.3s;
  }
  
  li.feature_page {
    vertical-align: top;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    
    @include respond-to(small-up) {
      display: inline-block;
      width: 194px;
      height: 200px;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      
      &:first-child {
        border-left: 1px solid #ddd;
      }
    }
    
    @include respond-to(small) {
      width: 20%;
      box-sizing: border-box;
    }
    
    @include respond-to(tiny) {
      margin-bottom: 10px;
    }
  }
  
  .feature_nav_image {
    position: relative;
    width: 194px;
    height: 60px;
    overflow: hidden;
    
    @include respond-to(small) {
      width: 100%;
    }
    
    @include respond-to(tiny) {
      display: none;
    }
    
    img {
      position: absolute;
      top: 0px;
    }
  }
  
  .feature_nav_name {
    color: #fff;
    background-color: #333;
    
    a {
      display: block;
      font-weight: bold;
      color: #fff;
      font-size: 14px;
      padding: 10px;
      width: 174px;
      height: 20px;
      -webkit-transition-property:color, background;
      -webkit-transition-duration: 0.2s, 0.4s;
      -webkit-transition-timing-function: linear, ease-in;
      -moz-transition-property:color, background;
      -moz-transition-duration: 0.2s, 0.4s;
      -moz-transition-timing-function: linear, ease-in;
      transition-property:color, background;
      transition-duration: 0.2s, 0.4s;
      transition-timing-function: linear, ease-in;
      
      @include respond-to(small-down) {
        width: auto;
      }
      
      &:hover {
        color: #333;
  			background-color: #ccc;
  			text-decoration: none;
      }
    }
  }
  
  .feature_nav_phrase {
    margin: 10px 10px 0px 10px;
		font-size: 14px;
		max-height: 44px;
		color: #666;
		overflow: hidden;
  }
  
  .feature_nav_link {
    margin: 0px 10px;
    
    a::after {
      content: image-url("right_small.png");
      margin-left: 1px;
      vertical-align: baseline;
    }
  }
}
