$primary-color: #6e615e;
$secondary-color: #f99d28;
$tertiary-color: #faf7ed;
$link-color: #803e26; //#6e615e; //#2f4098; // blue
$link-hover-color: $secondary-color; //#d5702c; // orange
$border-color: #eadebb;

$body-background-color: $primary-color; //#eadebb;
$odd-month-background-color: $tertiary-color;
// header
$breadcrumb-color: $primary-color;
$header-editing-background-color: $tertiary-color;
$header-editing-active-background-color: $primary-color;
// form
$input-background-color: #fff;
$input-border-color: $border-color;
$input-hover-border-color: $link-hover-color;
$button-background-color: $tertiary-color;
$button-border-color: $border-color;
$button-color: $link-color;
$button-hover-background-color: $tertiary-color;
$button-hover-color: $link-hover-color;

/*$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$peter-river: #3498DB;
$belize-hole: #2980B9;
$amethyst: #9B59B6;
$wisteria: #8E44AD;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$sun-flower: #F1C40F;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;*/

@mixin box-shadow($distanceX, $distanceY, $blur, $spread, $color) {
  -webkit-box-shadow: $distanceX $distanceY $blur $spread $color;
  -moz-box-shadow: $distanceX $distanceY $blur $spread $color;
  -ms-box-shadow: $distanceX $distanceY $blur $spread $color;
  box-shadow: $distanceX $distanceY $blur $spread $color;
}

@mixin remove-box-shadow() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
