footer {
	clear: both;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #999;
  
  #site_address, #site_phone, #copyright {
    display: inline-block;
    margin-right: 15px;
  }
  
  @include respond-to(normal-up) {
    #copyright {
      float: right;
      margin-right: 0px;
    }
  }
}
