input[type="file"] {
  background-color: inherit;
}

/* http://ubuwaits.github.com/css3-buttons/ */
input[type="submit"], button {
  background: $button-background-color; //#e9e9e9;
  border: 1px solid $button-border-color; // #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: $button-color; //#666;
  font-size: 14px; //12px;
  font-weight: normal; //bold;
  padding: 8px 10px 9px 10px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  
  &:hover {
    background: $button-hover-background-color; //#d9d9d9;
    color: $button-hover-color; //#222;
    cursor: pointer;
  }
}

/* http://net.tutsplus.com/tutorials/html-css-techniques/
    design-a-prettier-web-form-with-css-3/ */
input, textarea {
	padding: 9px;
	border: solid 1px $input-border-color; //#ccc;
	outline: 0;
	background: $input-background-color; //#FFFFFF;
	
	&:hover, &:focus {
	  border-color: $input-hover-border-color; //#999;
	}
}

textarea {
	line-height: 150%;
}

form {
  
  div.field {
    margin-top: 10px;
  }
  
  label {
	  margin-left: 10px;
	  color: #999999;
	  
	  &.value {
      color: inherit;
      margin-left: 0px;
      margin-right: 20px;
      width: auto;
    }
  }
  
  &.inline a {
  	display: inline-block;
  	padding-right: 5px;
  	padding-left: 5px;
  	font-size: 12px;
  	font-weight: normal;
  	text-decoration: none;
  	white-space: nowrap;
  	color: #666;
  	
  	&:hover {
  		color: #111;
  		background-color: #ccc;
  	}
  }
}

.submit input {
	padding: 9px 15px;
	background: $button-background-color; //#617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
}
	
.unstyled input, .unstyled textarea, .unstyled .textedit {
  padding: 0px;
  border: none;
  box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.actions {
  margin-top: 20px;
  
  form {
    display: inline-block;
  }
}

ol.actions {
  padding-left: 0px;
  
  li {
    display: inline-block;
    vertical-align: top;
  }
}

.inline_controls input {
  margin: 0px 10px 0px 0px;
  padding: 2px;
	color: #666;
	font-size: 11px;
	vertical-align: baseline;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

div.select2-container {
  min-width: 140px;
  
  a.select2-choice {
    background: none;
    border-color: #ccc;
    border-radius: 0px;
    height: 34px;
    line-height: 34px;
    
    span.select2-arrow {
      border-radius: 0px;
      background-image: none;
      background-color: #eee;
      border-color: #ccc;
      width: 22px;
      
      b {
        position: relative;
        top: 3px;
        left: 3px;
      }
    }
  }
  
  &.select2-container-active {
    a.select2-choice {
      border: 1px solid #ccc;
      @include remove-box-shadow();
    }
  }
}

div.select2-drop {
  &.select2-drop-active {
    border-color: #ccc;
    
    div.select2-search {
      margin-top: 5px;
    }
    
    li.select2-highlighted {
      background-color: #999;
      
      div.select2-result-label {
        .context {
          color: #ccc;
        }
      }
    }
    
    div.select2-result-label {
      .context {
        margin-left: 10px;
        color: #999;
        font-style: italic;
      }
    }
  }
}

.rte-toolbar {
  overflow: hidden;
  background-color: $tertiary-color;
  border: 1px solid $tertiary-color; //#ccc;
  min-width: 300px;
  padding: 5px 0px 0px 5px;
  @include box-sizing(border-box);
  
  a, a img {
	  border: 0;
  }
  
  a img {
    display: none;
  }
  
  a.bold {
    @include icon-image(0px, -104px);
  }
  
  a.unorderedlist {
    @include icon-image(-26px, -104px);
  }
  
  a.link {
    @include icon-image(-52px, -104px);
  }

  p {
    float: left;
    margin: 0;
    margin-right: 10px;
    padding: 0px;
    font-size: 12px;
    
    &.mode {
      float: right;
      font-size: 14px;
      margin-right: 5px;
    }
  }
}

iframe.textedit {
  border: 1px solid #ddd;
}

// hide so users don't see but robots do, controllers fail if filled out
#email_address_confirmation {
  opacity: 0.1;
  position: absolute;
  top: -50px;
  //right: -50px;
}

.ui-datepicker {
  background-color: #fff;
  border: 10px solid #eee;
  @include box-shadow(3px, 3px, 8px, 0px, #666);
  
  td {
    &.ui-datepicker-current-day {
      background-color: #eee;
    }
    
    &:hover {
      background-color: #ddd;
    }
  }
  
  a.ui-datepicker-prev {
    text-align: center;
    &:after {
      content: '<';
    }
  }
  
  a.ui-datepicker-next {
    text-align: center;
    &:after {
      content: '>';
    }
  }
}

.ui-slider {
  background-color: #eee;
  
  .ui-slider-handle {
    background: #e9e9e9;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

.form_errors, #error_explanation {
  color: #c00;
  margin: 10px 0px;
  
  > h2 {
    font-size: 18px;
    margin: 0px;
  }
  
  > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}
