header {
  margin: 35px 0px 20px 0px; //35px 0px 10px 0px;
  line-height: 28px;
  
  @include respond-to(tiny) {
    margin-top: 10px;
  }
  
  h1, h2, h3 {
    display: inline-block;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    padding-right: 40px;
    white-space: nowrap;
	  font-weight: bold;
	  color: #888;
	  
	  @include respond-to(tiny) {
	    white-space: normal;
	    padding-right: 10px;
	  }
  }
  
  h1 {
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    color: #000;
    
    a {
      text-align: center;
      font-size: 28px;
  	  text-decoration: none;
  	  color: #999;
  	  
  	  html.no-touch &:hover {
        text-decoration: none;
        color: #000;
        opacity: 1;
      }
    }
    
    &.active a {
      color: #000;
      background: inherit;
    }
  }
  
  h2 {
    font-size: 14px;
  }
  
  h3 {
    font-size: 13px;
  }
  
  ul.nav {
    display: inline-block;
    /*vertical-align: baseline;*/
    margin: 0px;
	  padding: 0px;
    list-style: none;
    font-family: 'Century Gothic', 'Lucida Sans', Arial, sans-serif;
    
    li {
      display: inline-block;
      margin-right: -4px;
      //margin-right: 5px;
      //min-width: 120px;
      font-weight: bold;
      font-size: 16px;
      @include box-sizing(border-box);
      //border: 1px solid #f00;
	    /*float: left;*/
	    /*margin: 2px;*/
	    
	    a {
  		  display: block;
  		  padding: 5px 15px;
  		  font-size: 16px;
  		  //font-weight: bold;
  		  /*line-height: 28px;*/
  		  text-align: left;
  	    vertical-align: baseline;
  		  //color: #999;
  		  
  		  html.no-touch &:hover {
  			  //color: #000;
  			  //background-color: #f8f8f8;
  			  //opacity: 1;
  			  //text-decoration: none;
  		  }
		  }
		  
		  &.active {
		    a {
  	      color: #000;
	      }
  	  }
  	  
  	  header.editing ul.nav li.active a {
  	    color: #fff;
  	    background-color: #999;
  	  }
  	  
  	  html.no-touch & {
  	    header ul.nav li.active a:hover, .edit_list li.active a:hover {
  	      color: #666;
  	      background: inherit;
	      }
  	  }
    }
  }
  
  .page_control {
    float: right;
    display: block;
  	margin: 0;
  	margin-left: 10px;
  	height: 38px;
  	line-height: 38px;
    vertical-align: middle;
    
    img {
      position: relative;
      top: 5px;
    }
  }
  
  &.editing {
    ul.nav {
      display: block;
      margin-top: 20px;
      //padding: 5px;
      background: $header-editing-background-color; //#eee;
    
      li.active a {
  	    color: #fff;
  	    background-color: $header-editing-active-background-color; //#999;
	    
  	    html.no-touch &:hover {
    	    color: $header-editing-active-background-color; //#666;
    	    background: inherit;
    	  }
  	  }
	  }
	  
	  .notice {
      padding: 10px 20px;
      background-color: #ffc;
      color: #666;
      font-style: italic;
    }
  }
}

#page_header {
  
  h1 {
    display: none;
    
    &.active {
      display: inline-block;
    }
  }
  
  ul.nav {
    
    &.active {
      > li {
        display: none;
        
        &.active {
          display: inline-block;
          height: 38px;
        }
      }
    }
    
    > li {
      margin-right: 20px;
      font-weight: normal;
      
      &.active {
        color: #333;
        font-size: 28px;
      }
      
      a {
        font-weight: normal;
        background: none;
        padding: 5px 0px;
        font-size: inherit;
        
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
  
  .page_admin a {
    font-weight: normal;
  }
  
  .page_control a {
    position: relative;
    top: 4px;
  }
}
