$nav-url: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADpJREFUeNpiYBgFo2AUjAIyASM+yYuXr/ynxHB9XR2c5jONhv1o4hpNXKNgNHGNglEwCkYBzQFAgAEAP98MCrbquOEAAAAASUVORK5CYII=);

$left-url: url(data:image/gif;base64,R0lGODlhFAAUAJECAElJSY2Njf///wAAACH5BAEAAAIALAAAAAAUABQAAAItlI+pixEMAwAPJjmrNZju02lb+HGTV57op4pbWx5wLJC0HeOl/vFjRuO4gokCADs=);
$right-url: url(data:image/gif;base64,R0lGODlhFAAUAJECAElJSY2Njf///wAAACH5BAEAAAIALAAAAAAUABQAAAIulI+pGLFvAgAOKjmrZZPuhHnfEWpjOZIdkEZrG7LnO2cpWosfvnfmhvnthK1PAQA7);

