#site_nav {
  position: relative;
	min-height: 40px;
  background-color: #eee;
  border: 1px solid #d8d8d8;
  padding-right: 150px;
  white-space: nowrap;
  
  ul {
  	margin: 0 auto;
  	padding: 0;
  	list-style: none;
  	white-space: normal;
  	
  	li {
  	  
  	  a {
  		  display: block;
    		padding-right: 15px;
    		padding-left: 15px;
    		font-size: 14px;
    		font-weight: bold;
    		line-height: 40px;
    		text-align: center;
    		text-decoration: none;
    		color: #555;
    		white-space: nowrap;
    	  -webkit-transition-property: color, background-color;
        -webkit-transition-duration: 0.2s, 0.4s;
        -webkit-transition-timing-function: linear, ease-in;
        -moz-transition-property: color, background-color;
        -moz-transition-duration: 0.2s, 0.4s;
        -moz-transition-timing-function: linear, ease-in;
        transition-property: color, background-color;
        transition-duration: 0.2s, 0.4s;
        transition-timing-function: linear, ease-in;
        
        &:hover {
          opacity: 1.0;
      		color: #000;
      		background-color: #fff;
      	}
      }
      
      &:first-of-type {
        border: none;

        a {
      	  border-top-left-radius: 4px;
      	  border-bottom-left-radius: 4px;
      	}
      }
      
      &.active {
        a {
          color: #eee;
    			background-color: #999;
        }
      }
  	}
  }
  
  > ul {
    
    > li {
  	  display: inline-block;
  	  border-left: 1px solid #d8d8d8;
  	  
  	  @include respond-to(tiny) {
  	    display: block;
  	    a {
  	      text-align: left;
	      }
	    }
	  }
  }
  
  form {
    width: 150px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 8px;
    margin-right: 10px;
    text-align: right;
  }
  
  .menu_parent {
    position: relative;
    
    .site_nav_menu {
      display: table;
      border-spacing: 0px;
      opacity: 0;
      position: absolute;
      top: 40px;
      z-index: 200;
      background-color: #eee;
      padding: 10px;
      @include box-shadow(3px, 3px, 8px, 0px, #666);
      white-space: nowrap;
      -webkit-transition: all 0.5s ease 0.2s;
      -moz-transition: all 0.5s ease 0.2s;
      transition: all 0.5s ease 0.2s;
      
      ul {
        display: table-cell;
        list-style: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: #fff;
        
        li, li a {
          height: 0px;
          width: 0px;
          line-height: 0px;
          -webkit-transition: all 0.5s ease 0.2s;
          -moz-transition: all 0.5s ease 0.2s;
          transition: all 0.5s ease 0.2s;
        }
        
        li {
          position: static;
          float: none;
          padding: 0px 0px;
          
          a {
            color: #555;
            background-color: inherit;
            font-weight: normal;
            text-align: left;
            padding: 0px;
            border-top: 1px solid #ddd;
            border-top-left-radius: 0px;
        	  border-bottom-left-radius: 0px;
          }
          
          &:hover {
            color: $link-color;
            
            a {
              position: relative;
              color: $link-color;
            
              &::after {
                position: absolute;
                content: image-url("right_small.png");
                margin-left: 5px;
                vertical-align: baseline;
              }
            }
          }
          
          &:first-of-type {
            a {
              border: none;
            }
          }
        }
      }
    }
    
    &:hover {
      .site_nav_menu {
        opacity: 1;
      }
      
      ul li, ul li a {
        height: 36px;
        width: 150px;
        padding-right: 15px;
        line-height: 36px;
        -webkit-transition: color 0;
        -moz-transition: color 0;
        transition: color 0;
      }
      
      ul li {
        width: 165px;
        padding: 0px 10px;
      }
    }
  }
}
