table {
  
  caption {
    text-align: left;
    font-size: 16px;
    color: #999;
  }
  
  th {
    text-align: left;
  }
  
  td.numeric, th.numeric {
    text-align: right;
  }
  
  &.grid {
	  margin: 20px 0px;
	
  	td {
  	  padding-right: 20px;
  	}
	
  	caption {
  	  font-size: 14px;
  		font-weight: bold;
  		text-align: left;
  		color: #999;
  	}
	}
	
	&.library {
    clear: both;
    margin: 0px 0px 20px 0px;
    padding: 0px; /* 20px; */
    
    td {
    	padding-right: 20px;
    	vertical-align: top;
    }
  }
  
  &.index {
    td, th {
      padding-right: 20px;
    }
  	th {
  		text-align: left;
  		color: #666;
      
      &.numeric {
        text-align: right;
      }
  	}
	}
}
