.control-icon {
  border-radius: $brand-radius;
  cursor: pointer;
  transition: background-color 0.3s;

  svg {
    margin: halve($inuit-base-spacing-unit);
    vertical-align: middle;
    fill: $icon-color-enabled;
    stroke: $icon-color-enabled;
  }

  &:hover {
    //background-color: $brand-color;

    svg {
      fill: $icon-color-active;
      stroke: $icon-color-active;
    }
  }
}

.control-icon--active {
  background-color: $brand-color;

  svg {
    fill: $brand-over-color;
    stroke: $brand-over-color;
  }
}

.control-icon--active-down {
  border-radius: $brand-radius $brand-radius 0 0;
}

.control-icon--active-up {
  border-radius: 0 0 $brand-radius $brand-radius;
}
