html {
  background-color: $background-color;
  color: $color;
  font-family: 'Century Gothic', 'Lucida Sans', Arial, sans-serif;
}

html, body {
  //width: 100%;
  //height: 100%;
}

a,
.anchor {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: darken($link-color, 10%);
  }
}

button {
  border: none;
  background: none;

  &:not(.control-icon) {
    background-color: $button-background-color;
    padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    border-radius: 1px;
    box-shadow: 0 1px 2px 0px #ccc;
  }
}

input, textarea, select {
  border-style: none solid solid solid;
  border-width: 1px;
  border-color: $border-color;
  border-bottom-left-radius: $brand-radius;
  border-bottom-right-radius: $brand-radius;
  padding: quarter($inuit-base-spacing-unit);
  outline: none;

  &:focus {
    outline: none;
    border-color: $focus-color;
  }
}

input.anchor {
  border: none;
  background-color: transparent;
  padding: 0px;
}

$small-drop-caret: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOhJREFUSA3tksENgzAMRUmrrlApuTAAxxw6QvfojYmYKtw6QpUDI1Rq6o8MStsAMT1UlbAUcMB+33FcFJttHfifDlhrT7QO31YMBlgDZw8HH5RSF3JLY0zrvX8MAZI3F1gT66y17ohz2zGgDSFc6UdF+5oDJWwUidMDXoFFfgtAfwJUjMppX7KI6CQJeOOcu48CcNaKzMFfBNaILME/BCQiOfCkQI5ILhwshceUpUAcG0/LeKEpzqwAEhIiRTSKs3Dk92MKZ8rep4vgR57zRTiYiwIIikVo29HKgiNXZGgXt0yUtwX/tgNPQqatJ1aBLFMAAAAASUVORK5CYII=);

select {
   color: $color;
   background-color: $background-color;
   padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: $small-drop-caret no-repeat center right;
   cursor: pointer;

   &::-moz-focus-inner {
     border: none;
   }
}

p {
  max-width: round($inuit-base-spacing-unit * 30); // 720px
}
