.calendar {

  @include media-query(lap-and-up) {
    padding: 0 $inuit-base-spacing-unit;

    .form__field & {
      padding: 0;
    }
  }

  @include media-query(desk) {
    padding: 0 double($inuit-base-spacing-unit);

    .form__field & {
      padding: 0;
    }
  }

  &__header {
    @include main-content();
    @include inuit-font-size($inuit-heading-size-1, quadruple($inuit-base-spacing-unit));
    display: flex;
    margin-bottom: $inuit-base-spacing-unit;

    @include media-query(palm) {
      @include inuit-font-size($inuit-heading-size-1);
      display: block;
    }
  }

  &__title {
    display: block;
    margin-right: $inuit-base-spacing-unit;
    flex: 0 0 auto;
  }

  &__search {
    display: block;
    flex: 1;
  }

  &__week {
    display: flex;
    align-items: stretch;

    .form__field & {
      align-items: flex-end;
    }

    &--header {
      .calendar {
        &__day {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: right;
          padding: quarter($inuit-base-spacing-unit);
          color: $secondary-color;
        }
      }
    }
  }

  &__day {
    display: inline-block;
    vertical-align: top;
    //width: 13vw;
    flex: 1;
    text-align: left;

    &-date {
      padding: quarter($inuit-base-spacing-unit);
      text-align: right;
      background-color: #eee;
      border-right: 2px solid $background-color;
      margin-bottom: 2px;

      .form__field & {
        text-align: left;
        height: 100%;
      }

      &--alternate {
        background-color: #f2f2f2;
      }

      &-month,
      &-year {
        margin-right: quarter($inuit-base-spacing-unit);
        display: none;

        &--first {
          display: inline;

          .form__field & {
            display: block;
          }
        }
      }

      &-weekday {
        margin-right: quarter($inuit-base-spacing-unit);
        display: none;
      }
    }
  }

  &__events {
    margin: quarter($inuit-base-spacing-unit);
  }

  &__event {
    text-indent: - halve($inuit-base-spacing-unit);
    padding-left: halve($inuit-base-spacing-unit);

    &-time {
      width: round($inuit-base-spacing-unit * 3);
      margin-right: quarter($inuit-base-spacing-unit);
      text-indent: 0;
      color: $secondary-color;
      display: none;

      @include media-query(desk) {
        display: inline-block;
      }
    }
  }

  &__nav {
    margin-top: double($inuit-base-spacing-unit);
    display: flex;
    justify-content: space-between;

    a {
      cursor: pointer;
      &:first-child {
        &:before {
          content: '< ';
        }
      }

      &:last-child {
        &:after {
          content: ' >';
        }
      }
    }
  }

  &__spinner {
    margin: $inuit-base-spacing-unit auto;
  }

  @include media-query(palm) {

    &__week {
      flex-direction: column;

      &--header {
        display: none;
      }
    }

    &__day {
      display: block;
      width: auto;
      padding: 0px $inuit-base-spacing-unit;

      &-date {
        &-month {
          display: inline;
        }

        &-weekday {
          display: inline;
        }
      }
    }

    &__event {
      &-time {
        display: inline-block;
      }
    }
  }
}
