.index__back {
  position: absolute;
  top: 0;
  left: $inuit-base-spacing-unit;
  @include inuit-font-size($label-font-size);

  &:before {
    content: '< ';
    font-weight: bold;
  }
}

.index__header {
  @include main-content();
  @include inuit-font-size($inuit-heading-size-1, quadruple($inuit-base-spacing-unit));
  display: flex;

  @include media-query(palm) {
    @include inuit-font-size($inuit-heading-size-1);
    display: block;
  }
}

.index__title {
  display: block;
  margin-right: $inuit-base-spacing-unit;
  flex: 0 0 auto;
}

.index__search {
  display: block;
  flex: 1;

  @include media-query(palm) {
    margin-bottom: $inuit-base-spacing-unit;
  }
}

.index__count {
  @include main-content();
  @include inuit-font-size($inuit-base-font-size);
  padding-right: round($inuit-base-spacing-unit * 1.5);
  text-align: right;
  color: $tertiary-color;

  @include media-query(palm) {
    display: none;
  }
}

.index__add {
  margin-left: $inuit-base-spacing-unit;

  @include media-query(palm) {
    position: absolute;
    top: 0px;
    right: halve($inuit-base-spacing-unit);
  }
}

.index__items {
  @include main-content();
  min-height: $min-content-height;
  transition: opacity 0.3s;
}

.index-item {
  position: relative;
  margin: 0px;
  // line-height: double($inuit-base-spacing-unit);

  &:first-child {
    .index-item__contents {
      @include media-query(palm) {
        border-top: none;
      }
    }
  }
}

.index-item__contents {
  display: flex;
  padding: halve($inuit-base-spacing-unit) 0;
  color: $color;

  &:hover {
    text-decoration: none;
  }

  @include media-query(palm) {
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid $border-color;
  }

  @include media-query(lap-and-up) {
    align-items: center;
    margin: 0 #{- halve($inuit-base-spacing-unit)};
    padding: halve($inuit-base-spacing-unit);
  }

  > * {
    flex: 1;
    margin-right: halve($inuit-base-spacing-unit);
    padding-left: halve($inuit-base-spacing-unit);
    text-indent: - halve($inuit-base-spacing-unit);

    &:not(:first-child) {
      font-weight: normal;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

a.index-item__contents:hover {
  background-color: $hover-background-color;
}

.index__no-matches {
  @include main-content();
  font-style: italic;
  color: $secondary-color;
  //margin-top: $inuit-base-spacing-unit;
}

.index__spinner {
  margin: $inuit-base-spacing-unit auto;
}

.index--changing {
  .index__items {
    opacity: 0.2;
  }
}
