.form {
  position: relative;
  width: 100vw;
  overflow: auto;
  margin: 0 auto;

  &__header, &__footer {
    @include main-content();
    //background-color: $header-background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page__element &,
    .page-builder__element & {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &__header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
    @include inuit-font-size($inuit-heading-size-1, quadruple($inuit-base-spacing-unit));

    &-message {
      position: absolute;
      top: 0px;
      left: 0px;
      @include main-content();
      @include inuit-font-size($label-font-size);
    }
  }

  &__footer {
    height: quadruple($inuit-base-spacing-unit);
    padding: $inuit-base-spacing-unit;

    .btn {
      &--primary {
        background-color: $brand-color;
        color: $brand-over-color;
      }

      &:hover {
        background-color: $brand-accent-color;
      }
    }
  }

  &__contents {
    padding-top: quadruple($inuit-base-spacing-unit);
  }

  &__validation,
  #error_explanation,
  &_errors {
    @include main-content();
    color: $validation-color;
    font-style: italic;

    h2 {
      display: none;
    }

    ul {
      margin-top: 0px;
    }
  }

  fieldset {
    max-width: $max-content-width;
    margin: 0 auto;
    border: none;
    padding: 0px;
    margin-bottom: double($inuit-base-spacing-unit);

    &:last-of-type {
      margin-bottom: 1px;
    }

    legend {
      position: relative;
      background-color: $background-color;
      color: $secondary-color;
      @include inuit-font-size($inuit-heading-size-3);
      margin: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit $inuit-base-spacing-unit $inuit-base-spacing-unit;
      padding-right: double($inuit-base-spacing-unit);

      .page__element &,
      .page-builder__element & {
        margin-left: 0px;
        margin-right: 0px;
      }

      &:before {
        content: '';
        position: absolute;
        width: 100vw;
        max-width: $max-content-width - double($inuit-base-spacing-unit);
        top: - quarter($inuit-base-spacing-unit);
        left: 0px;
      }
    }
  }

  &__fields {
    &_help {
      position: relative; // for edit control
      padding: halve($inuit-base-spacing-unit) 0px;
      color: $secondary-color;
      font-style: italic;
      @include inuit-font-size($label-font-size);

      @include media-query(lap-and-up) {
        margin: 0 $inuit-base-spacing-unit;

        .page__element &,
        .page-builder__element & {
          margin-left: 0px;
          margin-right: 0px;
        }
      }

      @include media-query(palm) {
        padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
      }
    }
  }

  &__field {
    position: relative; // for z-index
    padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    border: 1px solid $border-color;
    margin-bottom: -1px;

    @include media-query(palm) {
      padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
      border-left: none;
      border-right: none;
    }

    @include media-query(lap-and-up) {
      margin-left: $inuit-base-spacing-unit;
      margin-right: $inuit-base-spacing-unit;

      .page__element &,
      .page-builder__element & {
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    > label {
      display: block;
      color: $secondary-color;
      @include inuit-font-size($label-font-size);
    }

    &:not(.form__field--multiple) {
      input:not([type="checkbox"]):not([type="radio"]), textarea, select {
        width: 100%;
        border: none;
        padding-left: 0px;
        padding-right: 0px;
      }

      input[type="checkbox"],
      input[type="radio"] {
        margin-right: halve($inuit-base-spacing-unit);
      }
    }

    textarea {
      resize: vertical;
    }

    img {
      max-width: 100%;
    }

    &-help {
      display: block;
      color: $secondary-color;
      font-style: italic;
      @include inuit-font-size($label-font-size);
    }

    &-error {
      display: block;
      float: right;
      color: $validation-color;
      @include inuit-font-size($label-font-size);
    }

    //&-edit {
    //  position: absolute;
    //  top: 0px;
    //  right: - round($inuit-base-spacing-unit * 3);
    //}

    &-option {
      &-help {
        margin-left: $inuit-base-spacing-unit;
        color: $secondary-color;
        font-style: italic;
        @include inuit-font-size($label-font-size);
      }
    }

    &--large {
      textarea {
        width: 100%;
        height: 100%;
        max-width: $max-content-width - double($inuit-base-spacing-unit);
        margin: 0px;
      }
    }

    &--focus {
      z-index: 2;
      border-color: $focus-color;
    }

    &--hidden {
      display: none;
    }
  }

  &__expander {
    // padding-right: double($inuit-base-spacing-unit);
    cursor: pointer;
    background: $small-drop-caret no-repeat center right;
  }

  // hide so users don't see but robots do, controllers fail if filled out
  #email_address_confirmation {
    opacity: 0.1;
    position: absolute;
    top: -50px;
    //right: -50px;
  }

  &--compact {

    @include media-query(lap-and-up) {
      .form__header,
      .form__footer,
      fieldset,
      &__validation,
      #error_explanation,
      .form_errors {
        max-width: $compact-content-width;
      }
    }
  }

  .page__element &,
  .page-builder__element & {
    width: auto;
    margin: 0;
  }

  .drop &,
  .layer & {
    @include media-query(lap-and-up) {
      width: $compact-content-width;
    }
  }
}

.form__menu {
  @include main-content();
  margin-bottom: double($inuit-base-spacing-unit);

  a {
    margin-right: $inuit-base-spacing-unit;
  }

  &--compact {
    max-width: $compact-content-width;
  }
}

.delete {
  @include main-content();

  &__control {
    display: block;
    margin-top: $inuit-base-spacing-unit;
    padding: $inuit-base-spacing-unit $inuit-base-spacing-unit $inuit-base-spacing-unit 0;
    height: quadruple($inuit-base-spacing-unit);
    line-height: $inuit-base-spacing-unit;
    border-top: 1px solid $border-color;
    white-space: nowrap;
    overflow: hidden;

    .delete__trigger {
      margin-right: $inuit-base-spacing-unit;
    }

    .delete__prompt {
      display: inline-block;
      max-width: 0px;
      overflow: hidden;
      transition: max-width 0.2s;
    }

    &:hover {

      .delete__trigger {
        opacity: 0.3;
        transition: opacity 0s 0.2s;
      }

      .delete__prompt {
        max-width: 100vw;
        transition: max-width 1.4s 0.2s;
      }
    }

    .btn {
      margin-left: $inuit-base-spacing-unit;

      &:hover {
        background-color: $brand-accent-color;
      }
    }
  }
}

li.placeholder {
  background: $brand-color;
  color: $brand-accent-color;
  //border-radius: $brand-radius;
  height: double($inuit-base-spacing-unit);
  @include inuit-font-size($inuit-heading-size-3, double($inuit-base-spacing-unit));

  @include media-query(lap-and-up) {
    margin-left: $inuit-base-spacing-unit;
    margin-right: $inuit-base-spacing-unit;
  }

  &:before {
    display: block;
    content: "Drop here";
    padding: 0px $inuit-base-spacing-unit;
  }
}

#sign_up_email_confirmation {
  display: none;
}

.form-fills {
  &__header {
    @include inuit-font-size($inuit-heading-size-1, quadruple($inuit-base-spacing-unit));
  }

  &__fill {

    td {
      padding-bottom: halve($inuit-base-spacing-unit);
    }

    button,
    a {
      margin-left: $inuit-base-spacing-unit;
    }
  }

  &__add {
    margin-top: halve($inuit-base-spacing-unit);
  }

  &__all {
    position: absolute;
    top: double($inuit-base-spacing-unit);
    right: halve($inuit-base-spacing-unit);
  }
}
