.form-builder__add {
  display: block;
  width: double($inuit-base-spacing-unit);
  margin: $inuit-base-spacing-unit auto;
  line-height: double($inuit-base-spacing-unit);
}

.form-builder__section {
  @include main-content();
  position: relative;
  padding: $inuit-base-spacing-unit;
}

.form-builder__section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: move;

  @include media-query(palm) {
    padding-left: $inuit-base-spacing-unit;
  }

  @include media-query(lap-and-up) {
    margin: 0 $inuit-base-spacing-unit;
  }
}

.form-builder__section-header-contents {
  flex: 1;
}

.form-builder__section-edit {
  flex: 0 0 auto;
  margin-right: halve($inuit-base-spacing-unit);
  cursor: pointer;
}

.form-builder__field {
  position: relative;
  background-color: $background-color;
  cursor: move;
  transition: border-color $animation-delay, background-color $animation-delay;
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: $over-background-color;
    border-color: $brand-accent-color;
    z-index: 1;
  }

  &.form__fields-help {
    padding-right: $inuit-base-spacing-unit;
  }

  > *:not(.control-icon) {
    pointer-events: none;
  }

  input {
    background-color: transparent;
  }
}

.form-builder__field-content {
  flex: 1;
}

.form-builder__field-edit {
  flex: 0 0 auto;
  display: inline-block;
  margin-right: - halve($inuit-base-spacing-unit);
  margin-left: $inuit-base-spacing-unit;
  cursor: pointer;
}

.form-builder__placeholder {
  height: quadruple($inuit-base-spacing-unit);
  background-color: $placeholder-background-color;
  margin: 0 $inuit-base-spacing-unit;
}
