.menu {
  position: relative;
  display: inline-block;
}

.menu__control {
  //height: 100%;
}

.menu__actions {
  background-color: $brand-color;
  color: $brand-over-color;
  border-radius: $brand-radius 0 $brand-radius $brand-radius;
  text-align: right;
  @include inuit-font-size($inuit-base-font-size);

  > * {
    display: block;
    padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;

    &:hover {
      color: $brand-accent-color;
    }
  }
}

.menu--down {
  .menu__actions {
    border-radius: $brand-radius 0 $brand-radius $brand-radius;
  }
}

.menu--up {
  .menu__actions {
    right: auto;
    left: 0px;
    text-align: left;
    bottom: double($inuit-base-spacing-unit);
    border-radius: $brand-radius $brand-radius $brand-radius 0;
  }

  &.menu--active {
    .menu__actions {
      right: auto;
      left: 0px;
      //bottom: round($inuit-base-spacing-unit * 3);
    }
  }
}

.menu--active {
  z-index: 1;

  .menu__actions {
    display: block;
  }
}
