.page-builder__add {
  display: block;
  width: double($inuit-base-spacing-unit);
  margin: $inuit-base-spacing-unit auto;
  line-height: double($inuit-base-spacing-unit);
}

.page-builder__footer {
  @include main-content();

  > a {
    float: right;
  }
}

.page-builder__element {
  position: relative;
  cursor: move;
  background-color: $background-color;
  transition: border-color $animation-delay, background-color $animation-delay;

  &:hover {
    background-color: $over-background-color;
    border-color: $brand-accent-color;
  }

  > *:not(.control-icon) {
    margin-right: round($inuit-base-spacing-unit * 3);
    pointer-events: none;
  }

  .control-icon:not(.page-builder__element-edit) {
    display: none;
  }

  &:not(.page-builder__element--full) {
    @include main-content();
  }

  &.page-builder__element--full {
    > *:not(.item) {
      @include main-content();
      padding: $inuit-base-spacing-unit;
    }

    > .item {
      max-width: none;
      width: 100%;
    }

    &.page-builder__element--colored {
      > * {
        padding: $inuit-base-spacing-unit;
      }

      .control-icon {
        opacity: 0.7;

        svg {
          fill: $icon-color-colored;
          stroke: $icon-color-colored;
        }

        &:hover {
          opacity: 1;
        }
      }

      .page-builder__element-edit {
        right: 0;
      }
    }
  }
}

.page-builder__element-edit {
  position: absolute;
  top: halve($inuit-base-spacing-unit);
  right: $inuit-base-spacing-unit;
  cursor: pointer;
}

.page-builder__placeholder {
  @include main-content();
  height: quadruple($inuit-base-spacing-unit);
  background-color: $placeholder-background-color;
}
