.reservations {
  margin-top: halve($inuit-base-spacing-unit);

  &__resource {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: halve($inuit-base-spacing-unit);

    input[type="checkbox"] {
      margin-right: halve($inuit-base-spacing-unit);
    }

    &-name {
      width: round($inuit-base-spacing-unit * 8);
    }

    &-pre-post {
      position: relative;
      width: round($inuit-base-spacing-unit * 8);
      height: $inuit-base-spacing-unit;
      overflow: visible;

      &-control {
        display: block;
        color: $secondary-color;
      }

      &-fields {
        position: absolute;
        top: 0px;
        left: 0px;
        max-height: 0;
        overflow: hidden;
        background-color: $background-color;
        transition: 0.5s;

        > li {
          margin: 0px;
        }
      }

      &:hover {
        .reservations__resource-pre-post-fields {
          z-index: 1;
          max-height: 200px;
          padding-bottom: 1px;
        }
      }
    }

    &-conflicts {

      li {
        display: inline-block;

        &::after {
          content: ', ';
        }

        &:last-child::after {
          content: '';
        }
      }
    }

    &--used {
      color: $tertiary-color;
    }
  }
}