.page {
  @include main-content();

  // &__header {
  //   display: -webkit-flex;
  //   display: flex;
  //   -webkit-justify-content: space-between;
  //   justify-content: space-between;
  //   @include inuit-font-size($inuit-heading-size-1, quadruple($inuit-base-spacing-unit));
  //
  //   h1 {
  //     -webkit-flex: 0 0 auto;
  //     flex: 0 0 auto;
  //   }
  // }
  //
  // &__edit-menu {
  //   position: relative;
  //   right: 0px; //- $inuit-base-spacing-unit;
  //   -webkit-flex: 0 0 auto;
  //   flex: 0 0 auto;
  // }

  &__back {
    position: absolute;
    top: 0px;
    left: $inuit-base-spacing-unit;
    @include inuit-font-size($label-font-size);

    &:before {
      content: '< ';
      font-weight: bold;
    }
  }

  &__edit {
    position: absolute;
    top: $inuit-base-spacing-unit;
    right: $inuit-base-spacing-unit;
  }

  &__elements {
    min-height: $min-content-height;
  }

  &__element {
    position: relative;
    margin: double($inuit-base-spacing-unit) 0px;

    &:first-child {
      margin-top: 0px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    .control-icon {
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
}

.item {
  max-width: $max-content-width;

  &--image {
    img {
      width: 100%;
    }
  }

  &--audio {
    audio {
      display: block;
      width: 100%;
    }
  }
}
