.menu {
  position: relative;
  display: inline-block;

  &__control {
    //height: 100%;
  }

  &__actions {
    display: none;
    position: absolute;
    right: 0px;
    background-color: $brand-color;
    color: $brand-over-color;
    border-radius: $brand-radius;
    text-align: right;
    @include inuit-font-size($inuit-base-font-size);
  }

  &__action {
    display: block;
    padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;

    &:hover {
      color: $brand-accent-color;
    }
  }

  &--down {
    .menu {
      &__actions {
        border-radius: $brand-radius 0 $brand-radius $brand-radius;
      }
    }
  }

  &--up {
    .menu {
      &__actions {
        right: auto;
        left: 0px;
        text-align: left;
        bottom: double($inuit-base-spacing-unit);
        border-radius: $brand-radius $brand-radius $brand-radius 0;
      }
    }
  }

  &--active {
    z-index: 1;

    .menu {
      &__actions {
        display: block;
      }
    }
  }

  &--up.menu--active {
    .menu {
      &__actions {
        right: auto;
        left: 0px;
        //bottom: round($inuit-base-spacing-unit * 3);
      }
    }
  }
}
