.form-builder {

  &__add {
    display: block;
    width: double($inuit-base-spacing-unit);
    margin: $inuit-base-spacing-unit auto;
    line-height: double($inuit-base-spacing-unit);
  }

  &__section {
    @include main-content();
    position: relative;
    padding: $inuit-base-spacing-unit;

    &-header {
      min-height: $inuit-base-spacing-unit;
      cursor: move;
    }

    &-edit {
      position: absolute;
      top: 0; //halve($inuit-base-spacing-unit);
      right: 0; //$inuit-base-spacing-unit;
      cursor: pointer;
    }

    > .form__fields {
      margin-right: round($inuit-base-spacing-unit * 3);
    }
  }

  &__field {
    position: relative;
    background-color: $background-color;
    cursor: move;
    transition: border-color $animation-delay, background-color $animation-delay;

    &:hover {
      background-color: $over-background-color;
      border-color: $brand-accent-color;
    }

    &-edit {
      position: absolute;
      top: 0; //halve($inuit-base-spacing-unit);
      cursor: pointer;

      @include media-query(palm) {
        right: - double($inuit-base-spacing-unit);
      }

      @include media-query(lap-and-up) {
        right: - round($inuit-base-spacing-unit * 3);
      }
    }

    > *:not(.control-icon) {
      pointer-events: none;
    }

    input {
      background-color: transparent;
    }
  }

  &__placeholder {
    height: quadruple($inuit-base-spacing-unit);
    background-color: $placeholder-background-color;
    margin: 0 $inuit-base-spacing-unit;
  }
}
