.page {
  @include main-content();

  /*&__header {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    @include inuit-font-size($inuit-heading-size-1, quadruple($inuit-base-spacing-unit));

    h1 {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
    }
  }

  &__edit-menu {
    position: relative;
    right: 0px; //- $inuit-base-spacing-unit;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
  }*/

  &__edit-menu {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &__elements {
    min-height: $min-content-height;
  }

  &__element {
    margin: double($inuit-base-spacing-unit) 0px;
    &:first-child {
      margin-top: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.page-contents-edit {

  &__add-menu {
    display: block;
    width: double($inuit-base-spacing-unit);
    margin: 0 auto;
    line-height: double($inuit-base-spacing-unit);
  }

  &__element {
    @include main-content();
    position: relative;
    padding: $inuit-base-spacing-unit;
    cursor: move;
    background-color: $background-color;
    transition: border-color $animation-delay, background-color $animation-delay;

    &:hover {
      background-color: $over-background-color;
      border-color: $brand-accent-color;
    }

    &-edit {
      position: absolute;
      top: halve($inuit-base-spacing-unit);
      right: $inuit-base-spacing-unit;
      cursor: pointer;
    }

    > *:not(.control-icon) {
      margin-right: round($inuit-base-spacing-unit * 3);
      pointer-events: none;
    }
  }
}

.item {
  max-width: $max-content-width;

  &--image {
    img {
      width: 100%;
    }
  }

  &--audio {
    audio {
      display: block;
      width: 100%;
    }
  }
}
