@import "inuit-defaults/settings.defaults";
@import "inuit-responsive-settings/settings.responsive";
@import "settings.defaults";

@import "inuit-functions/tools.functions";
@import "inuit-mixins/tools.mixins";
@import "inuit-responsive-tools/tools.responsive";
@import "tools.mixins";

@import "inuit-normalize/generic.normalize";
@import "inuit-box-sizing/generic.box-sizing";

@import "inuit-page/base.page";
@import "inuit-headings/base.headings";
@import "base.app";
@import "base.icon";

@import "inuit-list-bare/objects.list-bare";
@import "inuit-pack/objects.pack";
$inuit-btn-background: $background-color;
$inuit-btn-border-color: $brand-color;
$inuit-btn-color: $color;
$inuit-btn-radius: $brand-radius;
@import "inuit-buttons/objects.buttons";

@import "objects.drop";
@import "objects.menu";
@import "objects.form";
@import "objects.form-builder";
@import "objects.app";
@import "objects.search-input";
@import "objects.page";
@import "objects.page-builder";
@import "objects.search";
@import "objects.index";
@import "objects.calendar";
@import "objects.reservation";
@import "objects.message";
@import "objects.spinner";

/*@import 'common/reset';
@import 'common/media';
@import 'common/color';
@import 'common/icon';
@import 'common/layout';
@import 'common/animation';
@import 'common/main';
@import 'common/header';
@import 'common/footer';
@import 'common/site_header';
@import 'common/site_nav';
@import 'common/form';
@import 'common/table';

@import 'controllers/authors';
@import 'controllers/books';
@import 'controllers/calendar';
@import 'controllers/events';
@import 'controllers/forms';
@import 'controllers/holidays';
@import 'controllers/home';
@import 'controllers/messages';
@import 'controllers/pages';
@import 'controllers/users';
@import 'controllers/search';
@import 'controllers/audit_logs';
@import 'controllers/email_lists';
@import 'controllers/accounts';
@import 'controllers/invitations';
@import 'controllers/shared_events';

//@import 'designs/modo/main';
@import 'designs/morocco/main';

@import 'common/print';
*/
