<div class="add_content">
  <% if @authorization -%>
  <%= link_to 'Overall access', edit_access_page_path(@page) %>
  <% end -%>
  <% if not @authorization or @authorization.user -%>
  <%= link_to 'Add user', new_page_authorization_path(@page) %>
  <% end -%>
</div>

<ul class="edit_list">
  <%= render :partial => 'authorizations/edit_authorization',
    :collection => @page.authorizations %>
</ul>
