<div class="form__contents">

  <%= render :partial => 'form_errors' %>

  <fieldset>
    <ul class="form__fields list-bare">
      <li class="form__field form__field--large">
        <%= f.text_area :text, :size => "80x16" %>
      </li>
      <li class="form__fields-help">
        <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a>
      </li>
      <%= render :partial => 'page_elements/shared_fields' %>
    </ul>
  </fieldset>

</div>
