<div class="form__contents">

  <%= render :partial => 'form_errors' %>

  <fieldset>
    <ul class="form__fields list-bare">
      <li class="form__field form__field--large">
        <%= f.text_area :text, :size => "80x20" %>
      </li>
    </ul>
  </fieldset>

</div>
