<% title "Add Text" -%>

<%= form_for(@text, :url => [@page, @text], :html => { class: "form" }) do |f| %>

  <%= render :partial => 'shared/form_header',
    :locals => {:title => 'Add Text',
      :cancel_path => edit_contents_page_url(@page),
      :message => @message} %>

  <%= render :partial => 'form_contents', :locals => {:f => f} %>

  <div class="form__footer">
    <%= f.submit "Add", class: 'btn btn--primary' %>
  </div>

<% end %>
