body.design_morocco {
  
  #hero {
    margin: 30px 0px;
    
    @include respond-to(small-down) {
      margin: 20px 0px;
    }
    
    @include respond-to(tiny) {
      margin: 10px 0px;
    }
  }
  
  div.home_section {
    
    @include respond-to(small-down) {
      > * {
        display: inline-block;
        vertical-align: top;
      }
    }
    
    > h2 {
      position: relative;
      top: auto;
      vertical-align: top;
      line-height: normal;
      margin: 0px 30px 10px 0px;
      font-size: inherit;
      color: #999;
      font-weight: normal;
      min-width: 130px;
      
      @include respond-to(small-down) {
        min-width: 150px;
      }
    
      a {
        font-size: 32px; ///16px;
        font-weight: bold;
        color: #ccc; //#d8d8d8;
        
        &:after {
          content: ' >';
          display: inline-block;
          font-size: 20px;
          position: relative;
          top: -3px;
          //left: 5px;
          margin-left: 10px;
        }
        
        &:hover {
          opacity: 1;
          color: $link-hover-color;
        }
      }
    }
  }
  
  #home_primary {
    position: relative;
    width: 100%;
    margin: 30px 0px;
    
    @include respond-to(normal-up) {
      white-space: nowrap;
    }
    
    @include respond-to(small-down) {
      margin: 0px;
    }
    
    > * {
      display: inline-block;
      vertical-align: top;
      margin-right: -5px;
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;
      padding: 0px 30px;
      //min-height: 110px;
      @include box-sizing(border-box);
      white-space: normal;
      
      &:first-child {
        padding-left: 0px;
        border-left: none;
        @include respond-to(normal-up) {
          width: 60%;
        }
      }
      &:last-child {
        padding-right: 0px;
        border-right: none;
        @include respond-to(normal-up) {
          width: 40%;
        }
      }
      
      @include respond-to(small-down) {
        margin-bottom: 20px;
        padding: 5px 0px;
        display: block;
        height: auto;
        min-height: 0px;
        border-right: none;
        border-left: none;
      }
    }
    
    #home_services {
      margin: 0px;
      margin-bottom: 30px;
      //margin-right: -4px;
      padding: 0px;
      padding-right: 20px;
      border-top: none;
      border-bottom: none;
      
      /*@include respond-to(normal-up) {
        width: 20%;
      }
      
      @include respond-to(small-down) {
        max-width: none;
        margin-bottom: 20px;
      }*/
      
      > * {
        display: block;
        
        @include respond-to(small-down) {
          display: inline-block;
          vertical-align: top;
        }
      }
      
      h2 {
        top: auto;
        line-height: normal;
        
        a {
          &:hover {
            opacity: 1;
            color: $link-hover-color;
          }
        }
      }
    }
    
    #home_calendar {
      
      /*@include respond-to(normal-up) {
        width: 25%;
      }
      
      @include respond-to(small-down) {
        max-width: none;
      }*/
      
      ol#home_events {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        
        > li {
          margin-bottom: 10px;
          
          > div {
            display: inline-block;
            margin-right: -4px;
            width: 50%;
            vertical-align: top;
          }
          
          div.event_range {
            display: inline-block;
            width: 50%;
            text-align: right;
            margin-right: 0px;
          }
        }
      }
    }
    
    div#home_messages {
      /*@include respond-to(normal-up) {
        width: 55%;
        
        table#home_messages {
          width: 100%;
        }
      }*/
    }
  }

  div.home_pages {
    
    > h2 a {
      font-size: 24px;
    }
    
    > ul {
      list-style-type: none;
      margin: 0px;
      margin-bottom: 30px;
      padding: 0px;
    
      > li {
        display: inline-block;
        vertical-align: top;
        width: 180px;
        margin-right: 16px;
        
        &:nth-child(5n+5) {
          margin-right: 0px;
        }
        
        @include respond-to(small-down) {
          margin-right: 10px;
          
          &:nth-child(5n+5) {
            margin-right: 10px;
          }
        }
        
        @include respond-to(tiny) {
          display: block;
          width: 100%;
          height: auto;
          margin-right: 0px;
          margin-bottom: 10px;
        }
      
        .page_image {
          position: relative;
          width: 180px;
          height: 54px;
          overflow: hidden;
        
          img {
            width: 180px;
            height: 54px;
          }
        }
        
        .page_name a {
          font-size: 16px;
        }
      }
    }
  }
  
  #home_about {
    margin: 30px 0px;
    
    > h2 {
      display: inline-block;
    }
    
    ul {
      display: inline-block;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      
      li {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}
