body.design_morocco {
  
  /*#content.home {
    #site_header {
      h1 a {
        span {
          display: inline-block;
        
          @include respond-to(tiny) {
            display: none;
          }
        }
      }
      
      h2 {
        display: block;
        
        @include respond-to(tiny) {
          display: none;
        }
      }
    }
  }*/
}

@import 'home';
