@mixin icon-image($x, $y) {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: $images-file;
  background-position: $x $y;
  background-repeat: no-repeat;
  
  &:hover {
    background-position: $x ($y - 26px);
  }
  
  > img {
    display: none;
  }
}

body.design_morocco {
  
  a {
    font-weight: normal;
    color: $link-color;
    
    &:hover {
      opacity: 1.0;
      color: $link-hover-color;
    }
    
    &.icon {
      color: transparent;
      
      &:hover {
        color: transparent;
      }
      
      &.settings {
        @include icon-image(0px, 0px);
      }
      
      &.email {
        @include icon-image(-26px, 0px);
        height: 17px;
      }
      
      &.calendar {
        @include icon-image(-52px, 0px);
      }
    
      &.feed {
        @include icon-image(-78px, 0px);
      }
      
      &.video {
        @include icon-image(-104px, 0px);
        height: 17px;
        position: relative;
        top: 2px;
      }
      
      &.audio {
        @include icon-image(-130px, 0px);
        height: 17px;
        position: relative;
        top: 2px;
      }
      
      &.document {
        @include icon-image(-156px, 0px);
        height: 17px;
        position: relative;
        top: 2px;
      }
      
      &.previous {
        @include icon-image(0px, -52px);
      }
    
      &.next {
        @include icon-image(-26px, -52px);
      }
      
      &.list {
        @include icon-image(-52px, -52px);
      }
    
      &.grid {
        @include icon-image(-78px, -52px);
      }
    
      &.facebook {
        @include icon-image(-104px, -52px);
        width: 14px;
      }
      
      &.twitter {
        @include icon-image(-130px, -50px);
      }
    }
  }
  
  #content.home {
    #site_header {
      h1 a {
        span {
          display: inline-block;
        
          @include respond-to(tiny) {
            display: none;
          }
        }
      }
      
      h2 {
        display: block;
        
        @include respond-to(tiny) {
          display: none;
        }
      }
    }
  }
  
  #site_header {
    
    @include respond-to(tiny) {
      margin-top: 0px;
    }
    
    h1 {
      top: 2px;

      @include respond-to(small-down) {
        margin-top: 0px;
        top: 5px;
      }
      
      @include respond-to(tiny) {
        top: 0px;
      }

      a {
        position: relative;
        padding-left: 60px;
        line-height: 30px;
      
        img {
          display: inline-block;
          position: absolute;
          top: -14px;
          left: 0px;
          width: 48px;
          height: 48px;
        
          @include respond-to(small-down) {
            top: -5px;
            width: 32px;
            height: 32px;
          }
        }
        span {
          display: none;
          position: relative;
          top: 2px;
        }
      }
    }
    
    h2 {
      display: none;
      padding-left: 100px;
    }
    
    #site_controls {
      
      #site_nav {
        display: inline-block;
        vertical-align: top;
        margin-right: 30px;
        
        @include respond-to(small-down) {
          margin-right: 20px;
          margin-top: 6px;
        }
        
        @include respond-to(tiny) {
          position: absolute;
          top: -1px;
          right: 0px;
          margin-top: 0px
        }
        
        ul {
          display: none;
        }
      }
    
      #auth {
        vertical-align: top;
        
        @include respond-to(small-down) {
          margin-top: 10px;
          margin-right: 20px;
        }
        
        #settings {
          @include icon-image(0px, 0px);
        }
      }
    }
  }
  
  #breadcrumbs {
    position: absolute;
    top: 42px;
    left: 90px;
    right: auto;
    
    @include respond-to(small-down) {
      top: 30px;
      left: 60px;
    }
    
    @include respond-to(tiny) {
      top: 14px;
      display: none;
    }
    
    ul li {
      font-size: 16px;
      
      a {
        font-size: 16px;
      }
      
      &:first-child {
        a {
          font-size: 22px;
          color: #333;
        }
      }
    }
  }
  
  #page_header {
    
    h1 {
      display: none;
      
      &.active {
        display: inline-block;
      }
    }
    
    ul.nav {
      
      &.active {
        > li {
          display: none;
          
          &.active {
            display: inline-block;
          }
        }
      }
      
      > li {
        margin-right: 20px;
        font-weight: normal;
        
        &.active {
          color: #333;
          font-size: 28px;
        }
        
        a {
          font-weight: normal;
          background: none;
          padding: 5px 0px;
          font-size: inherit;
          
          &:hover {
            color: $link-hover-color;
          }
        }
      }
    }
    
    .page_admin a {
      font-weight: normal;
    }
    
    .page_control a {
      position: relative;
      top: 4px;
    }
  }
  
  #messages {
    .series_title {
      a {
        font-weight: bold;
      }
    }
  }
  
  #calendar_nav, #blog_nav {
    .icon.previous {
      @include icon-image(0px, -52px);
    }
    
    .icon.next {
      @include icon-image(-26px, -52px);
    }
  }
  
  #calendar_views {
    ul li {
      a, a:hover {
        opacity: 0.5;
        padding: 0px;
        margin-left: 5px;
        color: transparent;
        @include transition-none();
        
        &:hover {
          opacity: 1;
          color: transparent;
        }
      }
      
      &.active {
        a, a:hover {
          opacity: 1;
          color: transparent;
        }
      }
    }
  }
}

@import 'home';
