<section>
  
  <% if @podcast.page -%>
    <%= render :partial => 'pages/edit_header',
      :locals => {:active_aspect => 'podcast'} %>
  <% elsif @podcast.site -%>
    <%= render :partial => 'site/header' %>
  <% end -%>
  
  <%= render 'form' %>

</section>
