<!DOCTYPE html>
<html>
<%= render :partial => 'layouts/head' %>
<body>
    
  <%= react_component('App',
    render(template: 'layouts/_app.json.jbuilder'),
    { prerender: params[:noprerender].nil? }) %>

</body>
</html>
